<div class="content">
    <h1>Восстановление пароля</h1>

    <p>
        Для восстановления пароля укажите ваш email.
    </p>

    <form class="form form_restorePassword">
        <div class="form__field">
            <label class="form__label">Email</label>
            <input type="text"
                   class="inputText"
                   name="email"
                   autofocus />
        </div>
        <div class="form__controls">
            <button class="button" type="submit">
                Восcтановить
            </button>
        </div>
    </form>

</div>
