<div class="input-group inputNumber">

    <a class="inputNumber__countDown input-group-addon">
        <i class="fa fa-minus"></i>
    </a>

    <input class="form-control"
           type="text"
           name="<%- name %>"
           style="text-align: center"
           value="<%- formatAmount(value) %>">

    <a class="inputNumber__countUp input-group-addon">
        <i class="fa fa-plus"></i>
    </a>
</div>