<h1><%- model.id ? 'Редактирование отдела' : 'Создание отдела' %></h1>
<div class="form__field form__field_inline">
    <label class="form__label">Номер отдела</label>
    <input value="<%- model.get('number') %>" class="inputText" type="text" name="number"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Название отдела</label>
    <input value="<%- model.get('name') %>" class="inputText" type="text" name="name"/>
</div>
<div class="form__controls">
    <span lh-button class="button">
        <%- model.id ? 'Сохранить' : 'Добавить' %>
        <input type="submit"/>
    </span>
</div>
