<h3><%text model.id ? 'Редактирование отдела' : 'Создание отдела' %></h3>
<div class="form__field form__field_inline">
    <label class="form__label"><%text 'Номер отдела' %></label>
    <input value="<%- model.get('number') %>" class="inputText" type="text" name="number"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label"><%text 'Название отдела' %></label>
    <input value="<%- model.get('name') %>" class="inputText" type="text" name="name"/>
</div>
<div class="form__controls">
    <span class="button ">
        <%text model.id ? 'Сохранить' : 'Добавить' %>
        <input type="submit"/>
    </span>
</div>
