<div class="box">
    <h2><%= t('Пульт управления коммерческого директора') %></h2>
    <a class="button" href="/products"><%= t('Продукты') %></a>
    <a class="button" href="/catalog"><%= t('Каталог') %></a>
</div>

<div class="box">
    <h2><%= t('Консоль товароведа') %></h2>
    <a class="button" href="/invoices"><%= t('Накладные') %></a>
    <a class="button" href="/balance"><%= t('Остатки') %></a>
    <a class="button" href="/writeOffs"><%= t('Списания') %></a>
</div>

<div class="box">
    <h2><%= t('Алтарь администратора') %></h2>
    <a class="button" href="/users"><%= t('Пользователи') %></a>
</div>