<div class="box">
    <h2><%= LH.text('Пульт управления коммерческого директора') %></h2>
    <a class="button" href="/products"><%= LH.text('Продукты') %></a>
    <a class="button" href="/catalog"><%= LH.text('Каталог') %></a>
</div>

<div class="box">
    <h2><%= LH.text('Консоль товароведа') %></h2>
    <a class="button" href="/invoices"><%= LH.text('Накладные') %></a>
    <a class="button" href="/balance"><%= LH.text('Остатки') %></a>
    <a class="button" href="/writeOffs"><%= LH.text('Списания') %></a>
</div>

<div class="box">
    <h2><%= LH.text('Алтарь администратора') %></h2>
    <a class="button" href="/users"><%= LH.text('Пользователи') %></a>
</div>