/*spin*/
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/*stripe*/
@-webkit-keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

@-moz-keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

@-ms-keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

@-o-keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

@keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

/*content*/
@-webkit-keyframes content {
    from {
        -webkit-transform: translate3d(-100px, 0, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes content {
    from {
        -webkit-transform: translate3d(-100px, 0, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-ms-keyframes content {
    from {
        -webkit-transform: translate3d(-100px, 0, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-o-keyframes content {
    from {
        -webkit-transform: translate3d(-100px, 0, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes content {
    from {
        -webkit-transform: translate3d(-100px, 0, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}