[ lh_prop ] {
    width: 100%;
    margin: 0 0 1em;
    padding: 0;
    text-align: left;

    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    -moz-align-content: stretch;
    align-content: stretch;
}

[ lh_prop_name ] {
    display: inline-block;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 120pt;
    -ms-flex: 0 0 120pt;
    flex: 0 0 120pt;
    width: 120pt;
    
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    
    font-size: .9em;
    line-height: 1.5;
}

[ lh_prop_value ] {
    line-height: 1.5;
    
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 20em;
    -ms-flex: 1 1 20em;
    flex: 1 1 20em;
}
