<div class="inputDateRange input-daterange input-group">
    <span class="input-group-addon">с</span>
    <input name="dateFrom"
           type="text"
           class="form-control"
           value="<%- dateFrom %>">
    <span style="border-left: none; border-right: none;" class="input-group-addon">по</span>
    <input name="dateTo"
           type="text"
           class="form-control"
           value="<%- dateTo %>">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>