<!--BEGIN TITLE PAGE-->
<div class="page__head">

    <div class="page__title">Отчеты</div>

</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
					<ul class="page_reports__links">
                        <li>
                            <a href="/reports/profit/stores"
                               class="page_reports__link">Продажи и прибыль по сети <i class="fa fa-angle-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="/reports/profit/groups"
                               class="page_reports__link">Продажи и прибыль по товарам <i class="fa fa-angle-right pull-right"></i></a>
                        </li>
						<li>
                            <a href="/reports/stockBalance"
                               class="page_reports__link">Остатки товаров <i class="fa fa-angle-right pull-right"></i></a>
                        </li>
					</ul>
                </div>
			</div>
		</div>
    </div>
</div>
<!--END CONTENT-->