<% if (model) { %>

<div class="sale">
	<span class="sale__title">Чек на сумму <%- helpers.formatAmount(model.get('sumTotal')) %></span>
	<span role="button"
		  class="sale__refundButton btn btn-primary btn-md">Возврат</span>
</div>

<% } else { %>

<div class="alert alert-info">
	Чтобы посмотреть подробную информацию, выберите чек из списка
</div>

<% } %>