@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('26BB60_2_0.eot');
    src: url('26BB60_2_0.eot?#iefix') format('embedded-opentype'),url('26BB60_2_0.woff') format('woff'),url('26BB60_2_0.ttf') format('truetype');
    font-weight:normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('26BC17_2_0.eot');
    src: url('26BC17_2_0.eot?#iefix') format('embedded-opentype'),url('26BC17_2_0.woff') format('woff'),url('26BC17_2_0.ttf') format('truetype');
    font-weight:bold;
}