<tr name="invoice" href="/invoices/<%- model.id %>">
    <td name="acceptanceDate">
        <%- moment(model.get('acceptanceDate')).format('DD.MM.YYYY HH:mm') %>
    </td>
    <td name="sku">
        <%- model.get('sku') %>
    </td>
    <td name="supplier">
        <%- model.get('supplier') %>
    </td>
    <td>
        <span name="sumTotal"><%- LH.formatMoney(model.get('sumTotal')) %></span>
        <span>р.</span>
    </td>
    <td name="accepter">
        <%- model.get('accepter') %>
    </td>
</tr>
