.form_receipt__totalPrice, .form_receipt__totalPrice .fa {
    font-size: 28px;
    font-weight: bold;
    color: #0a819c;
}

.form_receipt__totalPrice .fa {
    font-size: 24px;
}

.form_receipt__change {
    display: none;
}

.form_refund__position {
    padding-bottom: 15px;
}

.form_refund__productName {
    font-size: 20px;
}

.form_refund .form_refund__position .form__errorMessage{
    text-align: right;
    padding-top: 5px;
    padding-right: 15px;
    clear: both;
}

.form_product__markup {
    height: 34px;
    line-height: 34px;
}
