<div class="page_storesProfit__total row">
	<div class="page_storesProfit__totalCell col-md-3">
		<div class="page_storesProfit__totalCaption">Продажи по сети, <i class="fa fa-rub"></i></div>
		<div class="page_storesProfit__totalValueBig">20 000,23</div>
	</div>
	<div class="page_storesProfit__totalCell col-md-3">
		<div class="page_storesProfit__totalCaption">Себестоимость по сети, <i class="fa fa-rub"></i></div>
		<div class="page_storesProfit__totalValue">9 000,11</div>
	</div>
	<div class="page_storesProfit__totalCell col-md-3">
		<div class="page_storesProfit__totalCaption">Прибыль по сети, <i class="fa fa-rub"></i></div>
		<div class="page_storesProfit__totalValue">20 000,00</div>
	</div>
</div>
