<%
/**
 *
 * @models.supplier
 */
%>

<% var partials = {
    form_supplier: require('ejs!blocks/form/form_supplier/template.ejs')
}%>

<div class="content">
    <h2>Добавить поставщика</h2>

    <%= partials.form_supplier({
        model: models.supplier
    }) %>
</div>