<% var helpers = {
    formatMoney: require('kit/formatMoney/formatMoney'),
    formatAmount: require('kit/formatAmount/formatAmount')
} %>

<% invoiceProducts.forEach(function(invoiceProductModel) { %>
    <tr>
        <td><%- invoiceProductModel.get('product.name') %></td>
        <td><%- helpers.formatMoney(invoiceProductModel.get('priceEntered')) %></td>
        <td><%- helpers.formatAmount(invoiceProductModel.get('quantity')) %> шт</td>
        <td><%- helpers.formatMoney(invoiceProductModel.get('totalPrice')) %></td>
        <td><a type="button" class="btn fa fa-times"></a></td>
    </tr>
<% }); %>