<% var currentUserModel = require('models/currentUser') %>
<% var templates = _.extend({
    select_suppliers: require('tpl!blocks/select/select_suppliers/template.html'),
    table_invoiceProducts: require('tpl!blocks/table/table_invoiceProducts/template.html'),
    totalSum: require('tpl!blocks/form/form_invoice/totalSum.html')
}, templates) %>
<% var moment = require('moment') %>

<form class="form form_invoice">
    <div class="form__field">
        <label class="form__label">Дата</label>
        <input value="<%- PAGE.models.invoice.get('acceptanceDate') || moment().valueOf() %>" type="text"
               class="inputText inputDate" name="acceptanceDate"/>
    </div>
    <div class="form__field">
        <label class="form__label">Поставщик</label>
        <%= templates.select_suppliers({
            selected: PAGE.models.invoice.get('supplier.id')
        }) %>
    </div>
    <div class="form__field">
        <label class="form__label">Приемщик</label>
        <input value="<%- PAGE.models.invoice.get('accepter') %>" type="text" class="inputText" name="accepter"/>
    </div>
    <div class="form__field">
        <label class="form__label">Организация получатель</label>
        <input value="<%- PAGE.models.invoice.get('legalEntity') %>" type="text" class="inputText" name="legalEntity"/>
    </div>
    <div class="form__field">
        <label class="form__label">Счет-фактура</label>
        <input value="<%- PAGE.models.invoice.get('supplierInvoiceNumber') %>" type="text" class="inputText"
               name="supplierInvoiceNumber"/>
    </div>
    <h2 style="padding-top: 20px;">Товары</h2>

    <%= templates.table_invoiceProducts() %>

    <div class="form__field" style="padding-bottom: 30px;">
        <input placeholder="Для добавления позиции введите наименование товара или код" style="width: 600px;"
               data-url="<%- LH.baseApiUrl + '/stores/' + currentUserModel.stores.at(0).id + '/search/products?properties[]=name&properties[]=sku' %>"
               type="text" class="inputText autocomplete"/>
    </div>
    <%= templates.totalSum() %>
    <div class="form__field">
        <label>
            <input style="vertical-align: middle" checked type="checkbox" name="includesVAT"/>
            <span style="vertical-align: middle">Включая НДС</span>
        </label>
    </div>
    <div class="form__controls">
        <button type="submit" class="button">
            Принять товары
        </button>
        <a style="margin-right: 20px;" href="/stores/<%- currentUserModel.stores.at(0).id %>/invoices">
            Отменить
        </a>
    </div>
</form>
