<div class="catalog__classItem" id="<%= catalogClass.id %>">
    <div class="catalog__classTitle">
        <a href="/catalog/<%= catalogClass.id %>" class="catalog__classLink"><%t catalogClass.name %></a>
        <a classId="<%= catalogClass.id %>" class="editor__editLink catalog__editClassLink"></a>
    </div>
    <% if(catalogClass.groups && catalogClass.groups.length) { %>
        <ul class="catalog__classGroupList">
            <%= block.templates.groupList({
                block: block,
                classGroups: catalogClass.groups,
                catalogClass: catalogClass
            }) %>
        </ul>
    <% } else { %>
        <div>Нет групп</div>
    <% } %>
</div>