<div class="catalog__classItem" id="<%= catalogClassModel.id %>">
    <div class="catalog__classTitle">
        <a href="/catalog/<%= catalogClassModel.id %>" class="catalog__classLink"><%t catalogClassModel.get('name') %></a>
        <a classId="<%= catalogClassModel.id %>" class="editor__editLink catalog__editClassLink"></a>
    </div>
    <% if(catalogClassModel.get('groups') && catalogClassModel.get('groups').length) { %>
        <ul class="catalog__classGroupList">
            <%= block.templates.groupList({
                block: block,
                groupsCollection: catalogClassModel.groups
            }) %>
        </ul>
    <% } else { %>
        <div><%t 'Нет групп' %></div>
    <% } %>
</div>