<div class="page__controls">
    <a class="page__controlsLink">Редактировать</a>
    <a class="page__controlsLink">Завершить редактирование</a>
</div>
<h3>Товарный справочник</h3>
<div class="catalog__controls">
    <a class="button button_color_blue catalog__addClassLink">
        Добавить класс
    </a>
</div>
<div class="catalog__classList">
    <div class="catalog__classItem">
        <div class="catalog__classTitle">
            <a href="/catalog/1" class="catalog__classLink">Класс 1</a>
        </div>
        <div class="catalog__classGroupList">
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 1</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 2</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 3</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 4</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 5</a>
        </div>
    </div>
    <div class="catalog__classItem">
        <div class="catalog__classTitle">
            <a href="/catalog/1" class="catalog__classLink">Класс 2</a>
        </div>
        <div class="catalog__classGroupList">
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 1</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 2</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 3</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 4</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 5</a>
        </div>
    </div>
    <div class="catalog__classItem">
        <div class="catalog__classTitle">
            <a href="/catalog/1" class="catalog__classLink">Класс 3</a>
        </div>
        <div class="catalog__classGroupList">
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 1</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 2</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 3</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 4</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 5</a>
        </div>
    </div>
    <div class="catalog__classItem">
        <div class="catalog__classTitle">
            <a href="/catalog/1" class="catalog__classLink">Класс 4</a>
        </div>
        <div class="catalog__classGroupList">
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 1</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 2</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 3</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 4</a>
            <a href="/catalog/1/2" class="catalog__groupLink">Группа 5</a>
        </div>
    </div>
</div>
