<%
/**
 *
 * @supplierModel
 */
%>
<a style="visibility: <%- supplierModel.get('agreement.url') ? 'visible' : 'hidden' %>"
   data-navigate="0"
   class="button select_suppliers__agreementLink"
   href="<%- supplierModel ? supplierModel.get('agreement.url') : '' %>">
    Скачать договор
</a>