<%
/**
 *
 * @collections.suppliers
 */
%>
<% var selected = selected || null %>
<% var partials = {
    agreementLink: require('tpl!blocks/select/select_suppliers/agreementLink.ejs')
} %>

<div class="select_suppliers">

    <select class="select" name="supplier">
        <option value="" selected disabled>Выберите поставщика</option>
        <% collections.suppliers.forEach(function(supplierModel){ %>
        <option <%- selected === supplierModel.id ? 'selected' : '' %>
                value="<%- supplierModel.id %>"><%- supplierModel.get('name') %>
        </option>
        <% }) %>
    </select>

    <% if (collections.suppliers.get(selected)){ %>
    <%= partials.agreementLink({
        supplierModel: collections.suppliers.get(selected)
    }) %>
    <% } %>
</div>
