.catalogClass__rightSide{
    float: right;
    padding: 0 0 0 40px;
    width: 200px;
}

.catalogClass__classList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalogClass__listTitle{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.catalogClass__listLink{
    display: block;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: -1px;
    padding: 8px 10px;
    text-decoration: none;
}

.catalogClass__listLink:hover{
    background: #fafafa;
}