.radioGroup {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 10px 0 0;
    outline: none;
    white-space: nowrap;
}

.radioGroup label{
    margin-bottom: 0;
    margin-right: -4px;
    display: inline-block;
}

.radioGroup__text{
    padding: 0 16px;
    height: 34px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}

.radioGroup input{
    display: none;
}

.radioGroup input:checked ~ .radioGroup__text{
    background-color: #0a819c;
    border-color: #0a819c;
    z-index: 10;
    color: #fff;
}