<% var templates = {
    localNavigation: require('tpl!blocks/localNavigation/localNavigation_suppliers.html'),
    form_supplier: require('tpl!blocks/form/form_supplier/template.html')
} %>

<% var models = _.extend({
    supplier: new Backbone.Model()
}, obj.models) %>

<% if (LH.isAllow('suppliers', 'POST')) { %>
<%= templates.localNavigation(obj) %>
<% } %>

<div class="page__data">
    <h2><%- models.supplier.get('name') %></h2>

    <%= templates.form_supplier({
        model: models.supplier
    }) %>
</div>