<div class="page__header">
    <a href="/catalog" class="page__backLink"><%- 'Товарный справочник' %></a>
    <span class="page__backLinkSeparator">/</span>
    <a href="/catalog/<%- productModel.get('group').id %>" class="page__backLink"><%- productModel.get('group').name %></a>
    <span class="page__backLinkSeparator">/</span>
    <a href="/catalog/<%- productModel.get('group').id %>/<%- productModel.get('category').id %>" class="page__backLink"><%- productModel.get('category').name %></a>
    <span class="page__backLinkSeparator">/</span>
    <a href="/catalog/<%- productModel.get('group').id %>/<%- productModel.get('category').id %>/<%- productModel.get('subcategory').id %>" class="page__backLink"><%- productModel.get('subcategory').name %></a>
</div>
<form id="form_product"></form>
