<!-- @productModel -->
<!-- @productInvoicesCollection -->
<!-- @currentUserModel -->

<% var table_productInvoices = require('tpl!blocks/table/table_productInvoices/table_productInvoices.html'); %>

<% var templates = {
    localNavigation: require('tpl!./localNavigation.html')
}%>

<%= templates.localNavigation({
    localNavigationActiveLink: 'invoices',
    productModel: productModel
}) %>

<div class="page__data">

    <h1 name="name" class="product__name">
        <%= productModel.name %>
    </h1>

    <div class="product__sku" name="sku">
        <%- productModel.sku %>
    </div>

    <% if(productInvoicesCollection.length) { %>
        <%= table_productInvoices({
            collection: productInvoicesCollection
        }) %>
    <% } else { %>
        <h2>Приходов товара еще не было</h2>
    <% } %>
</div>