<%
/**
 *
 * @productModel
 * @productReturnsCollection
 * @currentUserModel
 */
%>

<% var table_productReturns = require('ejs!blocks/table/table_productReturns/table_productReturns.html'); %>


<% var templates = {
    localNavigation: require('ejs!./localNavigation.html')
}%>

<%= templates.localNavigation({
    localNavigationActiveLink: 'returns',
    productModel: productModel
}) %>

<div class="page__data">

    <h1 name="name" class="product__name">
        <%= productModel.name %>
    </h1>

    <div class="product__sku" name="sku">
        <%- productModel.sku %>
    </div>

    <% if(productReturnsCollection.length) { %>
    <%= table_productReturns({
        collection: productReturnsCollection
    }) %>
    <% } else { %>
    <h2>Возвратов товара еще не было</h2>
    <% } %>
</div>