<div class="page__header">
    <a href="/catalog" class="page__backLink"><%- 'Товарный справочник' %></a>
    <span class="page__backLinkSeparator">/</span>
    <a href="/catalog/<%- productModel.get('subCategory').category.group.id %>" class="page__backLink"><%- productModel.get('subCategory').category.group.name %></a>
    <span class="page__backLinkSeparator">/</span>
    <a href="/catalog/<%- productModel.get('subCategory').category.group.id %>/<%= productModel.get('subCategory').category.id %>" class="page__backLink"><%- productModel.get('subCategory').category.name %></a>
    <span class="page__backLinkSeparator">/</span>
    <a href="/catalog/<%- productModel.get('subCategory').category.group.id %>/<%= productModel.get('subCategory').category.id %>/<%= productModel.get('subCategory').id %>" class="page__backLink"><%- productModel.get('subCategory').name %></a>
</div>
<div class="box" id="product"></div>