<!-- @currentUserModel -->
<!-- @productModel -->

<div class="localNavigation">
    <a class="localNavigation__link localNavigation__link_active" href="/products/<%- productModel.id %>">Свойства</a>
    <% if (LH.isAllow('stores/{store}/products/{product}', 'GET') && currentUserModel.stores.length) { %>
        <a class="localNavigation__link" href="/products/<%- productModel.id %>/invoices">Приходы</a>
        <a class="localNavigation__link" href="/products/<%- productModel.id %>/writeoffs">Списания</a>
    <% } %>
</div>

<div style="margin-left: 285px;">

    <div id="product"></div>

</div>