<form class="form_receipt"
      id="<%- get('id') %>">

    <div class="form-group form_receipt__change pull-right" style="padding-bottom: 20px;">
        <label>
            <b>Сдача</b>
        </label>

        <div name="change" class="form_receipt__totalPrice">
            {calculateChange < data.amountTendered} <i class="fa fa-rub"></i>
        </div>

    </div>

    <div class="form-group" style="padding-bottom: 20px;">
        <label>
            <b>Сумма к оплате</b>
        </label>

        <div name="totalPrice" class="form_receipt__totalPrice">
            <%- calculateTotalPrice() %> <i class="fa fa-rub"></i>
        </div>

    </div>

    <div class="form-group" style="padding-bottom: 30px;">
        <label>Оплата</label>

        <div>
            <div class="radioGroup">
                <label>
                    <input type="radio" name="paymentType"
                           value="cash" <%- data.paymentType === 'cash' && 'checked' %> />

                    <div class="radioGroup__text">
                        Наличными
                    </div>
                </label>

                <label>
                    <input type="radio" name="paymentType"
                           value="card" <%- data.paymentType === 'card' && 'checked' %> />

                    <div class="radioGroup__text">
                        Банковской картой
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group form_receipt__cashInput">
        <label><b>Внесенная сумма наличными</b></label>

        <input name="amountTendered"
               type="text"
               rv-live-value="data.amountTendered"
               class="form-control"
               autofocus>
    </div>
</form>