.store__info{
    width: 50%;
    margin-bottom: 30px;
}

.store__departments{
    width: 50%;
}

.store__departments thead{
    display: none;
}

.store__managers{
    padding-bottom: 30px;
}

.store__managerList{
    padding-bottom: 10px;
    width: 50%;
}

.store__managerItem{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
}