.store__info{
    width: 50%;
    margin-bottom: 30px;
}

.store__departments{
    width: 50%;
}

.store__departments thead{
    display: none;
}

.store__storeManagers,
.store__departmentManagers {
    padding-bottom: 30px;
    width: 50%;
}

.store__managerList,
.store__departmentManagerList{
    padding-bottom: 10px;
}

.select_storeManagers{
    width: 50%;
}

.store_departmentManagers{
    width: 50%;
}

.store__storeManagerItem,
.store__departmentManagerItem{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
    position: relative;
}

.store__storeManagerItem.preloader_rows .store__storeManagerRemoveLink,
.store__departmentManagerItem.preloader_rows .store__departmentManagerRemoveLink{
    visibility: hidden;
}

.store__storeManagerItem:hover,
.store__departmentManagerItem:hover{
    background-color: #fffee2;
}

.store__storeManagerRemoveLink,
.store__departmentManagerRemoveLink{
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
    float: right;
    position: relative;
    top: 50%;
    margin-top: -1px;
}

.store__managersNotification{
    display: none;
}