.store__info{
    width: 50%;
    margin-bottom: 30px;
}

.store__departments{
    width: 50%;
}

.store__departments thead{
    display: none;
}

.store__managers{
    padding-bottom: 30px;
    width: 50%;
}

.store__managerList{
    padding-bottom: 10px;
}

.select_storeManagers{
    width: 50%;
}

.store__managerItem{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
    position: relative;
}

.store__managerItem.preloader_rows .store__managerRemoveLink{
    visibility: hidden;
}

.store__managerItem:hover{
    background-color: #fffee2;
}

.store__managerRemoveLink{
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
    float: right;
    position: relative;
    top: 50%;
    margin-top: -1px;
}