.datepicker{
    width: 274px;
}

.datepicker__prevMonthLink{
    float: left;
}

.datepicker__nextMonthLink{
    float: right;
}

.datepicker__header{
    text-align: center;
    padding: 0 0 10px;
    font-size: 22px;
}

.datepicker__monthName{
    margin-right: 10px;
}

.datepicker__dateList{
    padding-bottom: 20px;
    float: left;
    width: 100%;
}

.datepicker__dateItem{
    float: left;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 -1px -1px 0;
    border: 1px solid #bababa;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.datepicker__dateItem_otherMonth{
    color: #ccc;
    border-color: #dedede;
    z-index: 1;
}

.datepicker__controlLinks{
    text-align: center;
    position: relative;
    top: 5px;
}

.datepicker__dateItem_now{
    z-index: 20;
    border-color: #999;
    box-shadow: 0 0 0 2px #999 inset;
}

.datepicker__daysOfWeek {
    overflow: hidden;
    font-size: 12px;
    color: #555;
    padding-bottom: 5px;
}

.datepicker__dayOfWeek{
    width: 40px;
    text-align: center;
    float: left;
    margin: 0 -1px 0 0;
}

.datepicker__dateItem_selected{
    background: #e2e2e2;
    box-shadow: 1px 1px 2px #999 inset;
    border-color: #777;
    z-index: 30;
}

.datepicker__timeControls{
    padding-bottom: 20px;
}

.datepicker__timeControls .inputText{
    width: 50px;
    text-align: center;
}

.datepicker__timeControlsSpacer{
    vertical-align: middle;
    padding: 0 5px;
}

.datepicker__timeControlsLabel{
    vertical-align: middle;
    padding-right: 10px;
}

.datepicker__saveLink{
    float: right;
    margin: 0;
}

.datepicker_noTime .datepicker__timeControls{
    display: none;
}