<div class="autocomplete__suggestion">

    <% if (query.length >= 3) { %>

    <% if (data.length) { %>

    <% _.forEach(data, function(item){ %>
        <div>
            <%- item.name %>
        </div>
    <% }) %>

    <% } else { %>

    <div>По запросу <b><%- query %></b> товаров не найдено.</div>

    <% } %>

    <% } %>

    <% if (query.length < 3) { %>

    <div>Для поиска товаров введите 3 и более символа</div>

    <% } %>

</div>