<% if (LH.isAllow('subcategories', 'POST')) { %>
<div class="page__controls">
    <a class="page__controlsLink editor__on">Редактировать</a>
    <a class="page__controlsLink editor__off">Завершить редактирование</a>
</div>
<% } %>

<h1>
    <span style="vertical-align: middle">
        <%= LH.modelNode(catalogCategoryModel, 'name') %>
    </span>
    <a class="editor__editLink catalog__editCategoryLink"></a>
    <a lh-button class="button catalog__addSubCategoryLink editor__control">
        Добавить подкатегорию
    </a>
</h1>
<div class="page__tabs">
    <div class="page__tabItem page__tabItem_active" rel="subCategoryList">
        Подкатегории
    </div>
    <% if(LH.isAllow('categories', 'PUT::{category}')) { %>
    <div class="page__tabItem" rel="categoryProperties">
        Свойства
    </div>
    <% } %>
</div>
<div class="page__tabsContent">
    <div class="page__tabContentItem page__tabContentItem_active" rel="subCategoryList">
        <div id="catalogCategory__subCategoryList">
            <%= templates.catalogCategory__subCategoryList({
            templates: templates,
            catalogSubCategoriesCollection: catalogSubCategoriesCollection
            }) %>
        </div>

        <div class="catalogCategory__productList">
            <h4>
                <span class="catalogCategory__productListTitle">Список товаров</span>
                <a lh-button style="margin-left: 15px;" href="/products/create?subCategory=<%- catalogSubCategoryId %>"
                   class="button catalogCategory__addProductLink editor__control">
                    Добавить товар
                </a>
            </h4>
            <div class="page__tabs">
                <div class="page__tabItem page__tabItem_active" rel="productList">
                    Продукты
                </div>
                <% if(LH.isAllow('subcategories', 'PUT::{subCategory}')) { %>
                <div class="page__tabItem" rel="subCategoryProperties">
                    Свойства
                </div>
                <% } %>
            </div>
            <div class="page__tabsContent">
                <div class="page__tabContentItem page__tabContentItem_active" rel="productList">
                    <div class="catalogCategory__productListNotification">
                        Нет продуктов
                    </div>
                    <table class="table table_products"></table>
                </div>
                <% if(LH.isAllow('subcategories', 'PUT::{subCategory}')) { %>
                <div class="page__tabContentItem" rel="subCategoryProperties">
                    <form id="form_catalogSubCategoryProperties" class="form"></form>
                </div>
                <% } %>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <% if(LH.isAllow('categories', 'PUT::{category}')) { %>
    <div class="page__tabContentItem" rel="categoryProperties">
        <form id="form_catalogCategoryProperties" class="form"></form>
    </div>
    <% } %>
</div>

