window.CONFIG = {
    version: 46,
    baseUrl: 'http://<%= api_url %>',
    baseApiUrl: 'http://<%= api_url %>/api/1',
    clientId: 'webfront_webfront',
    clientSecret: 'secret',
    debugLevel: 2,
    googleAnalyticsId: '<%= google_analytics_id %>'
};