/* fonts */
@import "fonts/googleRoboto.css";
/* bower_components */
@import "bower_components/fontawesome/css/font-awesome.min.css";
@import "bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "bower_components/bootstrap-datepicker/css/datepicker.css";
/* blocks */
@import "blocks/confirmLink/confirmLink.css";
@import "blocks/checkbox/checkbox.css";
@import "blocks/groupList/groupList.css";
@import "blocks/autocomplete/autocomplete.css";
@import "blocks/page/page.css";
@import "blocks/productFinder/productFinder.css";
@import "blocks/receiptFinder/receiptFinder.css";
@import "blocks/modal/modal.css";
@import "blocks/form/form.css";
@import "blocks/receipt/receipt.css";
@import "blocks/radioButton/radioButton.css";
@import "blocks/radioGroup/radioGroup.css";
@import "blocks/modal/modal.css";
@import "blocks/sale/sale.css";
@import "blocks/sideBar/sideBar.css";
@import "blocks/inputNumber/inputNumber.css";
@import "blocks/table/table.css";
@import "blocks/removeLink/removeLink.css";
@import "blocks/select/select.css";
@import "blocks/inputDateRange/inputDateRange.css";
@import "blocks/removeButton/removeButton.css";
@import "blocks/totalResults/totalResults.css";

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    color: #999999;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    line-height: 1.42857143;
    background-color: #f0f2f5;
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background-color: #d40000;
    z-index: 300;
    -webkit-transition: -webkit-transform 0, opacity 0;
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform 0, opacity 0;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

body[status="loading"]:before {
    -webkit-transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 4s, opacity 1s;
    transform: translate3d(70%, 0, 0);
    transition: transform 4s, opacity 1s;
    opacity: 1;
}

body[status="loading"] * {
    cursor: progress !important;
}

body[status="loaded"]:before {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 1s, opacity 1s;
    transform: translate3d(100%, 0, 0);
    transition: transform 1s, opacity 1s;
}

a, [href] {
    cursor: pointer;
}

a {
    color: #428bca;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #0a819c;
    text-decoration: none;
}

a:hover .fa {
    color: #0a819c;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

label {
    font-weight: normal;
}

.loading {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    background-size: 40px 40px !important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%, transparent 75%, transparent) !important;
}

input.invalid,
.form-control.invalid {
    border-color: #db4c4a;
}

input.invalid:focus,
.form-control.invalid:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(217, 74, 74, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(217, 74, 74, .6);
}

select.loading, input.loading {
    background-color: #eee !important;
}

.datepicker.dropdown-menu {
    margin-top: -1px;
}

.dropdown-menu {
    padding: 5px 0;
}

.dropdown-menu-item {
    cursor: pointer;
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-menu-item:hover {
    background-color: #f4f4f4;
}

.btn,
.form-control,
.input-group-addon,
.datepicker td,
.datepicker th,
.datepicker,
.alert,
.panel,
.dropdown-menu,
.list-group-item,
.popover {
    border-radius: 0 !important;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #0a819c;
    background-image: none;
}

.btn {
    outline: none !important;
}

.btn-md {
    padding: 9px 24px;
}

.btn-default {
    color: #999999;
    background-color: #efefef;
    border-color: #e5e5e5;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #efefef;
    border-color: #e5e5e5;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #999999;
}

.btn-primary {
    color: #ffffff;
    background-color: #0a819c;
    border-color: #097992;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #0a819c;
    border-color: #097992;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #086176;
    border-color: #064a59;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    background-image: none !important;
}

.btn-transparent {
    color: #0a819c !important;
    border-color: #097992;
    background-color: transparent;
}

.tether-element {
    z-index: 1000;
    display: none;
}

.tether-enabled {
    display: block;
}

.panel-body .alert:last-child {
    margin-bottom: 0;
}

