<div class="form__field form__field_inline">
    <label class="form__label">Url</label>
    <input class="inputText"
           type="text"
           value="<%= set10IntegrationUrl.value %>"
           name="set10-integration-url"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Логин</label>
    <input class="inputText"
           type="text"
           value="<%= set10IntegrationLogin.value %>"
           name="set10-integration-login"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Пароль</label>
    <input class="inputText"
           type="password"
           value="<%= set10IntegrationPassword.value %>"
           name="set10-integration-password"/>
</div>
<div class="form__controls">
    <span lh-button class="button">
        Сохранить настройки экспорта
        <input type="submit"/>
    </span>
</div>