.box{
    background: white;
    display: block;
    text-align: left;
    padding: 20px;
    box-shadow: 0 1px 0 rgba( 255, 255, 255, 0.3 ) inset;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 2px solid #BDC3C7;
    margin: 0 0 20px;
}

.box .form__controls{
    margin-left: -20px;
    margin-bottom: -20px;
    margin-right: -20px;
    border-radius: 0 0 5px 5px;
}