<% var partials = {
    form_companyOrganization: require('ejs!blocks/form/form_companyOrganization/template.ejs')
} %>

<div class="content">
    <h1>Добавление организации</h1>

    <%= partials.form_companyOrganization() %>
</div>