<!--
    @block.classModel
-->

<form class="form">
    <div class="form__field" style="white-space: nowrap; padding-bottom: 0;">
        <input value="<%t block.classModel.get('name') %>" style="width: 250px;" class="inputText" type="text" name="name" placeholder="Название класса">
        <span class="button button_color_blue">
            Подтвердить
            <input type="submit">
        </span>
        <a class="tooltip__closeLink" style="vertical-align: middle">Отмена</a>
    </div>
</form>