<% var InvoiceProductCollections = require('collections/invoiceProducts') %>
<% var collections = _.extend({
    invoiceProducts: new InvoiceProductCollections
}, collections) %>

<% if (collections.invoiceProducts.length) { %>
<table class="table" style="margin-bottom: 30px;">
    <thead>
    <tr>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Сумма</th>
        <th>НДС</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% collections.invoiceProducts.forEach(function(invoiceProductModel){ %>
    <tr data-product_cid="<%- invoiceProductModel.cid %>" class="table__invoiceProduct" name="invoiceProduct">
        <td>
            <%- invoiceProductModel.get('product.product.name') %>
        </td>
        <td>
            <div style="white-space: nowrap">
                <input data-name="quantity" autofocus type="text" class="inputText"
                       value="<%- LH.formatAmount(invoiceProductModel.get('quantity')) %>"/>
                <span class="table__invoiceProduct__editable" name="quantity">
                    <%- LH.formatAmount(invoiceProductModel.get('quantity')) %>
                </span>
                <span name="productUnits">
                    <%- LH.units(invoiceProductModel.get('product.product.units'), 'smallShort') %>
                </span>
            </div>
        </td>
        <td>
            <div style="white-space: nowrap">
                <input data-name="quantity" type="text" class="inputText"
                       value="<%- LH.formatMoney(invoiceProductModel.get('product.product.purchasePrice')) %>"/>
                <span class="table__invoiceProduct__editable" name="priceEntered">
                    <%- LH.formatMoney(invoiceProductModel.get('product.product.purchasePrice')) %>
                </span>
                <span>
                    руб.
                </span>
            </div>
        </td>
        <td></td>
        <td></td>
        <td>
            <i class="icon-remove-sign form_invoice__removeProductLink" data-product_cid="<%- invoiceProductModel.cid %>"></i>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% } else { %>
<span></span>
<% } %>