.productForm{

}

.productForm__inputLink{
    vertical-align: middle;
    display: none;
    color: #336699;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}

.productForm__inputLinkText{
    border-bottom: 1px dashed;
    line-height: normal;
}

.productForm__hiddenInput{
    display: none;
}

.productForm__hiddenInput + .productForm__inputLink{
    display: inline-block;
}

.productForm__hiddenInput ~ .inputText__postfix{
    display: none;
}

.productForm__productTypeRadio input:not(:checked) + label {
    color: #999;
    text-decoration: underline;
}

.productForm__productTypeRadio label {
    margin-right: 40px;
}

.productForm__rounding{
    vertical-align: middle;
    color: #555;
    font-size: 11px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
}

.productForm__rounding.preloader_spinner:after{
    width: 10px;
    height: 10px;
    border-width: 2px;
    left: auto;
    right: -20px;
    margin: -7px 0 0 0;
}

.productForm__rounding.preloader_spinner{
    min-height: 0;
}

.form_product .form__field_disabled *{
    display: none;
}

.form_product .form__field_disabled .productForm__disableHint, .form_product .form__field_disabled .form__label{
    display: inline-block;
}

.productForm__disableHint{
    display: none;
    font-size: 11px;
    color: #555;
}