[ lh_link ]{
    text-decoration: none;
    color: #219ada;
    cursor: pointer;
    font-weight: bold;
    color: #2286e0;
    opacity: .85;
    font-size: .75;
}

[ lh_link ]:hover {
    opacity: .99;
}

[ lh_link_close ] {
    vertical-align: middle;
    display: inline-block;
}
