<% if (sortedCollection.length) { %>
<table class="table table-striped table-hover table_stockSell">
    <thead>
    <tr>
        <th data-sort-by="name">
            Группа
        </th>
        <th data-sort-by="grossSales">
            Продажи
        </th>
        <th data-sort-by="costOfGoods">
            Себестоимость
        </th>
        <th data-sort-by="grossMargin">
            Прибыль
        </th>
    </tr>
    </thead>
    <tbody name="stockSell">

    <% sortedCollection.forEach(function(stockSellModel){ %>
    <tr href="<%- groupUrl(stockSellModel) %>">
        <td class="table_stockSell__groupName">
            <%- stockSellModel.get('name') %>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% } else { %>
<div class="alert alert-info">
    Ассортимент пуст. Добавьте хотя бы один товар.
</div>
<% } %>