<!--BEGIN TITLE PAGE-->
<div class="page__head">

    <div class="pull-right">
        <span data-modal="modal_store"
              data-store-id="0"
              role="button"
              class="btn btn-primary btn-md">Добавить магазин</span>
    </div>

    <div class="page__title">
        Магазины
    </div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">
        <div class="col-md-12">

            <b block="storeList"></b>

        </div>
    </div>
</div>
<!--END CONTENT-->

<b block="modal_store"></b>