<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span data-modal="modal_store"
              data-store-id="0"
              role="button"
              class="btn btn-primary btn-md">Добавить магазин</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">

            Магазины
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">

            <b block="storeList"></b>

        </div>
    </div>
</div>
<!--END CONTENT-->

<div class="modal__wrapper">
    <b block="modal_store"></b>
</div>