<div class="tooltip tooltip_datepicker">
    <div class="datepicker"></div>
    <div class="tooltip_datepicker__controls">
        <a class="button tooltip__closeLink tooltip_datepicker__saveLink">Сохранить</a>
        <a class="button tooltip_datepicker__nowLink">Сейчас</a>
    </div>
</div>