<form id="<%- id %>" class="form form_receiptProduct">

    <div style="padding-bottom: 20px;">
        <h4>
            <%- model.models.product.get('name') %>
        </h4>

        <div style="font-size: 11px;">
            <%- model.models.product.get('barcode') %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Цена продажи, <i class="fa fa-rub"></i></label>
                <input autofocus
                       class="form-control"
                       type="text"
                       name="sellingPrice"
                       rv-live-value="data.sellingPrice">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Количество, <%- model.models.product.get('units') %> </label>
                <input class="form-control"
                       type="text"
                       name="count"
                       rv-live-value="data.count">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Стоимость, <i class="fa fa-rub"></i></label>

                <div style="padding-top: 7px;">
                    {{calculateItemPrice < data.count data.sellingPrice}}
                </div>

            </div>
        </div>
    </div>
</form>