.groupList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.groupList__link {
    display: block;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    padding: 10px 15px;
    margin-bottom: 4px;
}

.groupList__link .fa{
    font-size: 20px;
    font-weight: bold;
    margin-right: -10px;
}

.groupList__link:hover{
    background-color: #f4f4f4;
}