<%
/**
 *
 * @collections.organizations
 */
%>

<div class="content">
    <h1>Компания</h1>

    <h2>Организации</h2>

    <% collections.organizations.forEach(function(organizationModel){ %>
    <div style="padding-bottom: 20px;">
        <a href="/company/organizations/<%- organizationModel.id %>">
            <%- organizationModel.get('name') %>
        </a>
    </div>
    <% }) %>
</div>