<form id="form_passwordChanging" class="form form_passwordChanging">
    <div class="form__header">
        <button type="submit" class="btn btn-primary pull-right" disabled>Сохранить</button>
        <h4 class="form__title">
            Пароль
        </h4>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Старый пароль</label>

                <input name="password"
                       type="text"
                       class="form-control">

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Новый пароль</label>

                <input name="newPassword"
                       type="text"
                       class="form-control">

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">

                <label class="control-label">Подтвердите новый пароль</label>

                <input name="repeated"
                       type="text"
                       class="form-control">

            </div>
        </div>

        </div>
    </div>
</form>