<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="page-header pull-left">
        <div class="page-title">

            <a href="/reports"
               class="fa fa-long-arrow-left"
               style="font-size: 25px; margin-right: 10px;"></a>

            Продажи и прибыль по товарам

        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

</div>
<!--END CONTENT-->