<div tabindex="-1"
     class="modal modal_stockIn">

    <div class="modal__dialog_visible modal__dialog_stockIn modal-dialog modal-wide-width">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button"
                   data-dismiss="modal"
                   aria-hidden="true"
                   class="close pull-left fa fa-times"></a>

                <button form="form_stockIn"
                        type="submit"
                        class="btn btn-primary pull-right">
                    <%- models.stockIn.id ? 'Сохранить' : 'Оприходовать' %>
                </button>

                <h4 class="modal-title">
                    <%- models.stockIn.id ? 'Редактирование оприходования' : 'Оприходование товаров' %>
                </h4>

                <span class="clearfix"></span>
            </div>
            <div class="modal-body">

                <b block="form_stockIn"></b>

                <hr style="margin: 0 -65px;"/>

                <h3>Товары</h3>

                <b block="form_stockInProducts"></b>

                <% if (models.stockIn.id) { %>
                <div style="margin-top: 40px; margin-left: -10px;" class="confirmLink">

                    <div class="confirmLink__trigger">
                        <span class="removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Удалить оприходование
                        </span>
                    </div>

                    <div class="confirmLink__confirmation">
                        <span class="removeLink stockIn__removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Подтвердить удаление
                        </span>
                    </div>

                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>