<% var helpers = {
    formatMoney: require('kit/formatMoney/formatMoney'),
    formatAmount: require('kit/formatAmount/formatAmount'),
    formatDate: require('kit/formatDate/formatDate')
} %>

<div tabindex="-1"
     role="dialog"
     aria-labelledby="modal-default-label"
     aria-hidden="true"
     class="modal modal_stockIn fade"
     style="display: none;">
    <div class="modal__dialog_visible modal__dialog_stockIn modal-dialog modal-wide-width">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button"
                   data-dismiss="modal"
                   aria-hidden="true"
                   class="close pull-left fa fa-times"></a>

                <button form="form_stockIn"
                        type="submit"
                        class="btn btn-primary pull-right">
                    <%- models.stockIn.id ? 'Сохранить' : 'Оприходовать' %>
                </button>

                <h4 class="modal-title">
                    <%- models.stockIn.id ? 'Редактирование оприходования' : 'Оприходование товаров' %>
                </h4>

                <span class="clearfix"></span>
            </div>
            <div class="modal-body">

                <b block="form_stockIn"></b>

                <hr style="margin: 0 -65px;"/>
                <h3>Товары</h3>

                <form class="form_stockInProducts">
                    <table class="table_stockInProducts table table-vcenter" style="margin: 0 -10px;">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th style="white-space: nowrap; width: 1px;">Цена, <i class="fa fa-rub"></i></th>
                            <th style="width: 1px;">Кол-во</th>
                            <th style="white-space: nowrap; width: 1px;">Сумма, <i class="fa fa-rub"></i></th>
                            <th style="width: 1px;"></th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>
                        <tfoot>

                        <tr class="form_stockInProducts__inputs">
                            <td>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input name="product.name"
                                               type="text"
                                               class="form-control autocomplete autocomplete_products">
                                        <input type="hidden" name="product.id"/>
                                    </div>
                                    <div class="col-md-2">
                                        <a style="font-size: 20px; position: relative; top: 10px; left: -10px; cursor: pointer;"
                                           class="addProductLink fa fa-plus"></a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input name="priceEntered"
                                       type="text"
                                       style="width: 100px;"
                                       class="form-control">
                            </td>
                            <td>
                                <div style="white-space: nowrap">
                                    <input name="quantity"
                                           type="text"
                                           style="width: 80px; display: inline-block;"
                                           class="form-control">
                                    <span style="position: relative; padding: 0 5px;" class="product__units">шт.</span>
                                </div>
                            </td>
                            <td>
                                <span style="white-space: nowrap; min-width: 100px; position: relative; top: 7px;"
                                      class="totalSum"></span>
                            </td>
                            <td>
                                <button type="submit"
                                        style="margin-top: 0;"
                                        class="addInvoiceProduct btn btn-default fa fa-check btn-lg"></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                Итого
                            </td>
                            <td class="stockIn__totalSum" colspan="2">
                                <%- helpers.formatMoney(models.stockIn.get('sumTotal')) %>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="form__errorMessage form__errorMessage_global"></div>
                </form>

                <% if (models.stockIn.id) { %>
                <div style="margin-top: 40px; margin-left: -10px;" class="confirmLink">

                    <div class="confirmLink__trigger">
                        <span class="removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Удалить оприходование
                        </span>
                    </div>

                    <div class="confirmLink__confirmation">
                        <span class="removeLink stockIn__removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Подтвердить удаление
                        </span>
                    </div>

                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="modal-dialog modal__dialog_product modal__dialog_hidden">
        <div class="modal-content">
            <div class="modal-header">
                <a class="modal__backLink stockInModalLink fa fa-long-arrow-left"
                   style="font-size: 25px; margin-right: 10px;"></a>

                <button form="form_productAdd"
                        type="submit"
                        class="btn btn-primary pull-right">
                    Добавить
                </button>

                <h4 class="modal-title">
                    Добавление продукта
                </h4>

                <span class="clearfix"></span>
            </div>
            <div class="modal-body">


            </div>
        </div>
    </div>

</div>