<% var models = {
    receipt: PAGE.collections.receipts.get(PAGE.params.receiptId)
} %>

<form class="form_refund"
      id="<%- get('id') %>">

    <% models.receipt.collections.products.forEach(function(receiptProductModel){ %>

    <div name="position" class="modal_refund__position row">

        <div class="col col-md-8">
            <div name="productName" class="modal_refund__productName">
                <%- receiptProductModel.get('product.name') %>
            </div>
            <div name="productBarcode">
                <%- receiptProductModel.get('product.barcode') %>
            </div>
        </div>

        <div class="col col-md-4">
            <b block="inputNumber"></b>
        </div>

    </div>

    <% }) %>

</form>