<div class="invoice__title">
    Накладная №
    <span name="sku">
        <%= block.invoiceModel.get('sku') %>
    </span>
    от
    <span name="acceptanceDate">
        <%= moment(block.invoiceModel.get('acceptanceDate')).format('DD.MM.YYYY HH:mm') %>
    </span>
</div>

<div class="invoice__head">
    <div class="invoice__headItem">
        <div class="invoice__headItemData" name="supplier">
            <%= block.invoiceModel.get('supplier') %>
        </div>
        <div class="invoice__headItemHint">
            поставщик
        </div>
    </div>
    <div class="invoice__headItem">
        <div class="invoice__headItemData" name="accepter">
            <%= block.invoiceModel.get('accepter') %>
        </div>
        <div class="invoice__headItemHint">
            приёмщик
        </div>
    </div>
    <div class="invoice__headItem">
        <div  class="invoice__headItemData" name="legalEntity">
            <%= block.invoiceModel.get('legalEntity') %>
        </div>
        <div class="invoice__headItemHint">
            получатель
        </div>
    </div>
</div>
<div class="invoice__supplier">
    Входящая накладная № <span name="supplierInvoiceSku"><%= block.invoiceModel.get('supplierInvoiceSku') %></span> от <span name="supplierInvoiceDate"><%= block.invoiceModel.get('supplierInvoiceDate') ? moment(block.invoiceModel.get('supplierInvoiceDate')).format('DD.MM.YYYY') : '' %></span>
</div>