<div class="invoice__controls">
    <a class="invoice__controlLink invoice__editLink">Редактировать</a>
    <a class="invoice__controlLink invoice__stopEditLink">Завершить редактирование</a>
</div>

<div class="invoice__content">
    <div class="invoice__head">

    </div>
    <table class="invoice__table table">

    </table>
    <div class="invoice__footer">

    </div>

</div>
<div class="page__clear"></div>

<form class="form invoice__addForm">
    <h3>Добавить товар в накладную</h3>

    <input type="hidden" name="product">

    <div class="form__field form__field_inline">
        <label class="form__label">Наименование</label>
        <input class="inputText" type="text" lh_product_autocomplete="name"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Артикул</label>
        <input class="inputText" type="text" lh_product_autocomplete="sku"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Штрихкод</label>
        <input class="inputText" type="text" lh_product_autocomplete="barcode"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Количество</label>
        <input class="inputText" type="text" name="quantity"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Цена приёмки</label>
        <input class="inputText" type="text" name="price"/>
    </div>
    <div class="form__controls">
        <span class="button button_color_blue invoice__addMoreProduct">
            Добавить товар
            <input type="submit"/>
        </span>
        <a class="button invoice__stopEditButton">
            Завершить редактирование
        </a>
    </div>
</form>
