<div class="invoice__controls">
    <ul class="invoice__controlsList">
        <li class="invoice__controlItem">
            <a class="invoice__controlLink" href="#">Редактировать</a>
        </li>
        <li class="invoice__controlItem">
            <a class="invoice__controlLink" href="#">Добавить</a>
        </li>
    </ul>
</div>
<div class="invoice__content">
    <div class="invoice__head">

    </div>
    <div class="invoice__table">

    </div>
    <div class="invoice__footer">

    </div>

</div>
<div class="page__clear"></div>

<h3>Добавить товар в накладную</h3>

<form class="form invoice__addForm">
    <input type="hidden" name="product">

    <div class="form__field form__field_inline">
        <label class="form__label">Наименование</label>
        <input class="inputText" type="text" lh_product_autocomplete="name"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Артикул</label>
        <input class="inputText" type="text" lh_product_autocomplete="sku"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Штрихкод</label>
        <input class="inputText" type="text" lh_product_autocomplete="barcode"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Количество</label>
        <input class="inputText" type="text" name="quantity"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Цена приёмки</label>
        <input class="inputText" type="text" name="price"/>
    </div>
    <div class="form__controls">
        <span class="button button_color_blue invoice__addMoreProduct">
            Добавить товар
            <input type="submit"/>
        </span>
        <a class="button">
            Завершить редакитрование
        </a>
    </div>
</form>
