<tr invoice-product-id="<%= invoiceProduct.id %>" name="invoiceProduct" class="invoice__dataRow" product-sku="<%= invoiceProduct.product.sku %>">
    <td>
        <span name="productName" class="invoice__editable" model-attr="product"><%= invoiceProduct.product.name %></span>
        <br />
        <span name="productSku" class="invoice__editable" model-attr="product"><%= invoiceProduct.product.sku %></span>
    </td>
    <td>
        <span name="productBarcode" class="invoice__editable <%= invoiceProduct.product.barcode ? '' : 'invoice__hiddenData' %>" model-attr="product">
            <%= invoiceProduct.product.barcode ? invoiceProduct.product.barcode : 'XXXXXXX' %>
        </span>
    </td>
    <td>
        <span class="invoice__editable">
            <span name="productAmount" model-attr="quantity">
                <%= invoiceProduct.quantity %>
            </span>
            <span name="productUnits">
                <%= block.utils.units(invoiceProduct.product.units, 'smallShort') %>
            </span>
        </span>
    </td>
    <td>
        <span class="invoice__editable">
            <span>
                по
            </span>
            <span name="productPrice" model-attr="price">
                <%= block.utils.formatPrice(invoiceProduct.price) %>
            </span>
            <span>
                р.
            </span>
        </span>
    </td>
    <td>
        <span>
            =
        </span>
        <span name="productSum">
            <%= block.utils.formatPrice(invoiceProduct.totalPrice) %>
        </span>
        <span>
            р.
        </span>
    </td>
</tr>