<tr name="invoice" href="/invoice/<%= invoice.id %>">
    <td>
        <span name="acceptanceDate"><%= moment(invoice.acceptanceDate).format('DD.MM.YYYY hh:mm') %></span>
    </td>
    <td>
        <span name="sku"><%= invoice.sku %></span>
    </td>
    <td>
        <span name="supplier"><%= invoice.supplier %></span>
    </td>
    <td>
        <span name="sumTotal"><%= LH.helpers.formatPrice(invoice.sumTotal) %></span>
        <span>р.</span>
    </td>
    <td>
        <span name="accepter"><%= invoice.accepter %></span>
    </td>
</tr>