.sideBar {
    background-color: #4b5d67;
    color: #fff;
    height: 100%;
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
}

.sideBar a, .sideBar .fa {
    color: #fff !important;
}

.sideBar__logo {
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    display: block;
    background-color: #475861;
}

.sideBar__item {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid #4f626d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sideBar__item:hover {
    background-color: #0a819c;
}

.sideBar__item .fa {
    margin-right: 10px;
}

.sideBar__item_active {
    background-color: #0a819c;
}