<%
/**
 *
 * @models.grossSales
 */
%>
<% var formatMoney = require('kit/formatMoney/formatMoney') %>
<% var getText = require('kit/getText/getText') %>
<% var moment = require('moment') %>

<div class="content">
    <h1>Обзор</h1>

    <h2 class="grossSales__subTitle">
        Объём продаж по сети
    </h2>
    <table class="grossSales__table">
        <tr name="yesterday.runningSum">
            <td>
                Вчера
            </td>
            <td>
                <%- formatMoney(models.grossSales.get('yesterday.runningSum')) %> р.
            </td>
        </tr>
        <tr name="twoDaysAgo.runningSum">
            <td>
                Позавчера
            </td>
            <td>
                <%- formatMoney(models.grossSales.get('twoDaysAgo.runningSum')) %>
            </td>
        </tr>
        <tr name="eightDaysAgo.dayHour">
            <td>
                В <%- getText('for last day', moment(models.grossSales.get('eightDaysAgo.dayHour')).day()) %>
            </td>
            <td>
                <%- formatMoney(models.grossSales.get('eightDaysAgo.runningSum')) %> р.
            </td>
        </tr>
    </table>
</div>