<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">Обзор</div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <h1>Добро пожаловать в Lighthouse!</h1>
</div>
<!--END CONTENT-->