<%
/**
 *
 * @models.storeGrossSales
 */
%>
<% var accounting = require('libs/accounting') %>
<% var getText = require('kit/utils/getText') %>
<% var dayStringDictionary = {
    string: function(day) {
        switch (day) {
            case 1:
                return 'прошлый понедельник';
            case 2:
                return 'прошлый вторник';
            case 3:
                return 'прошлую среду';
            case 4:
                return 'прошлый четверг';
            case 5:
                return 'прошлую пятницу';
            case 6:
                return 'прошлую субботу';
            default:
                return 'прошлое воскресение';
        }
    }
} %>

<h2 class="grossSale__subTitle" style="padding-bottom: 0;">
    Объём продаж на <%- moment(models.storeGrossSales.get('today.now.date')).startOf('hour').format('HH.mm') %>
</h2>
<div class="grossSale__todayValue">
    <%- accounting.formatNumber(models.storeGrossSales.get('today.now.value'), 2, ' ', ',') %>
</div>
<div class="grossSale__yesterdayDiff">

    <% if (models.storeGrossSales.get('yesterday.now.diff') === 0) { %>
    Так же как вчера
    <% } else if (models.storeGrossSales.get('yesterday.now.diff')) { %>
    На
    <strong class="grossSale__diffText <%- models.storeGrossSales.get('yesterday.now.diff') >= 0 ? 'grossSale__diffText_plus' : 'grossSale__diffText_minus' %>">
        <%- Math.abs(models.storeGrossSales.get('yesterday.now.diff')) %>%
        <%= models.storeGrossSales.get('yesterday.now.diff') >= 0 ? 'больше' : 'меньше' %></strong>, чем вчера
    <% } %>

    <% if (models.storeGrossSales.get('yesterday.now.diff')) { %>
    (<%- accounting.formatNumber(models.storeGrossSales.get('yesterday.now.value'), 2, ' ', ',') %>)
    <% } %>

</div>
<div class="grossSale__weekDiff" style="padding-bottom: 20px;">

    <% if (models.storeGrossSales.get('weekAgo.now.diff') === 0) { %>
    Так же как в <%- getText(dayStringDictionary, 'string', moment(models.storeGrossSales.get('today.now.date')).day()) %>
    <% } else if (models.storeGrossSales.get('weekAgo.now.diff')) { %>
    На
    <strong class="grossSale__diffText <%- models.storeGrossSales.get('weekAgo.now.diff') >= 0 ? 'grossSale__diffText_plus' : 'grossSale__diffText_minus' %>">
        <%- Math.abs(models.storeGrossSales.get('weekAgo.now.diff')) %>%
        <%= models.storeGrossSales.get('weekAgo.now.diff') >= 0 ? 'больше' : 'меньше' %></strong>, чем
        в <%- getText(dayStringDictionary, 'string', moment(models.storeGrossSales.get('today.now.date')).day()) %>
        (<%- accounting.formatNumber(models.storeGrossSales.get('weekAgo.now.value'), 2, ' ', ',') %>)
    <% } %>
</div>
<h2 class="grossSale__subTitle">
    Объём продаж на конец дня
</h2>
<table class="grossSale__table">
    <tr class="grossSale__yesterdayValue">
        <td>
            Вчера
        </td>
        <td>
            <%- accounting.formatNumber(models.storeGrossSales.get('yesterday.dayEnd.value'), 2, ' ', ',') %>
        </td>
    </tr>
    <tr class="grossSale__lastWeekValue">
        <td>
            В <%- getText(dayStringDictionary, 'string', moment(models.storeGrossSales.get('today.now.date')).day()) %>
        </td>
        <td>
            <%- accounting.formatNumber(models.storeGrossSales.get('weekAgo.dayEnd.value'), 2, ' ', ',') %>
        </td>
    </tr>
</table>