<% var models = {
    receipt: PAGE.collections.receipts.get(PAGE.params.receiptId)
} %>

<div class="modal modal_refund" id="modal_refund">
    <div class="modal__header">
        <a class="modal__closeLink fa fa-times"></a>

        <button form="form_refund"
                type="submit"
                class="modal_refund__button btn btn-primary pull-right">
            Вернуть
        </button>

        <h4 class="modal__title">
            Возврат средств
        </h4>
    </div>
    <div class="modal__body">

        <table class="table">

            <% models.receipt.collections.products.forEach(function(receiptProductModel){ %>

            <tr>
                <td>
                    <div>
                        <%- receiptProductModel.get('product.name') %>
                    </div>
                    <div>
                        <%- receiptProductModel.get('product.barcode') %>
                    </div>
                </td>
                <td></td>
            </tr>

            <% }) %>

        </table>

    </div>
</div>