<div class="modal modal_refund" id="modal_refund">
    <div class="modal__header">
        <a class="modal__closeLink fa fa-times"></a>

        <b block="submitButton"></b>

        <h4 class="modal__title">
            Возврат средств
        </h4>
    </div>
    <div class="modal__body">

        <b block="form_refund"></b>

    </div>
</div>