<div class="modal" id="modal_refund">
    <div class="modal__header">
        <a class="modal__closeLink fa fa-times"></a>

        <button form="form_refund"
                type="submit"
                class="btn btn-primary pull-right">
            Вернуть
        </button>

        <h4 class="modal__title">
            Возврат средств
        </h4>
    </div>
    <div class="modal__body">



    </div>
</div>