<% var currentUserModel = require('models/currentUser.inst') %>

<div class="content">

    <% if (currentUserModel.get('name')) { %>
    <h1 name="name">
        <%- currentUserModel.get('name') %>
    </h1>
    <% } %>

    <div class="form__label">email</div>
    <h2 name="email">
        <%- currentUserModel.get('email') %>
    </h2>

</div>