.catalog__classItem{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 50px 30px 0;
    margin-right: -5px;
}

.catalog__classLink{
    vertical-align: middle;
}

.catalog__groupList{
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
}

.catalog__groupItem{
    margin: 0 10px 5px 0;
    display: inline-block;
    vertical-align: middle;
}

.catalog__groupLink{
    margin-right: 4px;
}

.catalog__classTitle{
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
