.catalog__groupItem{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 50px 30px 0;
    margin-right: -5px;
}

.catalog__addGroupLink{
    visibility: hidden;
}

.catalog__groupList .page__editLink{
    margin-left: -25px;
    visibility: hidden;
}

.catalog_edit_1 .page__editLink,
.catalog_edit_1 .catalog__addGroupLink,
.catalog_edit_1 .group__addCategoryLink {
    visibility: visible;
}{
    visibility: visible;
}

.catalog__groupLink{
    vertical-align: middle;
}

.catalog__categoryList{
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
}

.catalog__categoryItem{
    margin: 0 10px 5px 0;
    display: inline-block;
    vertical-align: middle;
}

.catalog__categoryLink{
    margin-right: 4px;
}

.catalog__groupTitle{
    padding-bottom: 10px;
}

.catalog__groupNavigation{
    float: right;
    width: 200px;
    padding-left: 40px;
}

.catalog__groupNavigationLink{
    display: block;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    text-decoration: none;
    margin-bottom: -1px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.catalog__groupNavigationLink:hover{
    background-color: #f4f4f4;
}

.catalog__groupNavigationLink_active{
    background-color: #fafafa;
    color: #000;
    cursor: default;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    z-index: 10;
}
