.catalog__groupItem {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 50px 30px 0;
    margin-right: -5px;
}

.catalog .page__editLink {
    visibility: hidden;
}

.catalog[edit="1"] .page__editLink {
    visibility: visible;
}

.catalog__groupLink {
    vertical-align: middle;
}

.catalog__categoryList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog__categoryItem {
    margin: 0 15px 5px 0;
    display: inline-block;
    vertical-align: middle;
}

.catalog__groupTitle {
    padding-bottom: 10px;
}

.catalog__groupNavigation {
    float: right;
    width: 200px;
    padding-left: 40px;
}

.catalog__groupNavigationLink {
    display: block;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    text-decoration: none;
    margin-bottom: -1px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.catalog__groupNavigationLink:hover {
    background-color: #f4f4f4;
}

.catalog__groupNavigationLink_active {
    background-color: #fafafa;
    color: #000;
    cursor: default;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    z-index: 10;
}

.catalog__subCategoryList {
    margin: 0 -40px;
}

.catalog__subCategoryList p {
    padding: 10px 40px;
}

.catalog__subCategoryItem {
    position: relative;
}

.catalog__subCategoryLink {
    display: block;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    margin-bottom: -1px;
    text-decoration: none;
    position: relative;
    transition: none !important;
    background-color: #fafafa;
    z-index: 1;
}

.catalog__subCategoryList .catalog__editSubCategoryLink {
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 10;
}

.catalog__subCategoryLink:hover {
    background-color: #f4f4f4;
}

