<%
/**
 *
 * @collections.subCategories,
 */
%>

<div class="catalog__subCategoryList">

    <% if(collections.subCategories.length) { %>

    <% collections.subCategories.forEach(function(subCategoryModel){ %>
    <div class="catalog__subCategoryItem">

        <a data-subcategory_id="<%- subCategoryModel.id %>"
           class="catalog__subCategoryLink"><%= subCategoryModel.get('name') %></a>

    </div>
    <% }) %>

    <% } else { %>

    <p>Нет подкатегорий</p>

    <% } %>
</div>