.invoice__title{
    font-size: 20px;
    padding: 0 0 20px;
}

.invoice__head{
    white-space: nowrap;
    padding: 0 0 20px;
}

.invoice__headItem{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 80px 0 0;
}

.invoice__headItem::before{
    content: '→';
    font-size: 40px;
    position: absolute;
    left: 100%;
    top: 50%;
    color: #BDC3C7;
    margin: -4px 0 0 25px;
    line-height: 0;
}

.invoice__headItem:last-child::before{
    display: none;
}

.invoice__headItemData{
    font-size: 17px;
}

.invoice__headItemHint{
    font-size: 11px;
    padding-top: 5px;
}

.invoice__totalSum {
    margin: 0 5px;
}

.invoice__totalProducts {
    margin: 0 5px;
}

.invoice__table {
    margin-bottom: 20px;
}

.invoice__controlItem{
    padding-bottom: 10px;
}

.invoice__footer{
    padding-bottom: 20px;
}

.invoice__addProductForm,
.invoice__stopEditLink {
    display: none;
}

.invoice_editMode .invoice__addProductForm {
    display: block;
}

.invoice_editMode .invoice__stopEditLink {
    display: inline;
}

.invoice_editMode .invoice__editLink {
    display: none;
}

.invoice_editMode .invoice__editable {
    border-bottom: dashed 1px;
    cursor: pointer;
}

.invoice_dataEditing .invoice__editable{
    border-bottom: transparent;
    cursor: default;
}

.invoice__hiddenData {
    display: none;
    color: #999;
}

.invoice__table .invoice__hiddenData {
    visibility: hidden;
    display: inline;
}

.invoice_editMode .invoice__hiddenData {
    display: inline;
    visibility: visible;
}

.invoice [name] {
    position: relative;
}

.invoice__dataInput{
    position: absolute;
    left: -9px;
    top: -7px;
    z-index: 10;
}

.invoice__dataInput .inputText{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.invoice__dataInput [type="submit"] {
    display: none;
}

.invoice__dataInputControlsTd{
    padding: 10px;
    background: #f4f4f4;
    margin-top: 10px;
}

.invoice__dataInputControlsTd{
    padding: 0 !important;
}

.invoice__dataInputControls{
    padding: 10px;
    background: #fffee2 !important;
    margin: 10px 0;
}

.invoice__dataInputControlsTd .invoice__dataInputControls{
    margin: 0;
}

.invoice__dataInputControls[lh_field_error]:before{
    content: attr(lh_field_error);
    display: block;
    color: #c60f13;
    padding: 0 0 10px;
}

.invoice__dataInputControls[lh_field_error]:after{
    display: none;
}

.invoice__removeLink {
    cursor: pointer;
    visibility: hidden;
    color: #336699;
    border-bottom: 1px dotted;
    opacity: 0;
}

.invoice_editMode .invoice__removeLink {
    visibility: visible;
}

.invoice__table tr:hover .invoice__removeLink {
    opacity: 1;
}

.invoice__removeConfirmRow td{
    background: #eee;
}

.invoice__removeCancel{
    vertical-align: middle;
}

.invoice_dataEditing .invoice__removeLink{
    visibility: hidden;
}