<tr class="form_invoiceProducts">
    <td>
        <div class="row">
            <div class="col-md-10">
                <input name="product.name"
                       type="text"
                       class="form-control autocomplete autocomplete_products">
                <input type="hidden" name="product.id" />
            </div>
            <div class="col-md-2">
                <a style="font-size: 20px; position: relative; top: 10px; left: -10px; cursor: pointer;"
                   class="addProductLink fa fa-plus"></a>
            </div>
        </div>
    </td>
    <td>
        <input name="priceEntered"
               type="text"
               style="width: 100px;"
               class="form-control">
    </td>
    <td>
        <div style="white-space: nowrap">
            <input name="quantity"
                   type="text"
                   style="width: 80px; display: inline-block;"
                   class="form-control">
            <span style="position: relative; padding: 0 5px;" class="product__units">шт.</span>
        </div>
    </td>
    <td>
        <span style="white-space: nowrap; min-width: 100px; position: relative; top: 7px;" class="totalSum"></span>
    </td>
    <td>
        <button type="submit"
                style="margin-top: 0;"
                class="addInvoiceProduct btn btn-default fa fa-check btn-lg"></button>
    </td>
</tr>