<form class="form_stockMovementProducts">

    <table class="table_stockMovementProducts table table-vcenter">
        <thead>
        <tr>
            <th>Наименование</th>
            <th style="white-space: nowrap; width: 1px;">Цена, <i class="fa fa-rub"></i></th>
            <th style="width: 1px;">Кол-во</th>
            <th style="white-space: nowrap; width: 1px;">Сумма, <i class="fa fa-rub"></i></th>
            <th style="width: 1px;"></th>
        </tr>
        </thead>

        <tbody block="productList"></tbody>

        <tfoot>

        <tr class="form_stockMovementProducts__controls">
            <td>
                <b block="autocomplete_products"></b>
            </td>
            <td>
                <input name="<%- priceField %>"
                       type="text"
                       style="width: 100px;"
                       class="form-control">
            </td>
            <td style="white-space: nowrap">

                <div style="display: inline-block; width: 140px; vertical-align: middle;">
                    <b block="inputNumber"></b>
                </div>

                <span style="padding: 0 5px; vertical-align: middle;" class="product__units">шт.</span>
            </td>
            <td>
                <span style="white-space: nowrap; min-width: 100px; position: relative;"
                      class="totalSum"></span>
            </td>
            <td>
                <button type="submit"
                        style="margin-top: 0;"
                        class="btn btn-default">Добавить</button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Итого
            </td>
            <td>

                <b block="totalPrice"></b>

            </td>
            <td>
            </td>
        </tr>
        </tfoot>
    </table>

    <div class="form__errorMessage form__errorMessage_global"></div>

</form>