.navigationBar{
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 40px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 4px #ccc;
    z-index: 100;
}

.navigationBar__userControls{
    float: right;
    height: 100%;
}

.navigationBar a{
    height: 100%;
    line-height: 37px;
    vertical-align: top;
    cursor: pointer;
    color: #000;
    float: left;
    padding: 0 20px;
    text-decoration: none;
}

.navigationBar a:hover{
    background-color: #f4f4f4;
}

.navigationBar .navigationBar__logo{
    background: url("/img/logo1.png") center center no-repeat;
    background-size: auto 100%;
}

.navigationBar__userName{
    border-right: 1px solid #eee;
    font-weight: bold;
}

.navigationBar__links {
    float: left;
    height: 100%;
}

.navigationBar__active{
    background-color: #e5e5e5;
}
