<div class="navigationBar__links">
    <% if(currentUserModel.get('id')) { %>

    <% if(LH.isAllow('groups')){ %>
    <a href="/catalog">Товары</a>
    <% } %>

    <% if(LH.isAllow('stores/{store}/groups') && currentUserModel.stores && currentUserModel.stores.length){ %>
    <a href="/catalog?storeId=<%- currentUserModel.stores.at(0).id %>">Товары</a>
    <% } %>

    <% if(LH.isAllow('stores/{store}/invoices') && currentUserModel.stores && currentUserModel.stores.length){ %>
    <a href="/invoices?storeId=<%- currentUserModel.stores.at(0).id %>">Накладные</a>
    <% } %>

    <% if((LH.isAllow('stores', 'GET::{store}/products') && currentUserModel.stores && currentUserModel.stores.length)){ %>
    <a href="/balance?storeId=<%- currentUserModel.stores.at(0).id %>">Остатки</a>
    <% } %>

    <% if(LH.isAllow('stores/{store}/writeoffs') && currentUserModel.stores && currentUserModel.stores.length){ %>
    <a href="/writeOffs?storeId=<%- currentUserModel.stores.at(0).id %>">Списания</a>
    <% } %>

    <% if(LH.isAllow('users')){ %>
    <a href="/users">Пользователи</a>
    <% } %>

    <% if(LH.isAllow('stores')){ %>
    <a href="/stores">Магазины</a>
    <% } %>

    <a href="/reports">Отчеты</a>

    <% if(currentUserModel.stores && currentUserModel.stores.length) { %>
    <a href="/stores/<%- currentUserModel.stores.at(0).id %>">Мой магазин</a>
    <% } %>

    <% if(LH.isAllow('configs')){ %>
    <a href="/settings">Настройки</a>
    <% } %>

    <a href="/logs">Лог</a>

    <% } %>
</div>

<div class="navigationBar__bottom">

    <% if(currentUserModel.get('id')) { %>
    <div class="navigationBar__userControls">
        <a href="/users/current" class="navigationBar__userName">
            <%- currentUserModel.get('name') %>
        </a>
    </div>
    <% } %>

    <a href="/" class="navigationBar__logo">
        Lighthouse
    </a>
</div>