.navigationBar{
    background: #2c3e50;
    height: 100%;
    position: fixed;
    width: 200px;
    left: 0;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 100;
}

.navigationBar__userControls{
    float: right;
    height: 100%;
}

.navigationBar a{
    height: 40px;
    line-height: 37px;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    padding: 0 20px 0 30px;
    text-decoration: none;
    display: block;
}

.navigationBar a:hover{
    background-color: #34495e;
}

.navigationBar .navigationBar__logo{
    font-family: "Sansus Webissimo";
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navigationBar__userName{
    border-right: 1px solid #eee;
    font-weight: bold;
}

.navigationBar__links {
    float: left;
    height: 100%;
}

.navigationBar__active{
    background-color: #e5e5e5;
}
