<div class="navigationBar__links">
    <% if(currentUserModel.get('id')) { %>

    <% if(LH.isAllow('groups')){ %>
    <a href="/catalog">Каталог</a>
    <% } %>

    <% if(LH.isAllow('stores/{store}/groups') && currentUserModel.stores && currentUserModel.stores.length){ %>
    <a href="/catalog?storeId=<%- currentUserModel.stores.at(0).id %>">Каталог</a>
    <% } %>

    <% if(LH.isAllow('invoices')){ %>
    <a href="/invoices">Накладные</a>
    <% } %>

    <% if(LH.isAllow('products')){ %>
    <a href="/balance">Остатки</a>
    <% } %>

    <% if(LH.isAllow('writeoffs')){ %>
    <a href="/writeOffs">Списания</a>
    <% } %>

    <% if(LH.isAllow('users')){ %>
    <a href="/users">Пользователи</a>
    <% } %>

    <% if(LH.isAllow('stores')){ %>
    <a href="/stores">Магазины</a>
    <% } %>

    <% if(currentUserModel.stores && currentUserModel.stores.length) { %>
    <a href="/stores/<%- currentUserModel.stores.at(0).id %>">Мой магазин</a>
    <% } %>

    <% if(LH.isAllow('configs')){ %>
    <a href="/settings">Настройки</a>
    <% } %>

    <a href="/jobs">Лог</a>

    <% } %>
</div>

<div class="navigationBar__bottom">

    <% if(currentUserModel.get('id')) { %>
    <div class="navigationBar__userControls">
        <a href="/users/current" class="navigationBar__userName">
            <%- currentUserModel.get('username') %>
        </a>
        <a class="navigationBar__logoutLink">
            Выйти
        </a>
    </div>
    <% } %>

    <a href="/" class="navigationBar__logo">
        Lighthouse
    </a>
</div>