.inputText {
    position: relative;
}

input.inputText, .inputText input, textarea.inputText, .inputText textarea{
    height: 32px;
    background: #fff;
    width: 100%;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    font-family: Tahoma, sans-serif;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #999;
    line-height: 17px;
    padding: 0 8px;
}

.inputText_inline, input.inputText_inline, textarea.inputText_inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
    margin-right: 10px;
    width: auto;
}

textarea.inputText, .inputText textarea {
	height: 100px;
    padding: 10px;
}

.inputText:focus, .inputText input:focus, .inputText textarea:focus {
    border-color: #3b77b2 !important;
    box-shadow: 0 0 3px #4791d8 !important;
}

.inputText[disabled], .inputText input[disabled], .inputText textarea[disabled] {
    opacity: 0.8;
}

input.inputText_error, .inputText_error input, textarea.inputText_error, .inputText_error textarea{
    border-color: #d40000;
}

.inputText_error:focus, .inputText_error input:focus, .inputText_error textarea:focus {
    border-color: #d40000 !important;
    box-shadow: 0 0 3px #d40000 !important;
}

.inputText__postfix{
    vertical-align: middle;
}