[ lh_field ] {
    font-size: 11pt;
    line-height: 1.5;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
}

[ lh_field = 'inline' ] {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 7em;
    -ms-flex: 1 1 7em;
    flex: 1 1 7em;
    
    white-space: nowrap;
    margin: 0 .3em;
}

[ lh_field = 'short' ] {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 8em;
    -ms-flex: 1 1 8em;
    flex: 1 1 8em;
}

[ lh_field = 'normal' ] {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2 2 auto;
    -ms-flex: 2 2 auto;
    flex: 2 2 auto;
}

[ lh_field = 'long' ] {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -webkit-flex: 4 4 auto;
    -ms-flex: 4 4 auto;
    flex: 4 4 auto;
}

[ lh_field ] > input,
[ lh_field ] > textarea,
[ lh_field ] > select {
    border: 2px solid #BDC3C7;
    border-radius: 5px;
    width: 100%;
    max-width: 30em;
    height: 2.5em;
    line-height: 1;
    margin: 0;
    padding: .5em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    font: inherit;
}

[ lh_field ] > input:focus,
[ lh_field ] > textarea:focus,
[ lh_field ] > select:focus {
    border-color: #b3b3b3;
    outline: none;
}

[ lh_field_error ]:after {
    content: attr( lh_field_error );
    display: inline-block;
    color: #c60f13;
    margin: .3em;
    padding: .2em;
    border-radius: 2px;
    line-height: 1.1;
}

[ lh_field_error ] > input,
[ lh_field_error ] > textarea,
[ lh_field_error ] > select {
    border-color: #c88;
}

[ lh_field ] > select {
    padding: .2em;
}

[ lh_field ] > textarea {
    height: auto;
    min-height: 5em;
}
