<%
/**
 *
 * @models.store
 */
%>

<div class="localNavigation">
    <div class="localNavigation__section">
        <a class="localNavigation__link" href="/stores/<%- models.store.id %>/invoices">Накладные</a>
    </div>
    <a class="localNavigation__link" href="/stores/<%- models.store.id %>/invoices/search">Поиск накладной</a>
    <a class="localNavigation__link" href="/stores/<%- models.store.id %>/invoices/create">Создать накладную</a>
</div>