<div class="localNavigation">

    <a class="localNavigation__link" href="/products/<%- PAGE.params.productId %>">Обзор</a>
    <a class="localNavigation__link" href="/products/<%- PAGE.params.productId %>/edit">Редактировать</a>
    <a class="localNavigation__link" href="/products/<%- PAGE.params.productId %>/barcodes">Штрихкоды</a>

</div>