.localNavigation{
    height: 100%;
    width: 284px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 100;
    padding: 40px;
    border-right: 1px solid #eee;
    position: relative;
    top: 0;
    left: 0;
    float: left;

}

.localNavigation__link{
    display: block;
    color: #000;
    padding: 10px 15px;
    margin: 0 -15px;
}

.localNavigation__link_active{
    color: #1FB18A;
    cursor: default !important;
    text-decoration: none !important;
}

.localNavigation__section{
    border-bottom: 1px solid #eee;
    padding: 0 0 15px;
    margin: 0 0 15px;
}
