.localNavigation{
    height: 100%;
    position: fixed;
    width: 284px;
    left: 200px;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 100;
    padding: 40px;
    border-right: 1px solid #eee;
}

.localNavigation__link{
    display: block;
    color: #000;
    padding: 10px 0;
}

.localNavigation__link_active{
    color: #1FB18A;
    cursor: default !important;
    text-decoration: none !important;
}

.localNavigation__header{
    border-bottom: 1px solid #eee;
    padding: 0 0 20px;
    margin: 0 0 15px;
}
