<%
/**
 *
 * @models.companyOrganization
 */
%>

<div class="localNavigation">

    <div class="localNavigation__section">
        <a href="/company/organizations/<%- models.companyOrganization.id %>" class="localNavigation__link">Данные организации</a>
    </div>

    <a href="/company/organizations/<%- models.companyOrganization.id %>/details" class="localNavigation__link">Юридические реквизиты</a>
    <a href="/company/organizations/<%- models.companyOrganization.id %>/bankAccounts" class="localNavigation__link">Расчетные счета</a>

</div>