<div class="localNavigation catalog">

    <%= models.category.collections.subCategories.element(require('tpl!blocks/catalog/storeSubCategoryList.ejs'), {
        collections: {
            subCategories: models.category.collections.subCategories
        }
    }) %>

</div>