<div class="localNavigation">

    <a class="localNavigation__section localNavigation__link"
       href="/stores/<%- models.store.id %>/orders">Заказы</a>

    <a class="localNavigation__link"
       href="/stores/<%- models.store.id %>/orders/create">
        Добавить заказ
    </a>

</div>

