<div class="localNavigation">

    <div class="localNavigation__section">
        <a href="?edit=<%- PAGE.params.edit === '1' ? '0' : '1' %>"
           style="white-space: nowrap"
           class="localNavigation__link catalog__editLink">
            <%- PAGE.params.edit === '1' ? 'Завершить редактирование' : 'Редактировать' %>
        </a>

        <a class="localNavigation__link catalog__exportLink">Выгрузить в SetRetail</a>
        <a href="?section=settings" class="localNavigation__link">Свойства</a>
        <a href="?section=categories" class="localNavigation__link">Категории</a>
    </div>

    <form class="form form_category">
        <div class="form__field">
            <input class="inputText"
                   placeholder="Добавить категорию"
                   name="name"
                   type="text" />
        </div>
    </form>

</div>