<%
/**
 *
 * @params.edit
 */
%>

<div class="localNavigation">

    <a href="?edit=<%- params.edit === '1' ? '0' : '1' %>" style="white-space: nowrap" class="localNavigation__link catalog__editLink">
        <%- params.edit === '1' ? 'Завершить редактирование' : 'Редактировать' %>
    </a>

    <a class="localNavigation__link catalog__exportLink">Выгрузить в SetRetail</a>

    <% if (models.group) { %>
        <a href="?section=categories" class="localNavigation__link">Категории</a>
        <a href="?section=settings" class="localNavigation__link">Свойства</a>
    <% } %>

</div>