<% collection.each(function(model){ %>
<tr name="product" href="/products/<%= model.get('id') %>">
    <td name="sku">
        <%e model.get('sku') %>
    </td>
    <td name="subcategory">
        <%t model.get('subcategory') %>
    </td>
    <td name="name">
        <%t model.get('name') %>
    </td>
    <td name="vendor">
        <%t model.get('vendor') %>
    </td>
    <td name="vendorCountry">
        <%t model.get('vendorCountry') %>
    </td>
    <td name="purchasePrice">
        <%e LH.formatPrice(model.get('purchasePrice')) %> р.
    </td>
</tr>
<% }) %>
