<form class="form_writeOffProducts">
    <table class="table_writeOffProducts table table-vcenter" style="margin: 0 -10px;">
        <thead>
        <tr>
            <th>Наименование</th>
            <th style="white-space: nowrap; width: 1px;">Цена, <i class="fa fa-rub"></i></th>
            <th style="width: 1px;">Кол-во</th>
            <th style="white-space: nowrap; width: 1px;">Сумма, <i class="fa fa-rub"></i></th>
            <th style="width: 1px;"></th>
            <th style="width: 1px;"></th>
        </tr>
        </thead>

        <tbody block="writeOffProducts"></tbody>
        <tfoot>

        <tr class="writeOffProductForm">
            <td>
                <div class="row">
                    <div class="col-md-12">
                        <input block="autocomplete_products"
                               name="product.name"
                               type="text"
                               class="form-control autocomplete autocomplete_products">
                        <input type="hidden" name="product.id"/>
                    </div>
                </div>
            </td>
            <td>
                <input name="price"
                       type="text"
                       style="width: 100px;"
                       class="form-control">
            </td>
            <td>
                <div style="white-space: nowrap">
                    <input name="quantity"
                           type="text"
                           style="width: 80px; display: inline-block;"
                           class="form-control">
                    <span style="position: relative; padding: 0 5px;" class="product__units">шт.</span>
                </div>
            </td>
            <td>
                <span style="white-space: nowrap; min-width: 100px; position: relative; top: 7px;"
                      class="totalSum"></span>
            </td>
            <td>
                <input name="cause"
                       type="text"
                       style="width: 100px;"
                       class="form-control">
            </td>
            <td>
                <button type="submit"
                        style="margin-top: 0;"
                        class="addWriteOffProduct btn btn-default fa fa-check btn-lg"></button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Итого
            </td>
            <td class="writeOff__totalSum" colspan="3">
                <%- formatMoney(models.writeOff.get('sumTotal')) %>
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="form__errorMessage form__errorMessage_global"></div>
</form>