[ mayak_button ] {
    padding: .5em 1.25em;
    cursor: pointer;
    margin: .2em;
    font: 11pt 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-weight: bold;
    border: 1px solid gray;
    box-shadow: 0 1px 0 rgba( 255, 255, 255, 0.5 ) inset;
    color: white;
    text-decoration: none;
    background: gray;
}

[ mayak_button ]:active {
    box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
}

[ mayak_button = 'success' ] {
    background: #5DA423;
}
[ mayak_button = 'success' ]:hover {
    background: #396516;
}

[ mayak_button = 'reset' ] {
    background: #A45D23;
}
[ mayak_button = 'reset' ]:hover {
    background: #653916;
}

[ mayak_button = 'modify' ] {
    background: #2ba6cb;
}
[ mayak_button = 'modify' ]:hover {
    background: #2284a1;
}

[ mayak_button ]:disabled {
    background: gray;
    box-shadow: none;
    cursor: default;
}
