<%
/**
 *
 * @barcodeModel
 */
%>

<div data-barcode_cid="<%- barcodeModel.cid %>" class="table__row form_barcodes__row" name="barcodeRow">
    <div class="table__cell">
        <input <%- LH.isAllow('products', 'PUT::{product}/barcodes') ? '' : 'readonly'%> value="<%- barcodeModel.get('barcode') %>" name="barcode[]" type="text" class="inputText"/>
    </div>
    <div class="table__cell">
        <input <%- LH.isAllow('products', 'PUT::{product}/barcodes') ? '' : 'readonly'%> value="<%- LH.formatAmount(barcodeModel.get('quantity')) %>" name="quantity[]" type="text"
               class="inputText" style="width: 80px;"/>
    </div>
    <div class="table__cell <%- barcodeModel.get('price') ? '' : 'form_barcodes__emptyCell'%>" style="white-space: nowrap;">
        <input <%- LH.isAllow('products', 'PUT::{product}/barcodes') ? '' : 'readonly'%> value="<%- barcodeModel.get('price') ? LH.formatMoney(barcodeModel.get('price')) : '' %>" name="price[]" type="text" class="inputText"
               style="width: 100px; text-align: right"/>
        <span class="inputText__postfix">руб.</span>
    </div>
    <% if (LH.isAllow('products', 'PUT::{product}/barcodes')) { %>
    <div class="table__cell">
        <span data-barcode_cid="<%- barcodeModel.cid %>" class="button form_barcodes__removeLink">Удалить</span>
    </div>
    <% } %>
</div>
