<% var Page = require('kit/page/page') %>

<form id="form_barcodes" class="form form_barcodes table__body">
    <% Page.current.models.product.collections.barcodes.forEach(function(barcodeModel, index){ %>
        <div class="table__row form_barcodes__row">
            <div class="table__cell">
                <input value="<%- barcodeModel.get('barcode') %>" name="barcodes[<%- index %>].barcode" type="text" class="inputText"/>
            </div>
            <div class="table__cell">
                <input value="<%- LH.formatAmount(barcodeModel.get('quantity')) %>" name="barcodes[<%- index %>].quantity" type="text" class="inputText" style="width: 80px;"/>
            </div>
            <div class="table__cell" style="white-space: nowrap;">
                <input value="<%- LH.formatMoney(barcodeModel.get('price')) %>" name="barcodes[<%- index %>].price" type="text" class="inputText"
                style="width: 100px; text-align: right"/>
                <span>руб.</span>
            </div>
            <div class="table__cell">
                <span data-barcode_cid="<%- barcodeModel.cid %>" class="button form_barcodes__removeLink">Удалить</span>
            </div>
        </div>
    <% }) %>
</form>