<form id="<%- id %>" class="form form_group">
    <div class="form-group">

        <label class="control-label">Наименование</label>

        <input
                name="name"
                type="text"
                placeholder="Наименование группы"
                class="form-control"
                autofocus
                value="<%- model.get('name') %>">
    </div>

    <% if (model.id) { %>

    <div style="padding-top: 20px;">

        <b block="removeButton"></b>

    </div>

    <% } %>
</form>