<%
/**
 *
 * @models.store
 */
%>

<% var partials = {
    form_store: require('tpl!blocks/form/form_store/form_store.ejs')
} %>

<div class="content">
    <%= partials.form_store({
        model: models.store
    }) %>
</div>