<% var templates = {
    localNavigation: require('tpl!blocks/localNavigation/localNavigation_orders.html')
} %>

<% var collections = _.extend({
    orders: new Backbone.Collection
}, obj.orders) %>

<% if (LH.isAllow('orders', 'POST')) {%>
    <%= templates.localNavigation(obj) %>
<% } %>

<div class="page__data">
    <h2>Заказы</h2>
    <% if (collections.orders.length) { %>
    <table class="table">
        <% collections.orders.forEach(function(orderModel){ %>
            <tr>
                <td>

                </td>
            </tr>
        <% }) %>
    </table>
    <% } else { %>
        <p>
            Нет невыполненных заказов
        </p>
    <% } %>
</div>