[ mayak_field ] {
    margin: .2em;
    font-size: 11pt;
    line-height: 1.5;
    box-sizing: border-box;
    display: inline-block;
    
    -webkit-flex: 1;
    flex: 1;
}

[ mayak_field = 'short' ] {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 8em;
    -ms-flex: 1 1 8em;
    flex: 1 1 8em;
}

[ mayak_field = 'normal' ] {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2 2 auto;
    -ms-flex: 2 2 auto;
    flex: 2 2 auto;
}

[ mayak_field = 'long' ] {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -webkit-flex: 4 4 auto;
    -ms-flex: 4 4 auto;
    flex: 4 4 auto;
}

[ mayak_field ] > input:required:invalid,
[ mayak_field ] > select:required:invalid {
    border-color: #d99;
}

[ mayak_field ] > input,
[ mayak_field ] > select {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    height: 2.5em;
    line-height: 1;
    margin: 0;
    padding: .5em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    font: inherit;
}

[ mayak_field ] > select:invalid {
    color: #aaa;
}

[ mayak_field ] > select > option {
    color: black;
}

[ mayak_field ] > select > option[ value = '' ] {
    color: #aaa;
}

