<div class="page_stockSellGroup__breadcrumbs">
	<a href="<%- allGroupsUrl() %>" class="page_stockSellGroup__breadcrumbsLink">
		Все группы
	</a>
	<span class="breadcrumbs__title">
		<%- models.group.get('name') %>
	</span>
</div>
