<div class="form__field form__field_inline">
    <label class="form__label">Роль</label>
    <select class="select" value="<%= block.model.get('role') %>" name="role" require="blocks/select/select_userRole"></select>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Имя</label>
    <input class="inputText"
           type="text"
           name="name"
           value="<%= block.model.get('name') %>"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Должность</label>
    <input type="text"
           class="inputText"
           name="position"
           value="<%= block.model.get('position') %>"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Логин</label>
    <input type="text"
           class="inputText"
           name="username"
           value="<%= block.model.get('username') %>"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Пароль</label>
    <input type="password"
           class="inputText"
           name="password"/>
</div>
<div class="form__controls">
    <span class="button button_color_blue">
        Сохранить
        <input type="submit"/>
    </span>
</div>