<% var templates = {
    select_userRole: require('tpl!blocks/select/select_userRole/select_userRole.html')
} %>

<h1><%- model.id ? 'Редактирование пользователя' : 'Добавление нового пользователя' %></h1>
<div class="form__field form__field_inline">
    <label class="form__label">Роль</label>
    <select class="select select_userRole" name="role">
        <%= templates.select_userRole({
            selected: model.get('role')
        }) %>
    </select>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Имя</label>
    <input class="inputText"
           type="text"
           name="name"
           value="<%- model.get('name') %>">
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Должность</label>
    <input type="text"
           class="inputText"
           name="position"
           value="<%- model.get('position') %>"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Логин</label>
    <input type="text"
           class="inputText"
           name="username"
           value="<%- model.get('username') %>"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Пароль</label>
    <input type="password"
           class="inputText"
           name="password"/>
</div>
<div class="form__controls">
    <span lh-button class="button">
        <%- model.id ? 'Сохранить' : 'Добавить' %>
        <input type="submit"/>
    </span>
</div>