<!--BEGIN TITLE PAGE-->
<div class="page__head">
    <div class="page__title">Обзор</div>

    <div class="page__tabs">
        <a href="/firstStart" class="page__tab active">
            Быстрый старт
        </a>
        <a href="/dashboard" class="page__tab">
            Основная статистика
        </a>
    </div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content page__tabContent">

    <div class="page_dashboard__text">Добро пожаловать!</div>

    <b block="progressbar"></b>

    <b block="steps"></b>

    <b block="info"></b>

</div>
<!--END CONTENT-->

<!--MODALS-->
<b block="modal_store"></b>
<b block="modal_invoice"></b>
<!--END MODALS-->
