<div class="content">
    <h1>Добавление организации</h1>

    <form class="form form_companyOrganization">
        <div class="form__field">
            <label class="form__label">
                Наименование *
            </label>
            <input autofocus class="inputText" type="text" name="name" />
        </div>
        <div class="form__field">
            <label class="form__label">
                Телефон
            </label>
            <input class="inputText" type="text" name="phone" />
        </div>
        <div class="form__field">
            <label class="form__label">
                Факс
            </label>
            <input class="inputText" type="text" name="fax" />
        </div>
        <div class="form__field">
            <label class="form__label">
                Эл. почта
            </label>
            <input class="inputText" type="text" name="email" />
        </div>
        <div class="form__field">
            <label class="form__label">
                Руководитель
            </label>
            <input class="inputText" type="text" name="director" />
        </div>
        <div class="form__field">
            <label class="form__label">
                Главный бухгалтер
            </label>
            <input class="inputText" type="text" name="chiefAccountant" />
        </div>
        <div class="form__field">
            <label class="form__label">
                Фактический адрес
            </label>
            <textarea class="inputText" name="address"></textarea>
        </div>
        <div class="form__controls">
            <button type="submit" class="button">Сохранить</button>
            <span style="margin-right: 5px;">или</span>
            <a href="/company">Отменить</a>
        </div>
    </form>
</div>