<% var invoice = require('tpl!blocks/invoice/templates/index.html') %>
<% var currentUserModel = require('models/currentUser') %>

<div class="localNavigation">
    <h2><a class="localNavigation__link" href="/stores/<%- currentUserModel.stores.at(0).id %>/invoices">Накладные</a></h2>
    <a class="localNavigation__link" href="/invoices/search">Поиск накладной</a>
    <a class="localNavigation__link" href="/invoices/create">Создать накладную</a>
</div>

<div class="page__data">
    <div id="invoice">
        <div class="page__controls">
            <a class="page__controlsLink invoice__editLink">Редактировать</a>
            <a class="page__controlsLink invoice__stopEditLink">Завершить редактирование</a>
        </div>

        <%= invoice({
            invoiceModel: invoiceModel
        }) %>
    </div>
</div>
