<%
/**
 *
 * @collections.suppliers
 */
%>

<div class="content">
    <h2>Поставщики</h2>

    <% if (collections.suppliers.length) { %>
    <table class="table">
        <tbody>
        <% collections.suppliers.forEach(function(supplierModel){ %>
        <tr name="supplierData" href="/suppliers/<%- supplierModel.id %>">
            <td name="supplierName">
                <%- supplierModel.get('name') %>
            </td>
            <td style="text-align: right">

                <% if (supplierModel.get('agreement')) { %>
                <a data-navigate="0" class="button" href="<%- supplierModel.get('agreement.url') %>">
                    Скачать договор
                </a>
                <% } %>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p>
        Нет поставщиков
    </p>
    <% } %>
</div>