<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span data-modal="modal-supplier"
			  data-supplier-id="0"
              role="button"
              class="btn btn-primary btn-md">Добавить поставщика</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">
            Поставщики
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">

			<b block="supplierList"></b>

        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->
<b block="supplierModal"></b>
<!--END MODALS-->