[data-modal] {
    cursor: pointer;
}

#modal__wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: auto;
    overflow-y: scroll;
    display: none;
}

#modal__wrapper.modal__wrapper_visible {
    display: block;
}

#modal__wrapper .modal {
    width: 600px;
    margin: 30px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background-color: #fff;
    display: none;
    position: relative;
    overflow: visible !important;
}

#modal__wrapper .modal_visible {
    display: block;
}

.modal__header {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px;
    overflow: hidden;
}

.modal__closeLink {
    cursor: pointer;
    height: 55px;
    width: 55px;
    margin: -10px 10px -10px -20px;
    text-align: center;
    line-height: 55px;
    float: left;
    color: #999;
}

.modal__closeLink[data-modal] {
    font-size: 24px;
}

.modal__closeLink:hover {
    background-color: #f4f4f4;
}

.modal__title {
    line-height: 34px;
    margin: 0;
}

.modal__body {
    padding: 20px 60px;
    position: relative;
}

.modal_receipt__successTitle {
    margin: 0 -65px 30px;
    font-size: 25px;
    padding: 20px 65px 20px;
    border-bottom: 1px solid #eee;
}

.modal_receipt__changeSum {
    font-weight: bold;
    color: #0a819c;
    font-size: 30px;
    padding: 10px 0 0;
}

.modal_receipt__changeSum .fa {
    font-size: 25px;
    font-weight: bold;
}

.modal_invoice {
    width: 80% !important;
}