<div class="panel">
    <div class="panel-heading">Лидеры продаж</div>
    <div class="panel-body">
        <table style="margin-bottom: 0"
               class="table table_storesGrossSales table-hover table-striped">
            <tbody>

            <tr name="product">
                <td name="name">
                    Apple iPhone 6 Space Grey 64GB
                </td>
                <td name="count">
                    25 шт
                </td>
                <td name="amount">
                    <%- formatMoney(1000750) %> <i class="fa fa-rub"></i>
                </td>
            </tr>

            <tr name="product">
                <td name="name">
                    Молоко
                </td>
                <td name="count">
                    250 шт
                </td>
                <td name="amount">
                    <%- formatMoney(1000750) %> <i class="fa fa-rub"></i>
                </td>
            </tr>

            <tr name="product">
                <td name="name">
                    Apple iPhone 6 Space Grey 32GB
                </td>
                <td name="count">
                    21 шт
                </td>
                <td name="amount">
                    <%- formatMoney(100000) %> <i class="fa fa-rub"></i>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>