<div id="modal_receipt"
     class="modal modal_receipt">

    <% if (!success) { %>
    <div class="modal__header">
        <a class="modal__closeLink pull-left fa fa-times"></a>

        <button disabled
                form="form_receipt"
                type="submit"
                class="btn btn-primary pull-right">
            Рассчитать
        </button>

        <h4 class="modal__title">
            Расчет
        </h4>
    </div>

    <div class="modal__body">

        <b block="form_receipt"></b>

    </div>

    <% } else { %>

    <div class="modal__body" style="text-align: center">

        <% if (PAGE.models.receipt.get('payment.type') === 'cash') { %>

        <div class="modal_receipt__successTitle">
            Выдайте сдачу

            <div class="modal_receipt__changeSum">
                <%- formatMoney(PAGE.models.receipt.get('change')) %> <i class="fa fa-rub"></i>
            </div>
        </div>
        <% } else { %>
        <div class="modal_receipt__successTitle" style="padding-bottom: 50px;">
            Оплачено банковской картой
        </div>
        <% } %>

        <% if (PAGE.params.firstStart == 1) { %>

        <p style="padding-bottom: 30px; font-size: 15px;">
            Вы совершили свою первую продажу.<br />
            <a target="_blank" data-navigate="0" href="/">Посмотрите результат</a> в отчете.
        </p>

        <p style="padding-bottom: 30px; font-size: 15px;">
            Можете <a class="modal_receipt__reloadLink">продолжить работу</a> в кассе.
        </p>

        <% } else { %>

        <p style="padding-bottom: 30px;">

            Продажа зарегистрирована

        </p>

        <div style="padding-bottom: 30px;">
            <a class="btn btn-primary modal_receipt__reloadLink"
               style="padding: 10px 30px;">

                Продолжить работу
            </a>
        </div>
        <% } %>
    </div>

    <% } %>
</div>
