<div class="page__controls">
    <a class="page__controlsLink editor__on">Редактировать</a>
    <a class="page__controlsLink editor__off">Завершить редактирование</a>
</div>
<h3>
    <a style="vertical-align: middle" href="/catalog">Товарный справочник</a>
    <span style="vertical-align: middle">/</span>
    <a style="vertical-align: middle" href="/catalog/1">Класс 1</a>
    <span style="vertical-align: middle">/</span>
    <span style="vertical-align: middle; margin-right: 10px;">Группа 1</span>
    <a class="button button_color_blue catalog__addClassLink editor__control">
        Добавить категорию
    </a>
</h3>
<div class="catalogGroup__categories">

</div>
<div class="catalogGroup__products">

</div>
