<% if (LH.isAllow('categories', 'POST')) { %>
<div class="page__controls">
    <a class="page__controlsLink editor__on"><%text 'Редактировать' %></a>
    <a class="page__controlsLink editor__off"><%text 'Завершить редактирование' %></a>
</div>
<% } %>

<h3>
    <span style="vertical-align: middle">
        <%attr catalogGroupModel:name %>
    </span>
    <a class="editor__editLink catalog__editGroupLink"></a>
    <a class="button button_color_blue catalog__addCategoryLink editor__control">
        <%text 'Добавить категорию' %>
    </a>
</h3>
<div class="page__tabs">
    <div class="page__tabItem page__tabItem_active" rel="categoryList">
        <%text 'Категории' %>
    </div>
    <% if(LH.isAllow('groups', 'PUT::{group}')) { %>
    <div class="page__tabItem" rel="groupProperties">
        <%text 'Свойства' %>
    </div>
    <% } %>
</div>
<div class="page__tabsContent">
    <div class="page__tabContentItem page__tabContentItem_active" rel="categoryList">
        <div id="catalog__categoryList" class="catalog__categoryList">
            <%= templates.catalog__categoryList({
                templates: templates,
                catalogCategoriesCollection: catalogGroupModel.categories
            }) %>
        </div>
    </div>
    <% if(LH.isAllow('groups', 'PUT::{group}')) { %>
    <div class="page__tabContentItem" rel="groupProperties">
        <form id="form_catalogGroupProperties"></form>
    </div>
    <% } %>
</div>
