<div class="page__controls">
    <a class="page__controlsLink">Редактировать</a>
    <a class="page__controlsLink">Завершить редактирование</a>
</div>
<h3>
    <a href="/catalog">Товарный справочник</a>
    <span>/</span>
    <a href="/catalog/1">Класс 1</a>
    <span>/</span>
    <span>Группа 1</span>
</h3>
<div class="catalog__controls">
    <a class="button button_color_blue catalog__addClassLink">
        Добавить категорию
    </a>
</div>
<div class="catalogGroup__categories">

</div>
<div class="catalogGroup__products">

</div>
