<div class="removeButton">

    <a class="removeButton__link removeButton__trigger">
        <%- removeText %>
    </a>

    <a class="removeButton__link removeButton__confirm">
        <%- confirmText %>
    </a>

    <div class="removeButton__error"></div>

</div>