.table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table tbody{
    border: none !important;
}

.table tr{
    position: static !important;
}

.table td, .table th{
    padding: 12px;
}

.table td{
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.table th{
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.table tbody tr:hover{
    background: #fffee2 !important;
}

.table_loading tbody{
    visibility: hidden;
}

.table_loading thead tr{
    background: url("/img/preloader1.gif") fixed;
    color: #fff;
}