.inputText {
    position: relative;
}

input.inputText, .inputText input, textarea.inputText, .inputText textarea{
    height: 35px;
    background-color: #fff;
    outline: none;
    font-size: 16px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid #cacaca;
    padding: 0 8px;
    vertical-align: middle;
    width: 100%;
    color: #000;
}

.inputText:-moz-placeholder {
    color: #b2bcc5;
}

.inputText::-webkit-input-placeholder {
    color: #b2bcc5;
}

.inputText:focus:-moz-placeholder {
    color: #b2bcc5 !important;
}

.inputText:focus::-webkit-input-placeholder {
    color: #b2bcc5 !important;
}

.inputText_inline, input.inputText_inline, textarea.inputText_inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
    margin-right: 10px;
    width: auto;
}

textarea.inputText, .inputText textarea {
	height: 100px;
    padding: 10px;
}

.inputText:focus, .inputText input:focus, .inputText textarea:focus {
    border-color: #1FB18A !important;
}

.inputText[disabled], .inputText input[disabled], .inputText textarea[disabled] {
    opacity: 0.8;
}

input.inputText_error, .inputText_error input, textarea.inputText_error, .inputText_error textarea{
    border-color: #d40000 !important;
}

.inputText_error:focus, .inputText_error input:focus, .inputText_error textarea:focus {
    border-color: #d40000 !important;
}

.inputText__postfix{
    vertical-align: middle;
}