<div class="page sticky-header">
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html">
                <img class="page__logoImg" src="img/logo1.png" />
                <span class="page__logoText">Lighthouse</span>
            </a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img class="page__logoImg" src="img/logo1.png" /></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <div class="media-body">
                        <h4><a href="#">owner@lighthouse.pro</a></h4>
                    </div>
                </div>

                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>

                <hr/>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu">
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                        <span>Обзор</span>
                    </a>
                </li>


                <li class="menu">
                    <a href="index.html">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Продажи</span>
                    </a>
                </li>

                <li class="menu-list">
                    <a href="index.html">
                        <i class="fa fa-exchange"></i>
                        <span>Товародвижение</span>
                    </a>

                    <ul class="sub-menu-list">
                        <li>
                            <a href="blank_page.html">Приемка</a>
                        </li>
                        <li><a href="boxed_view.html">Перемещение</a></li>
                        <li><a href="leftmenu_collapsed_view.html">Списание</a></li>
                        <li><a href="horizontal_menu.html">Оприходование</a></li>
                        <li><a href="horizontal_menu.html">Возврат</a></li>
                    </ul>

                </li>

                <li class="menu">
                    <a href="index.html">
                        <i class="fa fa-rub"></i>
                        <span>Деньги</span>
                    </a>
                </li>

                <li class="menu">
                    <a href="index.html">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Отчеты</span>
                    </a>
                </li>

                <li>
                    <hr/>

                </li>

                <li class="menu">
                    <a href="index.html">
                        <i class="fa fa-barcode"></i>
                        <span>Ассортимент</span>
                    </a>
                </li>

                <li class="menu">
                    <a href="index.html">
                        <i class="fa fa-truck"></i>
                        <span>Поставщики</span>
                    </a>
                </li>

                <li class="menu">
                    <a href="index.html">
                        <i class="fa fa-building-o"></i>
                        <span>Магазины</span>
                    </a>
                </li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <div class="app__title">
                Заголовок
            </div>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            owner@lighthouse.pro
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <%= content(obj) %>

        </div>
        <!--body wrapper end-->


    </div>
    <!-- main content end-->

</div>
