<% var templates = _.defaults(templates, {
    content: function(data) {
        return '<h1>Welcome to Lighthouse</h1>';
    },
    localNavigation: null,
    globalNavigation: require('tpl!blocks/globalNavigation/globalNavigation.html')
}) %>

<% var moduleId = moduleId || 'noname' %>

<div class="page" page="<%- moduleId %>">
    <%= templates.globalNavigation(obj) %>

    <% if (templates.localNavigation) { %>
        <%= templates.localNavigation(obj) %>
    <% } %>

    <%= templates.content(obj) %>
</div>
