<% var currentUserModel = require('models/currentUser/currentUser.inst') %>

<div class="page">

    <nav id="sidebar" role="navigation" class="navbar-default navbar-static-side" style="min-height: 100%">

        <nav id="topbar" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
                <a id="logo" href="/" class="navbar-brand">
                    <span style="font-size: 22px;" class="logo-text">LightHOUSE</span>
                </a>
            </div>
        </nav>

        <div class="sidebar-collapse menu-scroll">
            <ul id="side-menu" class="nav">
                <li class="user-panel">

                    <div class="info">
                        <p>
                            <%- currentUserModel.get('username') || currentUserModel.get('email') %>
                        </p>
                        <ul class="list-inline list-unstyled">
                            <li>
                                <a href="extra-profile.html"
                                   data-hover="tooltip"
                                   title=""
                                   data-original-title="Profile">
                                    <i class="fa fa-user"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                   data-hover="tooltip"
                                   title=""
                                   data-toggle="modal"
                                   data-target="#modal-config"
                                   data-original-title="Setting">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/logout"
                                   data-hover="tooltip"
                                   title=""
                                   data-original-title="Logout">
                                    <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </li>

                <li>
                    <a href="/">
                        <i class="fa fa-tachometer fa-fw"></i>
                        <span class="menu-title">Обзор</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <i class="fa fa-exchange fa-fw"></i>
                        <span class="menu-title">Товародвижение</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <i class="fa fa-rub fa-fw"></i>
                        <span class="menu-title">Деньги</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <i class="fa fa-bar-chart-o fa-fw"></i>
                        <span class="menu-title">Отчеты</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <span class="menu-title">Ассортимент</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <span class="menu-title">Поставщики</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <span class="menu-title">Магазины</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper">

        <!--BEGIN TITLE PAGE-->
        <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
            <div class="page-header pull-left">
                <div class="page-title"><%- title %></div>
            </div>

            <div class="clearfix"></div>
        </div>
        <!--END TITLE PAGE-->

        <!--BEGIN CONTENT-->
        <div class="page-content">
            <%= content(obj) %>
        </div>
        <!--END CONTENT-->
    </div>

</div>