.content.preloader * {
    visibility: hidden;
}

.content {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    min-height: 100%;
    padding: 60px 0 20px;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}