<!--BEGIN TITLE PAGE-->
<div class="page__head">
    <div class="page__title">
        Настройки
    </div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">
        <div class="col-md-12">

            <b block="passwordChanging"></b>

        </div>
    </div>
</div>
<!--END CONTENT-->