<fieldset class="form__fieldset">
    <div class="form__field form__field_inline">
        <label class="form__label">Приемка №</label>
        <input value="<%= _.escape(block.invoiceModel.get('sku')) %>" class="inputText" type="text" name="sku"/>
        <span style="vertical-align: middle; margin: 0 5px 0 10px;">от</span>
        <input style="width: 200px;" value="<%= _.escape(block.invoiceModel.get('acceptanceDate')) %>" class="inputText" type="text" name="acceptanceDate"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Поставщик</label>
        <input value="<%= _.escape(block.invoiceModel.get('supplier')) %>" class="inputText" type="text" name="supplier"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Кто принял</label>
        <input value="<%=_.escape( block.invoiceModel.get('accepter')) %>" class="inputText" name="accepter" />
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Получатель</label>
        <input value="<%= _.escape(block.invoiceModel.get('legalEntity')) %>" class="inputText" name="legalEntity" />
    </div>
</fieldset>
<fieldset class="form__fieldset">
    <legend class="form__legend">Необязательно к заполнению</legend>
    <div class="form__field form__field_inline">
        <label class="form__label">Входящий номер</label>
        <input value="<%= _.escape(block.invoiceModel.get('supplierInvoiceSku')) %>" class="inputText" type="text" name="supplierInvoiceSku"/>
        <span style="vertical-align: middle; margin: 0 5px 0 10px;">от</span>
        <input style="width: 200px;" value="<%= _.escape(block.invoiceModel.get('supplierInvoiceDate')) %>" class="inputText" type="text" name="supplierInvoiceDate"/>
    </div>
</fieldset>
<div class="form__controls">
    <span class="button button_color_blue">
        <%= 'Добавить накладную' %>
        <input type="submit"/>
    </span>
</div>
