<div class="receiptFinder page__panel">

    <div class="receiptFinder__input">
        <b block="product_autocomplete"
           data-add-link="0"
           data-clear-link="1"
           data-value="<%- models.product.get('name') %>"></b>
    </div>

    <b block="inputDateRange"
       data-date-from="<%- PAGE.params.dateFrom %>"
       data-date-to="<%- PAGE.params.dateTo %>">
    </b>

    <b block="receiptFinder__results"></b>

</div>