.tooltip{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 1px 8px #999;
    display: none;
    padding: 10px;
    z-index: 100;
    border-radius: 4px;
    margin-top: 5px;
}

.tooltip__pointer{
    position: absolute;
    left: 40px;
    top: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: none;
}