<table class="table table_productInvoices">
    <tbody>
    <% collection.forEach(function(model){ %>
    <tr writeoff-number="<%- model.get('writeOff.number') %>" name="writeOff" href="/writeOffs/<%- model.get('writeOff.id') %>">
        <td>
            <%= LH.modelNode(model, 'createdDateFormatted') %>
        </td>
        <td>
            - <%= LH.modelNode(model, 'quantityElement') %>
            <%- LH.units(model.get('product.units'), 'smallShort') %>
        </td>
        <td>
            по <%= LH.modelNode(model, 'priceFormatted') %> р.
        </td>
        <td>
            = <%= LH.modelNode(model, 'totalPriceFormatted') %> р.
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>