<%
/**
 *
 * @collections.grossSalesByStores
 */
%>
<% var moment = require('moment') %>



<thead>
<th></th>
<th>
    <a data-sort-by="yesterday.runningSum">вчера</a>
</th>
<th>
    <a data-sort-by="twoDaysAgo.runningSum">позавчера</a>
</th>
<th>
    <a data-sort-by="eightDaysAgo.runningSum">
        <%- LH.getText('last day', collections.grossSalesByStores ? moment(collections.grossSalesByStores.at(0).get('eightDaysAgo.dayHour')).day() : null) %></a>
</th>

</thead>
<tbody>
<% _.forEach(collections.grossSalesByStores, function(storeGrossSaleModel) { %>
<tr name="grossSalesByStoresRow">
    <td name="store.number">
        <%- storeGrossSaleModel.get('store.number') %>
    </td>
    <td name="yesterday.runningSum">
        <%- LH.formatMoney(storeGrossSaleModel.get('yesterday.runningSum')) %> р.
    </td>
    <td name="twoDaysAgo.runningSum">
        <%- LH.formatMoney(storeGrossSaleModel.get('twoDaysAgo.runningSum')) %> р.
    </td>
    <td name="eightDaysAgo.runningSum">
        <%- LH.formatMoney(storeGrossSaleModel.get('eightDaysAgo.runningSum')) %> р.
    </td>
</tr>
<% }) %>
</tbody>