<%
/**
 *
 * @collections.grossSalesByStores
 */
%>

<thead>
<th></th>
<th data-sort-by="yesterday.runningSum">
    Вчера
</th>
<th data-sort-by="twoDaysAgo.runningSum">
    Позавчера
</th>
<th data-sort-by="eightDaysAgo.runningSum">
    Неделю назад
</th>
</thead>
<tbody>
<% collections.grossSalesByStores.forEach(function(storeGrossSaleModel) { %>
<tr>
    <td>
        <%- storeGrossSaleModel.get('store').number %>
    </td>
    <td>
        <%- LH.formatMoney(storeGrossSaleModel.get('yesterday.runningSum')) %> р.
    </td>
    <td>
        <%- LH.formatMoney(storeGrossSaleModel.get('twoDaysAgo.runningSum')) %> р.
    </td>
    <td>
        <%- LH.formatMoney(storeGrossSaleModel.get('eightDaysAgo.runningSum')) %> р.
    </td>
</tr>
<% }) %>
</tbody>