<% var templates = _.extend({
    form_invoiceSearch: require('ejs!blocks/form/form_invoiceSearch/template.html')
}, templates) %>

<div class="content">
    <%= templates.form_invoiceSearch() %>
</div>
