.tooltip_menu{
    min-width: 200px;
}

.tooltip_catalogGroupMenu{
    margin-top: -33px;
}

.tooltip_menu .tooltip__controls{
    list-style: none;
    margin: 0 -10px;
    padding: 0;
}

.tooltip_menu .tooltip__controlLink{
    display: block;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: -1px;
    padding: 8px 10px;
    text-decoration: none;
}

.tooltip_menu .tooltip__controlLink:hover{
    background: #f4f4f4;
}