parameters:
    test.client.class: Lighthouse\CoreBundle\Test\Client\Client
    doctrine_mongodb.odm.document_manager.class: Lighthouse\CoreBundle\MongoDB\DocumentManager
    doctrine_mongodb.odm.metadata.annotation.class: Lighthouse\CoreBundle\MongoDB\Mapping\Driver\AnnotationDriver
    doctrine_mongodb.odm.metadata_factory.class: Lighthouse\CoreBundle\MongoDB\Mapping\ClassMetadataFactory
    doctrine_mongodb.odm.generator.increment.collection: IncNumbers
    openstack.selectel.storage.container.metadata:
        type: public
        domains: cdn.lighthouse.pro

services:
    jms_serializer.serialized_name_annotation_strategy:
        class: %jms_serializer.serialized_name_annotation_strategy.class%
        public: false
        arguments: ["@lighthouse.core.naming.as_is"]

    jms_serializer.metadata_driver:
        alias: lighthouse.core.serializer.metadata.driver.document

    sensio_framework_extra.converter.doctrine.orm:
        class: %sensio_framework_extra.converter.doctrine.class%
        arguments: ["@doctrine_mongodb"]
        tags:
            - { name: request.param_converter, converter: doctrine.orm }

    # openstack
    openstack.selectel:
        class: Lighthouse\CoreBundle\OpenStack\SelectelStorage
        arguments:
            - "%openstack.selectel.auth_url%"
            - { username: %openstack.selectel.secret.username%, password: %openstack.selectel.secret.password% }
            - "%openstack.selectel.options%"

    openstack.selectel.storage:
        class: OpenCloud\ObjectStore\Service
        factory_service: openstack.selectel
        factory_method: objectStoreService

    openstack.selectel.storage.container:
        class: Lighthouse\CoreBundle\OpenStack\ObjectStore\Resource\Container
        arguments:
            - "@openstack.selectel.storage"
            - "%openstack.selectel.storage.container.name%"

    doctrine:
        alias: doctrine_mongodb

    doctrine_mongodb.odm.repository:
        abstract: true
        class: Doctrine\ODM\MongoDB\DocumentRepository
        factory_service: doctrine_mongodb.odm.document_manager
        factory_method: getRepository

    lighthouse.core.document.repository.product:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\Product\ProductRepository
        arguments:
            - LighthouseCoreBundle:Product\Product

    lighthouse.core.document.repository.invoice:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\Invoice\InvoiceRepository
        arguments:
            - LighthouseCoreBundle:Invoice\Invoice
        calls:
            - [setNumericFactory, ["@lighthouse.core.types.numeric.factory"]]

    lighthouse.core.document.repository.invoice_product:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\Invoice\Product\InvoiceProductRepository
        arguments:
            - LighthouseCoreBundle:Invoice\Product\InvoiceProduct

    lighthouse.core.document.repository.trial_balance:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\TrialBalance\TrialBalanceRepository
        arguments:
            - LighthouseCoreBundle:TrialBalance\TrialBalance

    lighthouse.core.document.repository.receipt:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Receipt\Receipt

    lighthouse.core.document.repository.return.product:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\Returne\Product\ReturnProductRepository
        arguments:
            - LighthouseCoreBundle:Returne\Product\ReturnProduct

    lighthouse.core.document.repository.writeoff:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\WriteOff\WriteOffRepository
        arguments:
            - LighthouseCoreBundle:WriteOff\WriteOff

    lighthouse.core.document.repository.writeoff.product:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\WriteOff\Product\WriteOffProductRepository
        arguments:
            - LighthouseCoreBundle:WriteOff\Product\WriteOffProduct

    lighthouse.core.document.repository.classifier.group:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Classifier\Group\Group

    lighthouse.core.document.repository.classifier.category:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Classifier\Category\Category

    lighthouse.core.document.repository.classifier.subcategory:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Classifier\SubCategory\SubCategory

    lighthouse.core.document.repository.user:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:User\User

    lighthouse.core.document.repository.project:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Project\Project

    lighthouse.core.document.repository.organization:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Organization\Organization

    lighthouse.core.document.repository.client:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Auth\Client

    lighthouse.core.document.repository.store:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Store\Store

    lighthouse.core.document.repository.department:
            parent: doctrine_mongodb.odm.repository
            arguments:
                - LighthouseCoreBundle:Department\Department

    lighthouse.core.document.repository.product_version:
            parent: doctrine_mongodb.odm.repository
            arguments:
                - LighthouseCoreBundle:Product\Version\ProductVersion
            calls:
                - [setVersionFactory, ["@lighthouse.core.versionable.factory"]]

    lighthouse.core.document.repository.store_product:
            parent: doctrine_mongodb.odm.repository
            class: Lighthouse\CoreBundle\Document\Product\Store\StoreProductRepository
            arguments:
                - LighthouseCoreBundle:Product\Store\StoreProduct
            calls:
                - [setProductRepository, ["@lighthouse.core.document.repository.product"]]
                - [setStoreRepository, ["@lighthouse.core.document.repository.store"]]
                - [setNumericFactory, ["@lighthouse.core.types.numeric.factory"]]

    lighthouse.core.job.repository:
            parent: doctrine_mongodb.odm.repository
            arguments:
                - LighthouseCoreBundle:Job\Job

    lighthouse.core.document.repository.config:
            parent: doctrine_mongodb.odm.repository
            arguments:
                - LighthouseCoreBundle:Config\Config

    lighthouse.core.document.repository.log:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Log\Log

    lighthouse.core.document.repository.supplier:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:Supplier\Supplier

    lighthouse.core.document.repository.file:
        parent: doctrine_mongodb.odm.repository
        arguments:
            - LighthouseCoreBundle:File\File
            
    lighthouse.core.document.repository.order:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\Order\OrderRepository
        arguments:
            - LighthouseCoreBundle:Order\Order

    lighthouse.core.document.repository.order_product:
        parent: doctrine_mongodb.odm.repository
        class: Lighthouse\CoreBundle\Document\Order\Product\OrderProductRepository
        arguments:
            - LighthouseCoreBundle:Order\Product\OrderProduct