.breadcrumbs {
    font-size: 14px;
    padding-bottom: 20px;
}

.breadcrumbs__link:after {
    content: "\f054";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 12px;
    margin: 0 5px;
}