<% var currentUserModel = require('models/currentUser'); %>

<% if(LH.isAllow('users', 'PUT::{user}')) { %>
<div class="page__controls">
    <a class="user__editLink"
       href="/users/edit/<%- model.get('id') %>">
        <%- 'Редактировать' %>
    </a>
</div>
<% } %>

<h1 name="name"><%- model.get('name') %></h1>

<table class="table" style="width: 50%">
    <tr>
        <th><%- 'Роль' %></th>
        <td name="role"><%- LH.translate(model.get('role')) %></td>
    </tr>
    <tr>
        <th><%- 'Должность' %></th>
        <td name="position"><%- LH.translate(model.get('position')) %></td>
    </tr>
    <tr>
        <th><%- 'Логин' %></th>
        <td name="username"><%- model.get('username') %></td>
    </tr>
</table>

<% if (model.id === currentUserModel.id){ %>
<div style="padding-top: 20px;">
    <a class="button" href="/logout">
        Выйти
    </a>
</div>
<% } %>