<div class="page__controls">
    <a class="user__editLink"
       href="/user/edit/<%= block.userModel.get('id') %>">
        Редактировать
    </a>
</div>

<h3 name="name"><%= block.userModel.get('name') %></h3>

<table class="table" style="width: 50%">
    <tr>
        <th>Роль</th>
        <td name="role"><%= LH.dictionary.userRoles[block.userModel.get('role')] %></td>
    </tr>
    <tr>
        <th>Должность</th>
        <td name="position"><%= block.userModel.get('position') %></td>
    </tr>
    <tr>
        <th>Логин</th>
        <td name="username"><%= block.userModel.get('username') %></td>
    </tr>
</table>
