<% var currentUserModel = require('models/currentUser') %>
<% var OrderProductModel = require('models/orderProduct') %>
<% var model = model || new OrderProductModel() %>

<form class="form form_orderProduct">
    <div class="form__field">
        <table>
            <tr>
                <td style="padding-right: 10px;">
                    <div style="position: relative; white-space: nowrap;">
                        <label class="form__label">Наименование</label>
                        <input value="<%- model.get('product.product.id') %>" type="hidden" name="product"/>
                        <input data-url="/stores/<%- currentUserModel.stores.at(0).id %>/products/name/search"
                               type="text" class="autocomplete_storeProduct inputText autocomplete"
                               name="name"
                               value="<%- model.get('product.product.name') %>"/>
                        <span class="preloader"></span>
                    </div>
                </td>
                <td style="padding-right: 20px;">
                    <label class="form__label">Количество, шт</label>
                    <input style="width: 100px;"
                           type="text" class="inputText"
                           name="quantity"
                           value="<%- model.get('quantity') %>"/>
                </td>
                <td style="padding-right: 20px;">
                    <label class="form__label">Цена, руб</label>

                    <div class="form_orderProduct__retailPrice"
                         name="retailPrice"
                         style="height: 35px; line-height: 35px;">
                    </div>
                </td>
                <td style="padding-right: 20px;">
                    <label class="form__label">Сумма, руб</label>

                    <div class="form_orderProduct__totalSum"
                         name="totalSum"
                         style="height: 35px; line-height: 35px;">
                    </div>
                </td>
                <td>
                    <label class="form__label">Остаток, шт</label>

                    <div class="form_orderProduct__inventory"
                         name="inventory"
                         style="height: 35px; line-height: 35px;">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="form__controls">
        <button type="submit" class="button">
            <%- model.get('product') ? 'Редактировать' : 'Добавить в заказ' %>
        </button>
    </div>
</form>