<% var model = model || new Backbone.Model() %>
<% var currentUserModel = require('models/currentUser') %>
<% var storeProduct = storeProduct || {
    product: {}
} %>

<form class="form form_orderProduct">
    <div class="form__field">
        <table>
            <tr>
                <td style="padding-right: 10px;">
                    <label class="form__label">Наименование</label>
                    <input data-url="/stores/<%- currentUserModel.stores.at(0).id %>/products/name/search"
                           type="text" class="autocomplete_storeProduct inputText autocomplete"
                           name="name"
                           value="<%- storeProduct.product.name %>" />
                    <span class="preloader"></span>
                </td>
                <td style="padding-right: 20px;">
                    <label class="form__label">Количество, шт</label>
                    <input style="width: 100px;"
                           type="text" class="inputText"
                           name="quantity"
                           value="<%- model.get('quantity') %>"/>
                </td>
                <td style="padding-right: 20px;">
                    <label class="form__label">Цена, руб</label>
                    <div class="form_orderProduct__retailPrice" style="height: 35px; line-height: 35px;">
                    </div>
                </td>
                <td style="padding-right: 20px;">
                    <label class="form__label">Сумма, руб</label>
                    <div class="form_orderProduct__totalSum" style="height: 35px; line-height: 35px;">
                    </div>
                </td>
                <td>
                    <label class="form__label">Остаток, шт</label>
                    <div class="form_orderProduct__inventory" style="height: 35px; line-height: 35px;">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="form__controls">
        <button type="submit" class="button">
            Добавить в заказ
        </button>
    </div>
</form>