<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="page-header pull-left">
        <div class="page-title">

            <a href="/reports"
               class="fa fa-long-arrow-left"
               style="font-size: 25px; margin-right: 10px;"></a>

            Остатки товаров

        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">

    <div class="row">
        <div class="col-md-12">
            <% if (collections.stores.length) { %>
            <div class="panel">
                <div class="panel-body">

                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-3">
                            <b block="select_stores"
                               data-selected="<%- collections.stores.length == 1 ? collections.stores.at(0).id : null %>"></b>
                        </div>
                        <div class="col-md-3">
                            <b block="select_groupsSimple"></b>
                        </div>
                    </div>

                    <b block="table_stockBalance"></b>

                </div>
            </div>
            <% } else { %>
            <div class="alert alert-info">
                У вас ещё нет ни одного магазина. Для просмотра остатков добавьте хотя бы один магазин.
            </div>
            <% } %>
        </div>
    </div>

</div>
<!--END CONTENT-->