<%
/**
 *
 * @params.edit
 * @collections.groups
 */
%>

<div class="content catalog">
    <h1>
        <span style="vertical-align: middle; margin-right: 10px;">
            Товарный справочник
        </span>
    </h1>

    <%= collections.groups.element(require('ejs!blocks/catalog/storeGroupList.ejs'), {
        collections: {
            groups: collections.groups
        }
    }) %>
</div>
