<!--BEGIN TITLE PAGE-->
<div class="page__head">

    <div class="pull-right">
        <span data-modal="modal_cashFlow"
              data-cash-flow-id="0"
              role="button"
              class="btn btn-primary btn-md">Добавить операцию</span>
    </div>

    <div class="page__title">Деньги</div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">
        <div class="col-md-12">

            <b block="table_cashFlows"></b>

        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->
<b block="modal_cashFlow"></b>
<!--END MODALS-->