[ lh_card_stack ] {
    display: inline-block;
    text-align: left;
    width: 96%;
    max-width: 700pt;
    margin: 2%;
    box-sizing: border-box;
}

[ lh_card_back ] {
    display: block;
    text-align: left;
    margin-bottom: -3px;
    padding: .7em;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 17pt;
    text-decoration: underline;
    color: #219ada;
}

[ lh_card_back ]:hover {
    color: #2286e0;
}

[ lh_card ] {
    background: white;
    display: block;
    text-align: left;
    padding: 1%;
    box-shadow: 0 1px 0 rgba( 255, 255, 255, 0.3 ) inset;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    opacity: 1;
    border-bottom: 2px solid #BDC3C7;
}

[ lh_card_header ] {
    margin: .5% .5% 1%;
}

[ lh_card_tools ] {
    float: right;
}

[ lh_card_title ] {
    line-height: 1.3;
    font-weight: bold;
    font-size: 17pt;
    text-decoration: inherit;
    color: inherit;
    display: inline;
    margin: .5% .15em;
}

[ lh_card_title ][ href ] {
    color: steelblue;
}

[ lh_card_title ][ href ]:hover {
    color: red;
}

[ lh_card_foot ] {
    background: #fefef2;
    margin: 0 -1% -1%;
    padding: 2% 1% 1px;
    width: 100%;
    border-radius: 0 0 4px 4px;
}
