.productFinder__resetLink {
    cursor: pointer;
}

.productFinder__resetLink:hover {
    color: #0a819c;
}

.productFinder__search {
    padding-bottom: 20px;
}

.productFinder__results .alert {
    margin-bottom: 0;
}

.productFinder__itemInfo {
    font-size: 11px;
    color: #bbb;
}

.productFinder__results .list-group {
    margin-bottom: 0;
}

.productFinder__results {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 15px;
    bottom: 0;
    top: 60px;
    overflow: auto;
}

.productFinder__resultLink {
    display: block;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    background-color: #fafafa;
    margin: 5px 0;
    font-size: 14px;
}

.productFinder__resultLink:focus, .productFinder__resultLink:hover {
    background-color: #f4f4f4;
}
