<div class="productFinder page__panel">

    <div class="productFinder__search">
        <div class="input-group">

            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>

            <input autofocus
                   placeholder="Наименование или артикул товара"
                   type="text"
                   name="product"
                   class="form-control">

            <span class="productFinder__resetLink input-group-addon">
                <i class="fa fa-times"></i>
            </span>
        </div>
    </div>

    <b block="productFinder__results"></b>

</div>