<div class="productFinder">

    <div class="productFinder__search">
        <div class="input-group">

            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>

            <input placeholder="Наименование или артикул товара"
                   type="text"
                   name="product"
                   class="form-control">

            <a class="productFinder__resetLink input-group-addon">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <div class="productFinder__results">

    </div>

</div>