<div id="modal_receiptProduct"
     class="modal modal_receiptProduct">

    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button"
                   data-dismiss="modal"
                   aria-hidden="true"
                   class="close pull-left fa fa-times"></a>

                <button form="form_receiptProduct"
                        type="submit"
                        class="btn btn-primary pull-right">
                    Сохранить
                </button>

                <h4 class="modal-title">
                    <%- models.receiptProduct.collection ? 'Редактирование позиции в чеке' : 'Добавление позиции в чек'%>
                </h4>

                <span class="clearfix"></span>
            </div>
            <div class="modal-body">

                <b block="form_receiptProduct"></b>

            </div>
        </div>
    </div>

</div>