<div id="modal_receiptProduct"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-default-label"
     aria-hidden="true"
     class="modal modal_receiptProduct fade"
     style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button"
                   data-dismiss="modal"
                   aria-hidden="true"
                   class="close pull-left fa fa-times"></a>

                <button form="form_receiptProduct"
                        type="submit"
                        class="btn btn-primary pull-right">
                    Сохранить
                </button>

                <h4 class="modal-title">
                    Редактирование товара в чеке
                </h4>

                <span class="clearfix"></span>
            </div>
            <div class="modal-body">

                <b block="form_receiptProduct" data-receipt-product-cid="<%- receiptProductCid %>"></b>

            </div>
        </div>
    </div>

</div>