<h4>Добавить товар в накладную</h4>

<input type="hidden" name="product">

<div class="form__field form__field_inline">
    <label class="form__label">Наименование</label>
    <input class="inputText" type="text" lh_product_autocomplete="name"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Артикул</label>
    <input class="inputText" type="text" lh_product_autocomplete="sku"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Штрихкод</label>
    <input class="inputText" type="text" lh_product_autocomplete="barcode"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Количество</label>
    <input class="inputText" type="text" name="quantity"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Цена приёмки</label>
    <input class="inputText" type="text" name="price"/>
</div>
<div class="form__controls">
    <span lh-button class="button invoice__addMoreProduct">
        Добавить товар
        <input type="submit"/>
    </span>
    <a lh-button class="button invoice__stopEditButton">
        Завершить редактирование
    </a>
</div>