<% var model = model || new Backbone.Model() %>

<form class="form form_supplier">
    <div class="form__field">
        <label class="form__label">Юридическое лицо</label>
        <input value="<%- model.get('name') %>" name="name" type="text" class="inputText" />
    </div>
    <div class="form__controls">
        <button type="submit" class="button">
            Сохранить
        </button>
            <span style="margin-right: 10px;">
                или
            </span>
        <a href="/suppliers">
            Отменить
        </a>
    </div>
</form>