<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span data-target=".modal_group"
              data-toggle="modal"
              role="button"
              class="btn btn-primary btn-md">Добавить группу</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">Ассортимент</div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">

        <b block="groupList"></b>

    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->
<b block="modal_group"></b>
<!--END MODALS-->