.preloader_rows{
    background-image: url("/img/preloader1.gif") !important;
    background-attachment: fixed;
    color: #f4f4f4 !important;
}

.preloader_spinner{
    min-height: 100px;
}

.preloader_spinner *{
    visibility: hidden;
}

.preloader_spinner:after {
    content: "";
    display: block;
    visibility: visible;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -37px 0 0 -37px;

    border: 10px solid #333;
    border-top-color: transparent;
    border-radius: 100%;

    -webkit-animation: spin 1s infinite ease;
    -moz-animation: spin 1s infinite ease;
    -ms-animation: spin 1s infinite ease;
    -o-animation: spin 1s infinite ease;
    animation: spin 1s infinite ease;
}

.inputText + .preloader {
    display: inline-block;
    visibility: hidden;
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;

    border: 5px solid #333;
    border-top-color: transparent;
    border-radius: 100%;

    -webkit-animation: spin 1s infinite ease;
    -moz-animation: spin 1s infinite ease;
    -ms-animation: spin 1s infinite ease;
    -o-animation: spin 1s infinite ease;
    animation: spin 1s infinite ease;
}

.ui-autocomplete-loading + .preloader {
    visibility: visible;
}

.invoice__dataInput .preloader,
.writeOff__dataInput .preloader {
    position: absolute;
    right: 5px;
    top: 5px;
}