.product__name {
    padding-bottom: 5px;
}

.product__sku {
    font-size: 12px;
    padding-bottom: 15px;
}

.product__head {
    margin-bottom: 20px;
}

.product__propertiesTable td,
.product__propertiesTable th
{
    padding: 10px 20px 10px 0;
    vertical-align: middle;
    font-weight: normal;
}
