<select class="form-control" name="group">

    <option value="" selected>Все группы</option>

    <% collection.forEach(function(group){ %>
        <option <%- group.id === selected && 'selected' %> value="<%- group.id %>">
            <%- group.get('name') %>
        </option>
    <% }) %>

</select>