<h3>Добавить товар в списание</h3>

<input type="hidden" name="product">

<div class="form__field form__field_inline">
    <label class="form__label">Наименование</label>
    <input class="inputText" type="text" lh_product_autocomplete="name"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Артикул</label>
    <input class="inputText" type="text" lh_product_autocomplete="sku"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Штрихкод</label>
    <input class="inputText" type="text" lh_product_autocomplete="barcode"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Количество</label>
    <input class="inputText" type="text" name="quantity"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Цена</label>
    <input lh_product_autocomplete="price" class="inputText" type="text" name="price"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Причина</label>
    <textarea class="inputText" name="cause"></textarea>
</div>
<div class="form__controls">
        <span class="button button_color_blue writeOff__addMoreProduct">
            Добавить товар
            <input type="submit"/>
        </span>
    <a class="button writeOff__stopEditButton">
        Завершить редактирование
    </a>
</div>