<% if(LH.isAllow('products', 'PUT::{product}')) { %>
<div class="page__controls">
    <a class="user__editLink"
       href="/products/edit/<%= model.get('id') %>">
        Редактировать
    </a>
</div>
<% } %>

<h3 name="name" class="product__name"><%t model.get('name') %></h3>

<div class="product__sku" name="sku">
    <%e model.get('sku') %>
</div>

<table class="table" style="width: 50%">
    <tr>
        <th>Группа</th>
        <td>
            <a href="/catalog/<%= model.get('group') %>" name="group">
                <%t model.get('group') %>
            </a>
        </td>
    </tr>
    <tr>
        <th>Категория</th>
        <td>
            <a href="/catalog/<%= model.get('group') %>/<%= model.get('category') %>" name="category">
                <%t model.get('category') %>
            </a>
        </td>
    </tr>
    <tr>
        <th>Подкатегория</th>
        <td>
            <a href="/catalog/<%= model.get('group') %>/<%= model.get('category') %>/<%= model.get('subcategory') %>" name="subcategory">
                <%t model.get('subcategory') %>
            </a>
        </td>
    </tr>
    <tr>
        <th>Закупочная цена</th>
        <td>
            <span name="purchasePrice">
                <%e LH.formatPrice(model.get('purchasePrice')) %>
            </span>
            руб.
        </td>
    </tr>
    <tr>
        <th>НДС</th>
        <td>
            <span name="vat"><%e model.get('vat') %></span>
            %
        </td>
    </tr>
    <tr>
        <th>Штрих-код</th>
        <td>
            <span name="barcode"><%e model.get('barcode') %></span>
        </td>
    </tr>
    <tr>
        <th>Единица измерения</th>
        <td name="units">
            <%t LH.units(model.get('units'), 'smallFull') %>
        </td>
    </tr>
    <tr>
        <th>Производитель</th>
        <td name="vendor">
            <%t model.get('vendor') %>
        </td>
    </tr>
    <tr>
        <th>Страна</th>
        <td name="vendorCountry">
            <%t model.get('vendorCountry') %>
        </td>
    </tr>
    <tr>
        <th>Наценка</th>
        <td>
            <% if(model.get('retailMarkup')) { %>
                <span name="retailMarkup">
                    <%e model.get('retailMarkup') %>
                </span>
            %
            <% } else { %>
                <i name="retailMarkup">
                    отсутствует
                </i>
            <% } %>
        </td>
    </tr>
    <tr>
        <th>Цена продажи</th>
        <td>
            <% if(model.get('retailPrice')){ %>
                <span name="retailPrice">
                    <%e LH.formatPrice(model.get('retailPrice')) %>
                </span>
            руб.
            <% } else { %>
                <i name="retailPrice">
                    отсутствует
                </i>
            <% } %>
        </td>
    </tr>
</table>
<p name="info">
    <%e model.get('info') %>
</p>