<% if(LH.isAllow('products', 'PUT::{product}')) { %>
<div class="page__controls">
    <a class="user__editLink"
       href="/products/edit/<%- productModel.get('id') %>">
        Редактировать
    </a>
</div>
<% } %>

<h1 name="name" class="product__name"><%- productModel.get('name') %></h1>

<div class="product__sku" name="sku">
    <%- productModel.get('sku') %>
</div>

<table class="table" style="width: 50%">
    <tr>
        <th>Группа</th>
        <td>
            <a href="/catalog/<%- productModel.get('subCategory').category.group.id %>" name="group">
                <%- productModel.get('subCategory').category.group.name %>
            </a>
        </td>
    </tr>
    <tr>
        <th>Категория</th>
        <td>
            <a href="/catalog/<%- productModel.get('subCategory').category.group.id %>/<%= productModel.get('subCategory').category.id %>"
               name="category">
                <%- productModel.get('subCategory').category.name %>
            </a>
        </td>
    </tr>
    <tr>
        <th>Подкатегория</th>
        <td>
            <a href="/catalog/<%- productModel.get('subCategory').category.group.id %>/<%= productModel.get('subCategory').category.id %>/<%= productModel.get('subCategory').id %>"
               name="subCategory">
                <%- productModel.get('subCategory').name %>
            </a>
        </td>
    </tr>
    <tr>
        <th>Закупочная цена</th>
        <td>
            <% if(productModel.get('purchasePrice')){ %>
                <span name="purchasePrice">
                <%- LH.formatPrice(productModel.get('purchasePrice')) %>
                </span>
            руб.
            <% } else { %>
                <i name="purchasePrice">
                    отсутствует
                </i>
            <% } %>
        </td>
    </tr>
    <tr>
        <th>НДС</th>
        <td>
            <span name="vat"><%- productModel.get('vat') %></span>
            %
        </td>
    </tr>
    <tr>
        <th>Штрих-код</th>
        <td>
            <span name="barcode"><%- productModel.get('barcode') %></span>
        </td>
    </tr>
    <tr>
        <th>Единица измерения</th>
        <td name="units">
            <%- LH.units(productModel.get('units'), 'smallFull') %>
        </td>
    </tr>
    <tr>
        <th>Производитель</th>
        <td name="vendor">
            <%- productModel.get('vendor') %>
        </td>
    </tr>
    <tr>
        <th>Страна</th>
        <td name="vendorCountry">
            <%- productModel.get('vendorCountry') %>
        </td>
    </tr>
    <tr>
        <th>Диапазон наценки</th>
        <td>
            <% if(_.isNumber(productModel.get('retailMarkupMin')) && _.isNumber(productModel.get('retailMarkupMax'))) {
            %>
                <span name="retailMarkupRange">
                    <%- LH.formatPrice(productModel.get('retailMarkupMin')) %>
                    -
                    <%- LH.formatPrice(productModel.get('retailMarkupMax')) %>
                </span>
            %
            <% } else { %>
            <i name="retailMarkupRange">
                отсутствует
            </i>
            <% } %>
        </td>
    </tr>
    <tr>
        <th>Диапазон цены продажи</th>
        <td>
            <% if(productModel.get('retailPriceMin') && productModel.get('retailPriceMax')){ %>
                <span name="retailPriceRange">
                    <%- LH.formatPrice(productModel.get('retailPriceMin')) %>
                    -
                    <%- LH.formatPrice(productModel.get('retailPriceMax')) %>
                </span>
            руб.
            <% } else { %>
            <i name="retailPriceRange">
                отсутствует
            </i>
            <% } %>
        </td>
    </tr>
    <tr>
        <th>Округление</th>
        <td>
            <span name="rounding">
                <%- LH.text(productModel.get('rounding').name) %>
            </span>
        </td>
    </tr>
    <% if(storeProductModel) { %>
    <tr>
        <th>Наценка</th>
        <td>
            <% if(storeProductModel.get('retailMarkup')) { %>
                    <span name="retailMarkup">
                        <%- LH.formatPrice(storeProductModel.get('retailMarkup')) %>
                    </span>
            %
            <% } else { %>
            <i name="retailMarkup">
                отсутствует
            </i>
            <% } %>
        </td>
    </tr>
    <tr>
        <th>Цена продажи</th>
        <td>
            <% if(storeProductModel.get('roundedRetailPrice')) { %>
                    <span name="retailPrice">
                        <%- LH.formatPrice(storeProductModel.get('roundedRetailPrice')) %>
                    </span>
            руб.
            <% } else { %>
            <i name="retailPrice">
                отсутствует
            </i>
            <% } %>
        </td>
    </tr>
    <% if(LH.isAllow('stores/{store}/products/{product}', 'PUT')) { %>
    <tr>
        <td></td>
        <td>
            <% if(productModel.get('retailPriceMin') && productModel.get('retailPriceMax')){ %>
            <a href="/stores/<%= storeProductModel.get('store').id %>/products/edit/<%= productModel.id %>">
                Изменить наценку/цену
            </a>
            <% } else { %>
            <span><%- 'Изменить наценку/цену нельзя. Нет диапазона наценки' %></span>
            <% } %>

        </td>
    </tr>
    <% } %>
    <% } %>
</table>
<p name="info">
    <%- productModel.get('info') %>
</p>
