.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
}

.table__head {
    display: table-header-group;
}

.table__row {
    display: table-row;
}

.table__cell {
    display: table-cell;
}

.table__body {
    display: table-row-group;
}

.table tbody,
.table__body {
    border: none !important;
}

.table tr,
.table__row {
    position: static !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table__body .table__cell {
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 12px;
    text-align: left;
}

.table > thead > tr > th,
.table__head .table__cell {
    border-bottom: 1px solid #ddd;
    border-top: none;
    text-align: left;
    padding: 0 12px;
    font-size: 13px;
    font-weight: normal;
    color: #999;
}

.table > tbody > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > thead > tr > th:first-child,
.table > tfoot > tr > td:first-child,
.table__row > .table__cell:first-child {
    padding-left: 0;
}

.table__rowHiddenElement {
    visibility: hidden;
}

.table tr:hover .table__rowHiddenElement {
    visibility: visible;
}

.table_subCategoryBalance > tbody > tr > td {
    vertical-align: top;
}

.table_subCategoryBalance__value {
    text-align: right;
    overflow: hidden;
    padding-right: 5px;
    white-space: nowrap;
}

.table_subCategoryBalance .layout__precision {
    width: 35px;
    text-align: left;
    display: inline-block;
}

.table_subCategoryBalance__valueHint,
.table_subCategoryBalance .layout__currency {
    font-size: 12px;
    color: #95a5a6;
}

.table[data-sortable] th {
    cursor: pointer;
    color: #1FB18A;
}

.table[data-sortable] th:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: none;
    border-left: solid 5px transparent;
    border-top: solid 6px;
    border-right: solid 5px transparent;
    display: inline-block;
    position: relative;
    top: -1px;
    left: 4px;
    color: #ccc;
}

.table[data-sortable] th[data-sortable="false"] {
    cursor: default;
    color: #999;
}

.table[data-sortable] th[data-sortable="false"]:after {
    display: none;
}

.table[data-sortable] th[data-sorted="true"]:after {
    color: #333;
}

.table[data-sortable] th[data-sorted-direction="descending"]:after {
    border-bottom: solid 6px;
    border-top: none;
}

.table .table__sortedHeader_ascending_false:after {
    color: inherit;
}

.table .table__sortedHeader_ascending_true:after {
    color: inherit;
    border-bottom: solid 6px;
    border-left: solid 5px transparent;
    border-top: none;
    border-right: solid 5px transparent;
}

.table__orderProduct,
.table__invoiceProduct {
    cursor: pointer;
}

.table__orderProduct:hover,
.table__invoiceProduct:hover {
    background-color: #fafafa;
}

.table__orderProduct input[type="text"],
.table__invoiceProduct input[type="text"] {
    display: none;
    text-align: right;
    width: 80px;
}

.table__orderProduct td,
.table__invoiceProduct td {
    height: 35px;
}

.table__orderProduct_edit input[type="text"],
.table__invoiceProduct_edit input[type="text"] {
    display: inline-block;
}

.table__orderProduct_edit .table__orderProduct__editable,
.table__invoiceProduct_edit .table__invoiceProduct__editable {
    display: none;
}

.table__orderProduct .form_order__removeProductLink,
.table__invoiceProduct .form_invoice__removeProductLink {
    visibility: hidden;
    font-size: 20px;
}

.table__orderProduct_edit .form_order__removeProductLink,
.table__invoiceProduct_edit .form_invoice__removeProductLink {
    visibility: visible;
}

.table__orderProduct__error td,
.table__invoiceProduct__error td {
    color: #d40000;
}