.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table tbody {
    border: none !important;
}

.table tr {
    position: static !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 12px;
    text-align: left;
}

.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    border-top: none;
    text-align: left;
    padding: 0 12px;
    font-size: 13px;
    font-weight: normal;
    color: #999;
}

.table > tbody > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > thead > tr > th:first-child {
    padding-left: 0;
}

.table__rowHiddenElement {
    visibility: hidden;
}

.table tr:hover .table__rowHiddenElement {
    visibility: visible;
}

.table_subCategoryBalance > tbody > tr > td {
    vertical-align: top;
}

.table_subCategoryBalance__value {
    text-align: right;
    overflow: hidden;
    padding-right: 5px;
    white-space: nowrap;
}

.table_subCategoryBalance .layout__precision {
    width: 35px;
    text-align: left;
    display: inline-block;
}

.table_subCategoryBalance__valueHint,
.table_subCategoryBalance .layout__currency {
    font-size: 12px;
    color: #95a5a6;
}

.table [data-sort-by] {
    cursor: pointer;
    position: relative;
}

.table [data-sort-by]:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: none;
    border-left: solid 5px transparent;
    border-top: solid 6px;
    border-right: solid 5px transparent;
    display: inline-block;
    position: relative;
    top: -1px;
    left: 4px;
    color: #ccc;
}

.table .table__sortedHeader_ascending_false:after {
    color: inherit;
}

.table .table__sortedHeader_ascending_true:after {
    color: inherit;
    border-bottom: solid 6px;
    border-left: solid 5px transparent;
    border-top: none;
    border-right: solid 5px transparent;
}

.table__orderProduct {
    cursor: pointer;
}

.table__orderProduct:hover {
    background-color: #fafafa;
}

.table__orderProduct input[type="text"]{
    display: none;
    text-align: right;
    width: 80px;
}

.table__orderProduct td{
    height: 35px;
}

.table__orderProduct_edit input[type="text"] {
    display: inline-block;
}

.table__orderProduct_edit .table__orderProduct__editable{
    display: none;
}

.table__orderProduct .form_order__removeProductLink{
    visibility: hidden;
    font-size: 20px;
}

.table__orderProduct_edit .form_order__removeProductLink{
    visibility: visible;
}

.table__orderProduct__error td{
    color: #d40000;
}