.table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table tbody{
    border: none !important;
}

.table tr{
    position: static !important;
}

.table > tbody > tr > td, .table > tbody > tr > th{
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 12px;
    text-align: left;
}

.table > thead > tr > th{
    border-bottom: 1px solid #ddd;
    border-top: none;
    text-align: left;
    padding: 12px;
}

.table > tbody > tr:hover{
    background: #fffee2 !important;
}

.table__rowHiddenElement{
    visibility: hidden;
}

.table tr:hover .table__rowHiddenElement{
    visibility: visible;
}

.table_subCategoryBalance > tbody > tr > td{
    vertical-align: top;
}

.table_subCategoryBalance__value{
    text-align: right;
    overflow: hidden;
    padding-right: 5px;
    white-space: nowrap;
}

.table_subCategoryBalance .layout__precision {
    width: 35px;
    text-align: left;
    display: inline-block;
}

.table_subCategoryBalance__valueHint,
.table_subCategoryBalance .layout__currency{
    font-size: 12px;
    color: #95a5a6;
}

.table [data-sort-by] {
    cursor: pointer;
    position: relative;
}

.table [data-sort-by]:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: none;
    border-left: solid 5px transparent;
    border-top: solid 6px;
    border-right: solid 5px transparent;
    display: inline-block;
    position: relative;
    top: -1px;
    left: 4px;
    color: #ccc;
}

.table .table__sortedHeader_ascending_false:after {
    color: inherit;
}

.table .table__sortedHeader_ascending_true:after {
    color: inherit;
    border-bottom: solid 6px;
    border-left: solid 5px transparent;
    border-top: none;
    border-right: solid 5px transparent;
}