<!-- @jobsCollection -->

<% jobsCollection.each(function(jobModel){ %>
<div class="jobs__item" id="<%= jobModel.get('id') %>" status="<%= jobModel.get('status') %>" type="<%= jobModel.get('type') %>">
    <div class="jobs__time">
        <%= moment(jobModel.get('dateCreated')).format('DD.MM.YYYY HH:mm') %>
    </div>
    <div class="jobs__title">
        <%- jobModel.get('type') %>
    </div>
    <% if(jobModel.get('productVersion')){ %>
        <div class="jobs__productName">
            <%- jobModel.get('productVersion').name %>
        </div>
    <% } %>
    <div class="jobs__status">
        <%- jobModel.get('status') %>
    </div>
    <% if(jobModel.get('finalMessage')){ %>
    <div class="jobs__finalMessage">
        <%- jobModel.get('finalMessage') %>
    </div>
    <% } %>
</div>
<% }) %>