<% collection.each(function(model){ %>
<tr writeOff-product-id="<%= model.id %>" name="writeOffProduct" class="writeOff__dataRow" product-sku="<%e model.get('product').sku %>">
    <td>
        <span name="productName"
              class="writeOff__editable"
              autocomplete-name="name"
              model-attr="product"
              product-id="<%= model.get('product').id %>"><%t model.get('product').name %></span>
        <br />
        <span name="productSku"
              class="writeOff__editable"
              autocomplete-name="sku"
              model-attr="product"
              product-id="<%= model.get('product').id %>"><%e model.get('product').sku %></span>
    </td>
    <td>
        <span name="productBarcode"
              class="writeOff__editable <%= model.get('product').barcode ? '' : 'writeOff__hiddenData' %>"
              autocomplete-name="barcode"
              model-attr="product"
              product-id="<%= model.get('product').id %>">
            <%e model.get('product').barcode ? model.get('product').barcode : KIT.text('Ввести штрихкод') %>
        </span>
    </td>
    <td>
        <span class="writeOff__editable">
            <span name="productAmount" model-attr="quantity">
                <%e model.get('quantity') %>
            </span>
            <span name="productUnits">
                <%t LH.units(model.get('product').units, 'smallShort') %>
            </span>
        </span>
    </td>
    <td>
        <span class="writeOff__editable">
            <span>
                по
            </span>
            <span name="productPrice" model-attr="price">
                <%e LH.formatPrice(model.get('price')) %>
            </span>
            <span>
                р.
            </span>
        </span>
    </td>
    <td>
        <span class="writeOff__editable" name="productCause" model-attr="cause">
            <%e model.get('cause') %>
        </span>
    </td>
    <td style="width: 1px;">
        <span class="writeOff__removeLink"><%t 'удалить' %></span>
    </td>
</tr>
<% }) %>
