<% var templates = {
    localNavigation: require('tpl!blocks/localNavigation/localNavigation_suppliers.html')
} %>

<% var collections = _.extend({
    suppliers: new Backbone.Collection
}, obj.collections) %>

<% if (LH.isAllow('suppliers', 'POST')) {%>
    <%= templates.localNavigation(obj) %>
<% } %>

<div class="page__data">
    <h2>Поставщики</h2>
    <% if (collections.suppliers.length) { %>
    <table class="table">
        <% collections.suppliers.forEach(function(supplierModel){ %>
            <tr name="supplierData" <%- LH.isAllow('suppliers', 'PUT::{supplier}') ? 'href=/suppliers/' + supplierModel.id : '' %>>
                <td name="supplierName">
                    <%- supplierModel.get('name') %>
                </td>
                <td style="text-align: right">
                    <% if (supplierModel.get('agreement')){ %>
                        <a data-navigate="false" class="button" href="<%- supplierModel.get('agreement.url')%>">
                            Скачать договор
                        </a>
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </table>
    <% } else { %>
        <p>
            Нет поставщиков
        </p>
    <% } %>
</div>