<fieldset class="form__fieldset">
    <div class="form__field form__field_inline">
        <label class="form__label">Приемка №</label>
        <input class="inputText"
               type="text"
               name="sku"/>
        <span style="vertical-align: middle; margin: 0 5px 0 10px;">от</span>
        <input style="width: 200px;"
               value="<%= moment().format('DD.MM.YYYY HH:mm') %>"
               class="inputText inputDate"
               type="text"
               name="acceptanceDate"
               require="kit/inputDate/inputDate"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Поставщик</label>
        <input class="inputText"
               type="text"
               name="supplier"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Кто принял</label>
        <input class="inputText" name="accepter"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Получатель</label>
        <input class="inputText" name="legalEntity"/>
    </div>
</fieldset>
<fieldset class="form__fieldset">
    <legend class="form__legend">Необязательно к заполнению</legend>
    <div class="form__field form__field_inline">
        <label class="form__label">Входящий номер</label>
        <input class="inputText"
               type="text"
               name="supplierInvoiceSku"/>
        <span style="vertical-align: middle; margin: 0 5px 0 10px;">от</span>
        <input style="width: 200px;"
               class="inputText"
               type="text"
               name="supplierInvoiceDate"
               require="kit/inputDate/inputDate_noTime"/>
    </div>
</fieldset>
<div class="form__controls">
    <span class="button button_color_blue">
        <%= 'Сохранить и перейти к добавлению товаров' %>
        <input type="submit"/>
    </span>
</div>
