<!--BEGIN TITLE PAGE-->
<div class="page__head">

    <div class="pull-right">
        <span data-modal="modal_supplier"
              data-supplier-id="0"
              role="button"
              class="btn btn-primary btn-md">Добавить поставщика</span>
    </div>

    <div class="page__title">
        Поставщики
    </div>

</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">
        <div class="col-md-12">

            <b block="supplierList"></b>

        </div>
    </div>
</div>
<!--END CONTENT-->

<b block="modal_supplier"></b>