<tr name="amountItem">
    <td name="sku">
        <%- model.get('product').sku %>
    </td>
    <td name="name">
        <%- model.get('product').name %>
    </td>
    <td name="vendor">
        <%- model.get('product').vendor %>
    </td>
    <td name="vendorCountry">
        <%- model.get('product').vendorCountry %>
    </td>
    <td name="averagePurchasePrice">
        <%= model.get('averagePurchasePrice') ? LH.formatPrice(model.get('averagePurchasePrice')) + 'р.' : '&mdash;' %>
    </td>
    <td name="lastPurchasePrice">
        <%- model.get('lastPurchasePrice') ? LH.formatPrice(model.get('lastPurchasePrice')) : LH.formatPrice(model.get('product').purchasePrice) %> р.
    </td>
    <td>
        <span name="amount"><%- model.get('amount') || 0 %></span>
        <span name="units"><%- LH.units(model.get('product').units, 'smallShort') %></span>
    </td>
</tr>
