<!--BEGIN TITLE PAGE-->
<div class="page__head">

    <div class="pull-right">
        <span data-modal="modal_group" data-group-id="0" class="btn btn-primary btn-md">Добавить группу</span>
    </div>

    <div class="page__title">
        Ассортимент
    </div>

</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">
        <div class="col-md-12">
            <b block="groupList"></b>
        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->
<b block="modal_group"></b>
<!--END MODALS-->