<% var moment = require('moment') %>
<% var InvoicesCollection = require('collections/invoices') %>

<% var collections = _.defaults(collections, {
    invoices: new InvoicesCollection()
}) %>

<% if (collections.invoices.length) { %>
<table class="table table_invoices">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Номер</th>
            <th>Поставщик</th>
            <th>Сумма</th>
            <th>Принял</th>
        </tr>
    </thead>
    <tbody>
        <% collections.invoices.forEach(function(invoiceModel){ %>
            <tr name="invoice" href="/invoices/<%- invoiceModel.id %>">
                <td name="acceptanceDate">
                    <%- moment(invoiceModel.get('acceptanceDate')).format('DD.MM.YYYY HH:mm') %>
                </td>
                <td name="sku">
                    <%- invoiceModel.get('sku') %>
                </td>
                <td name="supplier">
                    <%- invoiceModel.get('supplier') %>
                </td>
                <td>
                    <span name="sumTotal"><%- LH.formatMoney(invoiceModel.get('sumTotal')) %></span>
                    <span>р.</span>
                </td>
                <td name="accepter">
                    <%- invoiceModel.get('accepter') %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% } else { %>
    <p>
        Нет накладных
    </p>
<% } %>