<div class="content">
    <h1>Добро пожаловать в Lighthouse!</h1>

    <% if(params.signup === 'success') { %>
        <p>
            Ваша учетная запись успешно создана. <br/>
            Для входа введите пароль присланный вам на email.
        </p>
    <% } %>

</div>
