<% var SignupModel = require('models/signup'); %>

<div class="content">
    <h1>Добро пожаловать в Lighthouse!</h1>

    <% if(params.signup === 'success') { %>
    <p>
        Ваша учетная запись успешно создана. <br/>
        Для входа введите пароль присланный вам на email.
    </p>
    <% } %>

    <form class="form form_login">
        <div class="form__field">
            <label class="form__label">Email</label>
            <input class="inputText"
                   type="text"
                   name="username"
                   value="<%- SignupModel.email %>"/>
        </div>
        <div class="form__field">
            <label class="form__label">Пароль</label>
            <input class="inputText"
                   type="password"
                   name="password"/>
        </div>
        <div class="form__controls">
            <button type="submit" class="button">
                Войти
            </button>
        </div>
    </form>

</div>
