<%
/**
 *
 * @apiError
 * @jsError
 */
%>

<div id="modal_error" class="modal modal_error">
    <div class="modal__header">
        <a type="button"
           class="modal__closeLink fa fa-times"></a>

        <button class="modal_error__continueButton btn btn-primary pull-right">Продолжить работу</button>

        <h4 class="modal__title">Произошла ошибка</h4>
    </div>
    <div class="modal__body">
        <h4>Мы уже работаем над её устранением.</h4>
    </div>
</div>