<% if (sortedCollection.length) { %>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Товар
        </th>
        <th>
            Продажи <i class="fa fa-rub"></i>
        </th>
        <th>
            Себестоимость <i class="fa fa-rub"></i>
        </th>
        <th>
            Прибыль <i class="fa fa-rub"></i>
        </th>
    </tr>
    </thead>
    <tbody name="stockSell">

    <% sortedCollection.forEach(function(productStockSellModel){ %>
    <tr>
        <td>
            <%- productStockSellModel.get('product.name') %>
        </td>
        <td>
            <%- formatMoney(productStockSellModel.get('grossSales')) %>
        </td>
        <td>
            <%- formatMoney(productStockSellModel.get('costOfGoods')) %>
        </td>
        <td>
            <%- formatMoney(productStockSellModel.get('grossMargin')) %>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% } else { %>
<div class="alert alert-info">
    Ассортимент пуст. Добавьте хотя бы один товар.
</div>
<% } %>