<% var templates = {
    form_barcodes: require('tpl!blocks/form/form_barcodes/form_barcodes.html')
} %>

<div class="content">
    <h1>Дополнительные штриховые коды</h1>

    <div class="table" style="margin-bottom: 30px;">
        <div class="table__head">
            <div class="table__row">
                <div class="table__cell">Штрихкод</div>
                <div class="table__cell" style="width: 1px;">Количество</div>
                <div class="table__cell" style="width: 1px;">Цена по ШК</div>
                <div class="table__cell" style="width: 1px;"></div>
            </div>
        </div>

        <%= models.product.collections.barcodes.element(templates.form_barcodes, {
            collections: _.pick(models.product.collections, 'barcodes')
        }) %>

        <form class="form form_barcode table__body">
            <div class="table__row">
                <div class="table__cell">
                    <input name="barcode" type="text" class="inputText"/>
                </div>
                <div class="table__cell">
                    <input name="quantity" type="text" class="inputText" style="width: 80px;"/>
                </div>
                <div class="table__cell" style="white-space: nowrap">
                    <input name="price" type="text" class="inputText" style="width: 100px; text-align: right"/>
                    <span>руб.</span>
                </div>
                <div class="table__cell">
                    <button type="submit" class="button">Добавить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="form__controls">
        <button form="form_barcodes" class="button" type="submit">
            Сохранить
        </button>
        <span style="margin-right: 5px;">
            или
        </span>
        <a href="/">Отменить</a>
    </div>
</div>
