<tr name="amountItem">
    <td>
        <span name="sku"><%e product.sku %></span>
    </td>
    <td>
        <span name="name"><%t product.name %></span>
    </td>
    <td>
        <span name="vendor"><%t product.vendor %></span>
    </td>
    <td>
        <span name="vendorCountry"><%t product.vendorCountry %></span>
    </td>
    <td>
        <span name="averagePurchasePrice"><%e product.averagePurchasePrice ? LH.helpers.formatPrice(product.averagePurchasePrice) + 'р.' : '&mdash;' %></span>
    </td>
    <td>
        <span name="lastPurchasePrice"><%e product.lastPurchasePrice ? LH.helpers.formatPrice(product.lastPurchasePrice) : LH.helpers.formatPrice(product.purchasePrice) %> р.</span>
    </td>
    <td>
        <span name="amount"><%e product.amount || 0 %></span>
        <span name="units"><%t LH.helpers.units(product.units, 'smallShort') %></span>
    </td>
</tr>