<%
/**
 *
 * @models.storeGrossSalesByHours
 */
%>
<% var moment = require('moment') %>
<% var todayData = models.storeGrossSalesByHours.get('today').reverse() %>
<% var yesterdayData = models.storeGrossSalesByHours.get('yesterday').reverse() %>
<% var weekAgoData = models.storeGrossSalesByHours.get('weekAgo').reverse() %>


<thead>
<th></th>
<th>Сегодня</th>
<th>Вчера</th>
<th>Неделю назад</th>
</thead>
<tbody>
<% _.forEach(todayData, function(data, index){ %>
<tr name="storeGrossSalesByHourRow">
    <td name="dayHour">
        <%- moment(data.dayHour).startOf('hour').format('HH:mm') %> &mdash; <%- moment(data.dayHour).startOf('hour').add('hours', 1).format('HH:mm') %>
    </td>
    <td name="today.hourSum">
        <%- LH.formatMoney(data.hourSum) %> р.
    </td>
    <td name="yesterday.hourSum">
        <%- LH.formatMoney(yesterdayData[index]['hourSum']) %> р.
    </td>
    <td name="weekAgo.hourSum">
        <%- LH.formatMoney(weekAgoData[index]['hourSum']) %> р.
    </td>
</tr>
<% }) %>
</tbody>
