[ lh_loading ]{
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center 30% url( '../../lh/loading/lh_loading.svg' );
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    opacity: .5 !important;
}