<% var model = model || new Backbone.Model() %>

<% var templates = {
    form_orderProduct: require('tpl!blocks/form/form_orderProduct/template.html')
} %>

<form class="form" id="form_order">
    <div class="form__field">
        <label class="form__label">Поставщик</label>
        <select class="select" name="supplier">
            <option selected disabled>Выберите поставщика</option>
        </select>
    </div>
</form>

<div class="form_order__productForm">
    <h2>Добавить товар в заказ</h2>
    <%= templates.form_orderProduct() %>
</div>

<div class="form_order__totalSum">
    Итого: 2 331,00 руб.
</div>

<div class="form__controls">
    <button form="form_order" type="submit" class="button">
        Сохранить
    </button>
    <span style="margin-right: 10px;">
        или
    </span>
    <a style="margin-right: 20px;" href="/suppliers">
        Отменить
    </a>
</div>