<% var OrderModel = require('models/order') %>
<% var SuppliersCollection = require('collections/suppliers') %>
<% var currentUserModel = require('models/currentUser') %>
<% var model = model || new OrderModel() %>
<% var collections = _.extend({
    suppliers: new SuppliersCollection()
}, collections); %>
<% var templates = _.extend({
    select_suppliers: require('tpl!blocks/select/select_suppliers/template.html')
}, templates) %>

<form class="form form_order <%- model.id ? '' : 'form_changed' %>" style="margin-bottom: 20px;">
    <div class="form__field" style="padding-bottom: 30px;">
        <label class="form__label">Поставщик</label>
        <%= templates.select_suppliers({
            collections: _.pick(collections, 'suppliers'),
            selected: model.get('supplier.id')
        }) %>
    </div>
    <div style="margin-bottom: 30px;">
        <%= model.get('collections.products').element(require('tpl!blocks/table/table_orderProducts/template.html'), {
            collections: {
                orderProducts: model.get('collections.products')
            }
        }) %>
    </div>

    <h2>Добавление товара в заказ</h2>

    <div class="form__field" style="padding-bottom: 30px;">
        <input placeholder="Для добавления позиции введите наименование товара или код" style="width: 600px;" data-url="<%- LH.baseApiUrl + '/stores/' + currentUserModel.stores.at(0).id + '/search/products?properties[]=name&properties[]=sku' %>"
               type="text" class="inputText autocomplete"/>
    </div>

    <div class="form__totalSum">
        Итого:
        <%= model.get('collections.products').element(require('tpl!blocks/form/form_order/form_order__totalSum.html'), {
            collections: {
                orderProducts: model.get('collections.products')
            }
        }) %>
    </div>

    <div class="form__controls">
        <div class="form_order__invoiceControls">
            <a href="<%= model.getCreateInvoiceFromOrderUrl() %>" class="button">
                Принять по заказу
            </a>
        </div>
        <div class="form_order__saveControls">
            <% if (model.id){ %>
            <p>Заказ изменён, подтвердите изменения, пожалуйста.</p>
            <% } %>
            <button type="submit" class="button">
                Сохранить
            </button>
        <span style="margin-right: 10px;">
        или
        </span>
            <a style="margin-right: 20px;" href="/orders">
                Отменить
            </a>
        </div>
    </div>
</form>