<!--BEGIN TITLE PAGE-->
<div class="page__head">
    <div class="page__title">Обзор</div>

    <ul class="page__tabs nav nav-tabs">
        <li class="active"><a href="/dashboard">Быстрый старт</a></li>
        <li><a href="#">Основная статистика</a></li>
    </ul>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->
<!--END MODALS-->