<!--BEGIN TITLE PAGE-->
<div class="page__head">
    <div class="page__title">Обзор</div>

    <ul class="page__tabs nav nav-tabs">
        <li class="active"><a href="/dashboard">Быстрый старт</a></li>
        <li><a href="#">Основная статистика</a></li>
    </ul>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">

    <div class="page_dashboard__text">Добро пожаловать!</div>

    <b block="progressbar" data-active-step="<%= activeStep %>"></b>

    <b block="steps" data-active-step="<%= activeStep %>"></b>

    <b block="info" data-active-step="<%= activeStep %>"></b>

</div>
<!--END CONTENT-->

<!--MODALS-->
<b block="modal_store"></b>
<b block="modal_invoice"></b>
<!--END MODALS-->
