<!--BEGIN TITLE PAGE-->
<div class="page__head">
    <div class="page__title">Обзор</div>

    <div class="page__tabs">
        <a href="/firstStart" class="page__tab">
            Быстрый старт
        </a>
        <a href="/dashboard" class="page__tab active">
            Основная статистика
        </a>
    </div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content page__tabContent">

    <div class="row">

        <div class="col col-md-6">

            <b block="grossSales"></b>

        </div>

        <div class="col col-md-6">

            <b block="grossMargin"></b>

        </div>

    </div>

    <div class="row">

        <div class="col col-md-12">

            <b block="table_storesGrossSales"></b>

        </div>

    </div>

    <div class="row">

        <div class="col col-md-12">

            <b block="table_topSales"></b>

        </div>

    </div>

</div>
<!--END CONTENT-->