<!--BEGIN TITLE PAGE-->
<div class="page__head">
    <div class="page__title">Обзор</div>

    <div class="page__tabs">
        <a rel=".page_dashboard__firstStartContent" class="page__tab <%- resources.firstStart.data.complete ? '' : 'active' %>">
            Быстрый старт
        </a>
        <a rel=".page_dashboard__statsContent" class="page__tab <%- resources.firstStart.data.complete ? 'active' : '' %>">
            Основная статистика
        </a>
    </div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content page__tabContent page_dashboard__firstStartContent <%- resources.firstStart.data.complete ? '' : 'active' %>">

    <div class="page_dashboard__text">Добро пожаловать!</div>

    <b block="progressbar"></b>

    <b block="steps"></b>

    <b block="info"></b>

</div>

<div class="page__content page__tabContent page_dashboard__statsContent <%- resources.firstStart.data.complete ? 'active' : '' %>">

    <div class="row">

        <div class="col col-md-6">

            <b block="grossSales"></b>

        </div>

        <div class="col col-md-6">

            <b block="grossMargin"></b>

        </div>

    </div>

    <div class="row">

        <div class="col col-md-12">

            <b block="grossSalesByStores"></b>

        </div>

    </div>

    <div class="row">

        <div class="col col-md-12">

            <b block="topSales"></b>

        </div>

    </div>

</div>
<!--END CONTENT-->

<!--MODALS-->
<b block="modal_store"></b>
<b block="modal_invoice"></b>
<!--END MODALS-->
