<!--BEGIN TITLE PAGE-->
<div class="page__head">
    <div class="page__title">Обзор</div>

    <ul class="page__tabs nav nav-tabs">
        <li class="active"><a href="/dashboard">Быстрый старт</a></li>
        <li><a href="#">Основная статистика</a></li>
    </ul>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">

        <% _.forEach(steps, function(step, index) {
            step.number = index + 1;
            step.active = (step.number == activeStep);
        %>

        <%= partials.step(step) %>

        <% }); %>

    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->
<!--END MODALS-->