<div class="panel">
    <div class="panel-heading">
        Продажи по сети за сегодня на это время
    </div>

    <div class="panel-body">
        <div class="page_dashboard__value1">
            <%- formatMoney(100873.23) %> <i class="fa fa-rub"></i>
        </div>

        <div class="page_dashboard__value2 page_dashboard__valueMinus">
            <i class="fa fa-arrow-circle-o-down"></i> 60%
            <span class="page_dashboard__valueHint">меньше, чем вчера</span>
        </div>

        <div class="page_dashboard__value2 page_dashboard__valuePlus">
            <i class="fa fa-arrow-circle-o-up"></i> 20%
            <span class="page_dashboard__valueHint">больше, чем в прошлое воскресение</span>
        </div>
    </div>
</div>