<div class="page__dashboard__info">

    <% _.forEach(resources.firstStart.get('stores'), function(storeItem){ %>

    <div class="page__dashboard__infoRow row">
        <div class="page__dashboard__infoCell col-md-4">

            <div class="page__dashboard__infoTitle">
                Магазин:
            </div>
            <div class="page__dashboard__infoValue">
                <%- storeItem.store.name %>
            </div>

        </div>
        <div class="page__dashboard__infoCell col-md-4">
            
            <% if (storeItem.inventoryCostOfGoods) { %>
            <div class="page__dashboard__infoTitle">
                Товаров в магазине на сумму:
            </div>

            <div class="page__dashboard__infoValue">
                <%- formatMoney(storeItem.inventoryCostOfGoods) %> <i style="font-size: 19px;" class="fa fa-rub"></i>
            </div>
            <% } %>

        </div>
        <div class="page__dashboard__infoCell col-md-4">
        </div>
    </div>

    <% }) %>

    <% if (isUserReady()) { %>

    <div style="text-align: center">
        <a class="btn btn-primary btn-md">
            ПРОДОЛЖИТЬ РАБОТУ
        </a>
    </div>

    <% } %>
</div>

