<div class="page__dashboard__progressbar">
    <div class="page__dashboard__progressbarContainer">
        <div class="page__dashboard__progressbarFiller" style="width: <%= width() %>%;">
        </div>
        <div class="page__dashboard__progressbarFillerTriangle"></div>
    </div>
</div>

