<div class="page__dashboard__progressbar">
    <div class="page__dashboard__progressbarContainer">
        <div class="page__dashboard__progressbarFiller">
        </div>
        <div class="page__dashboard__progressbarFillerTriangle"></div>
    </div>
    <div class="page__dashboard__progressbarCompleteIcon">
        <i class="fa fa-check-circle-o"></i>
    </div>
</div>

