<div class="col-md-4">
    <div class="page_dashboard__step">
        <div class="page_dashboard__stepNumber">
            <%- number %>
        </div>
        <div class="page_dashboard__stepTitle">
            <%- title %>
        </div>
        <div class="page_dashboard__stepDescription">
            <%- description %>
        </div>
        <span role="button" class="page_dashboard__stepButton btn btn-primary btn-md">
            <%- buttonCaption %>
        </span>
    </div>
</div>