<tr name="invoice" href="/invoice/<%= invoice.id %>">
    <td>
        <span name="acceptanceDate"><%= moment(invoice.acceptanceDate).format('DD.MM.YYYY HH:mm') %></span>
    </td>
    <td>
        <span name="sku"><%t invoice.sku %></span>
    </td>
    <td>
        <span name="supplier"><%t invoice.supplier %></span>
    </td>
    <td>
        <span name="sumTotal"><%t LH.helpers.formatPrice(invoice.sumTotal) %></span>
        <span>р.</span>
    </td>
    <td>
        <span name="accepter"><%t invoice.accepter %></span>
    </td>
</tr>