<!--BEGIN TITLE PAGE-->
<div class="page__head">

    <div class="page__title">

        <a href="/reports"
           class="fa fa-long-arrow-left"
           style="font-size: 25px; margin-right: 10px;"></a>

        Продажи и прибыль по сети

    </div>

</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

</div>
<!--END CONTENT-->
