<table class="table table_productInvoices">
    <tbody>
    <% collection.forEach(function(model){ %>
    <tr invoice-sku="<%- model.get('invoice.sku') %>" name="invoice" href="/invoices/<%- model.get('invoice.id') %>">
        <td>
            <%= LH.modelNode(model, 'acceptanceDateFormatted') %>
        </td>
        <td>
            + <%= LH.modelNode(model, 'quantity') %>
            <%- LH.units(model.get('product.units'), 'smallShort') %>
        </td>
        <td>
            по <%= LH.modelNode(model, 'price') %> р.
        </td>
        <td>
            = <%= LH.modelNode(model, 'totalPrice') %> р.
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>