.form__label{
    display: block;
    padding-bottom: 4px;
    font-size: 13px;
    color: #999;
}

.form__fieldset{
    border: none;
    background: none;
    padding: 0;
    margin: 0 0 20px;
}

.form__legend{
    font-style: italic;
    color: #939393;
    padding-bottom: 20px;
}

.form__controls{
}

.form__field{
    padding-bottom: 16px;
}

.form__field .inputText, .form__field .select{
    width: 300px;
    vertical-align: middle;
}

.form__controlLink{
    vertical-align: middle;
}

.form__successMessage{
    vertical-align: middle;
    color: darkgreen;
    margin-left: 10px;
}

[data-error]:after {
    content: attr(data-error);
    display: block;
    color: #c0392b;
    padding-top: 4px;
    font-size: 14px;
}

.form__controls[data-error]:after {
    display: inline-block;
    padding-top: 0;
}

.form_catalogGroupProperties .form__label,
.form_catalogCategoryProperties .form__label,
.form_catalogSubCategoryProperties .form__label{
    white-space: nowrap;
}

.form input[name^="retailMarkup"] {
    width: 100px;
    text-align: right;
}

.form_catalogSubCategoryProperties .form__controls{
    margin: 10px 0 0;
}

.form_product [name="purchasePrice"]{
    text-align: right;
}

.form_supplier__fileBox{
    width: 600px;
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    border: 2px solid #cacaca;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 16px;
}

.form_order__productForm{
    border-radius: 3px;
    margin-bottom: 50px;
}

.form_order__totalSum{
    font-size: 20px;
    margin-bottom: 10px;
}

.form_orderProduct [name="product"].inputText_error ~ [name="name"] {
    border-color: #d40000;
}

.form_order__editor + tr {
    display: none;
}