.form_catalogGroupProperties .form__label,
.form_catalogCategoryProperties .form__label,
.form_catalogSubCategoryProperties .form__label{
    white-space: nowrap;
}

.form input[name^="retailMarkup"] {
    width: 100px;
    text-align: right;
}

.form_catalogSubCategoryProperties .form__controls{
    margin: 10px 0 0;
}

.form_product [name="purchasePrice"]{
    text-align: right;
}