[lh_field_error]:after {
    content: attr(lh_field_error);
    display: inline-block;
    color: #c60f13;
    padding-left: 10px;
    vertical-align: middle;
}

.form_catalogGroupProperties .form__label,
.form_catalogCategoryProperties .form__label,
.form_catalogSubCategoryProperties .form__label{
    white-space: nowrap;
}

.form input[name^="retailMarkup"] {
    width: 100px;
    text-align: right;
}

.form_catalogSubCategoryProperties .form__controls{
    padding: 15px;
    margin: 10px 0 0;
}