.form_receiptProduct__quantityPlusLink, .form_receiptProduct__quantityMinusLink {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.form_receipt__totalPrice, .form_receipt__totalPrice .fa{
    font-size: 28px;
    font-weight: bold;
    color: #0a819c;
}

.form_receipt__totalPrice .fa{
    font-size: 24px;
}
