.page {
    min-height: 100%;
    position: relative;
}

.page__head {
    padding: 10px 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 20;
}

.page__headControls {
    float: right;
}

.page__title {
    font-size: 25px;
    font-weight: 300;
}

.page__content {
    padding: 20px 30px 50px;
    position: relative;
    background-color: #f0f2f5;
    z-index: 10;
}

.page__panel {
    background-color: #fff;
    padding: 15px;
}

.page__sideBarLink {
    font-size: 25px;
    margin-right: 10px;
}

/*-------------------- page pos -----------------------*/

.page_pos {
    height: 100%;
}

.page_pos .sideBar {
    transition: transform .2s;
    transform: translate3d(-250px, 0, 0);
}

.page_pos .page__content,
.page_pos .page__head {
    transition: opacity .2s;
}

.page_pos.page_sideBarVisible {
    background-color: #333;
}

.page_pos.page_sideBarVisible .sideBar {
    transform: translate3d(0, 0, 0);
}

.page_pos.page_sideBarVisible .page__content,
.page_pos.page_sideBarVisible .page__head {
    opacity: .4;
}

.page_pos .page__content {
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.page_pos .col,
.page_pos .row,
.page_pos .productFinder,
.page_pos .receipt,
.page_pos .receiptFinder
{
    height: 100%;
    position: relative;
}
