.page__header{
    padding: 0 0 10px;
}

.page__clear{
    clear: both;
}

.page__controls{
    float: right;
    text-align: right;
    padding-left: 20px;
}

.page__controlsList{
    list-style: none;
    padding: 0 0 0 30px;
    margin: 0;
}

.page [href] {
    cursor: pointer;
}

.page__logo{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 80px;
    top: 100px;
    background-image: url("/img/logo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.page.preloader_spinner * {
    visibility: visible;
}

.page.preloader_spinner .page__content {
    display: none;
}

.page__backLink{
    vertical-align: middle;
}

.page__backLinkSeparator{
    vertical-align: middle;
}

.page__content {
    min-height: 100%;
    margin-left: 200px;
    padding: 60px;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page__tabs{
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.page__tabItem{
    float: left;
    border-bottom: 4px solid transparent;
    padding: 0 8px 5px;
    white-space: nowrap;
    color: #000;
    margin-right: 20px;
}

.page__tabItem_active{
    border-bottom-color: #1FB18A;
    color: #1FB18A;
    cursor: default !important;
    text-decoration: none !important;
}

.page__tabsContent{
}

.page__tabContentItem{
    display: none;
}

.page__tabContentItem_active{
    display: block;
}

.page__controlsLink{
    padding: 0 5px;
}

.page__highlighted{
    background: #ffff99;
}

[page^="pages/reports"] .page__content,
[page^="pages/orders"] .page__content,
[page^="pages/suppliers"] .page__content{
    height: 100%;
    padding: 0;
}

[page^="pages/reports"] .localNavigation,
[page^="pages/orders"] .localNavigation,
[page^="pages/suppliers"] .localNavigation{
    position: relative;
    top: 0;
    left: 0;
    float: left;
}

.page__data {
    height: 100%;
    padding: 60px;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}