.page__header{
    padding: 0 0 10px;
}

.page__clear{
    clear: both;
}

.page__controls{
    float: right;
    text-align: right;
    padding-left: 20px;
}

.page__controlsList{
    list-style: none;
    padding: 0 0 0 30px;
    margin: 0;
}

.page [href] {
    cursor: pointer;
}

.page__logo{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 80px;
    top: 100px;
    background-image: url("/img/logo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.page.preloader_spinner * {
    visibility: visible;
}

.page.preloader_spinner .page__content {
    display: none;
}

.page__backLink{
    vertical-align: middle;
}

.page__backLinkSeparator{
    vertical-align: middle;
}

.page__contentWrapper{
    text-align: center;
    height: 100%;
}

.page__content {
    min-width: 1000px;
    margin: 0 auto;
    text-align: left;
    min-height: 100%;
    padding: 60px 20px 20px;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    text-align: left;
}

.page__tabs{

}

.page__tabItem{

}

.page__tabsContent{

}

.page__tabContentItem{
    display: none;
}

.page__tabContentItem_active{
    display: block;
}