.page {
    min-height: 100%;
    position: relative;
}

.page_auth {
    padding: 38px 0;
    background: #4A5D68;
}

.page_auth__logoWrap {
    text-align: center;
}

.page_auth__logo {
    height: 130px;
    width: 224px;
    line-height: 0;
    text-align: center;
    color: transparent !important;
    background: url("/img/logo_2.png") 0 center no-repeat;
    background-size: auto 130px;
    display: inline-block;
    margin-bottom: 40px;
}

.page__head {
    padding: 10px 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 20;
}

.page__headControls {
    float: right;
}

.page__title {
    font-size: 25px;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
}

.page__title .fa {
    color: #999;
}

/*---------------------- tabs-------------------------*/

.page__tabs {
    margin-top: 16px;
    border: none;
}

.page__tabs > li > a {
    border: none !important;
    font-size: 14px;
    padding: 6px 0;
    margin: 0 30px 0 0;
    color: #767676;
}

.page__tabs > li > a:hover {
    background-color: transparent;
    color: #0A819C;
}

.page__tabs > li.active > a:hover {
    color: #000;
}

.page__tabs > li.active > a {
    color: #000;
}

/*---------------------- content-------------------------*/

.page__contentSide {
    margin-left: 250px;
}

.page__content {
    padding: 20px 30px 50px;
    position: relative;
    z-index: 10;
}

.page__panel {
    background-color: #fff;
    padding: 15px;
}

.page__sideBarLink {
    font-size: 25px;
    margin-right: 10px;
}

.page__posLink {
    font-size: 14px;
    width: 220px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

/*-------------------- reports ------------------------*/

.page_reports__links {
    list-style: none;
    margin: 0;
    padding: 16px 2px;
}

.page_reports__links li {
    width: 50%;
    float: left;
    padding: 0 12px 8px 12px;
}

.page_reports__link {
    display: block;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    padding: 18px 15px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #999;
}

.page_reports__link:hover{
    background-color: #f4f4f4;
}

.page_reports__link .fa{
    font-size: 20px;
    font-weight: bold;
    margin-top: -1px;
}

/*---------------------- profit -----------------------*/

.page_productsProfit__breadcrumbs {
     font-size: 14px;
     padding-bottom: 20px;
 }

.page_productsProfit__breadcrumbsLink:after {
    content: "\f054";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 12px;
    margin: 0 5px;
}

/*-------------------- page pos -----------------------*/

.page_pos {
    height: 100%;
}

.page_pos .page__contentSide {
    margin-left: 0;
}

.page_pos .sideBar {
    transition: transform .2s;
    transform: translate3d(-250px, 0, 0);
    -webkit-transition: -webkit-transform .2s;
    -webkit-transform: translate3d(-250px, 0, 0);
}

.page_pos .page__contentSide {
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}

.page_pos.page_sideBarVisible .sideBar {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.page_pos.page_sideBarVisible .page__contentSide {
    opacity: .4;
}

.page_pos .page__content {
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
}

.page_pos .col,
.page_pos .row,
.page_pos .productFinder,
.page_pos .receipt,
.page_pos .receiptFinder
{
    height: 100%;
    position: relative;
}

/*------------------------ dashboard progressbar ----------------------------*/

.page_dashboard__text {
    font-size: 30px;
    text-align: center;
    color: #000;
    margin: 10px 0 34px;
}

.page__dashboard__progressbar {
    position: relative;
    margin: 10px 13% 40px;
    padding: 0 45px; /*компенсация паддингов у steps*/
}

.page__dashboard__progressbarContainer {
    position: relative;
    border-radius: 8px;
    margin: 0 -45px; /*компенсация паддингов у steps*/
    background-color: #fff;
}

.page__dashboard__progressbarFiller {
    display: inline-block;
    border-radius: 8px 0 0 8px;
    background-color: #1ABDB5;
}

.page__dashboard__progressbarContainer,
.page__dashboard__progressbarFiller {
    height: 14px;
}

.page__dashboard__progressbarFillerTriangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 10px 0 10px;
    border-color: #1ABDB5 transparent transparent transparent;
    position: absolute;
    top: 14px;
    margin-left: -20px;
}

.page__dashboard__progressbarCompleteIcon {
    position: absolute;
    display: none;
    color: #1ABDB5;
    font-size: 24px;
    top: -11px;
    right: -30px;
}

/*------------------------ dashboard steps ----------------------------*/

.page_dashboard__steps {
    padding: 40px 0 0;
}

.page_dashboard__step {
    background-color: #fff;
    text-align: center;
    padding: 50px 40px 30px;
    position: relative;
}

.page_dashboard__stepNumber {
    width: 64px;
    height: 64px;
    font-size: 26px;
    color: #fff;
    background-color: #AEAEAE;
    border-radius: 64px;
    line-height: 64px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: -32px;
    margin-left: -32px;
}

.page_dashboard__stepActive .page_dashboard__stepNumber {
    background-color: #1ABDB5;
}

.page_dashboard__stepTitle {
    padding-bottom: 20px;
    font-size: 19px;
    color: #9C9C9C;
}

.page_dashboard__stepActive .page_dashboard__stepTitle {
    color: #000;
}

.page_dashboard__stepDescription {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 40px;
    color: #AEAEAE;
}

.page_dashboard__stepActive .page_dashboard__stepDescription {
    color: #999;
}

.page_dashboard__stepButton {
    visibility: hidden;
}

.page_dashboard__stepActive .page_dashboard__stepButton {
    visibility: visible;
}

/*------------------------ dashboard info ----------------------------*/

.page__dashboard__infoRow {
    background-color: #fff;
    margin: 20px 0;
}

.page__dashboard__infoCell {
    color: #000;
    padding: 28px 36px;
}

.page__dashboard__infoTitle {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.page__dashboard__infoValue {
    font-size: 21px;
    font-weight: bold;
}

