.form__label{
    display: block;
    padding-bottom: 4px;
    font-size: 13px;
}

.form__fieldset{
    border: none;
    background: none;
    padding: 0;
    margin: 0 0 20px;
}

.form__legend{
    font-style: italic;
    color: #939393;
    padding-bottom: 20px;
}

.form__controls{
}

.form__field{
    padding-bottom: 16px;
}

.form__field .inputText, .form__field .select{
    width: 300px;
    vertical-align: middle;
}

.form__controlLink{
    vertical-align: middle;
}

.form__successMessage{
    vertical-align: middle;
    color: darkgreen;
    margin-left: 10px;
}

[data-error]:after {
    content: attr(data-error);
    display: block;
    color: #c0392b;
}

.form__controls[data-error]:after {
    display: inline-block;
}
