<div class="page__controls">
    <a class="page__controlsLink editor__on">Редактировать</a>
    <a class="page__controlsLink editor__off">Завершить редактирование</a>
</div>
<h3>
    <a style="vertical-align: middle" href="/catalog">Товарный справочник</a>
    <span style="vertical-align: middle">/</span>
    <span class="catalogClass__className" style="vertical-align: middle;">
        <%t block.catalogClassModel.get('name') %>
    </span>
    <a class="editor__editLink catalog__editClassLink"></a>
    <a class="button button_color_blue catalog__addGroupLink editor__control">
        <%t 'Добавить группу' %>
    </a>
</h3>

<div class="catalogClass__rightSide">
    <div class="catalogClass__listTitle">
        <%t 'Классы' %>
    </div>
    <ul class="catalogClass__classList">
        <%= block.templates.classList({
            block: block,
            currentClassModel: block.catalogClassModel
        }) %>
    </ul>
</div>

<ul class="catalog__classGroupList catalogClass__groupList">
    <%= block.templates.groupList({
        block: block,
        groupsCollection: block.classGroupsCollection
    }) %>
</ul>
<div style="clear: both"></div>
