<div class="page__controls">
    <a class="page__controlsLink">Редактировать</a>
    <a class="page__controlsLink">Завершить редактирование</a>
</div>
<h3>
    <a href="/catalog">Товарный справочник</a>
    <span>/</span>
    <span>Класс 1</span>
</h3>
<ul class="catalogClass__list">
    <li class="catalogClass__listTitle">
        Классы
    </li>
    <li class="catalogClass__listItem">
        <a href="/catalog/1">Класс 1</a>
    </li>
    <li class="catalogClass__listItem">
        <a href="/catalog/1">Класс 2</a>
    </li>
    <li class="catalogClass__listItem">
        <a href="/catalog/1">Класс 3</a>
    </li>
    <li class="catalogClass__listItem">
        <a href="/catalog/1">Класс 4</a>
    </li>
</ul>
<div class="catalog__controls page__editControl">
    <a class="button button_color_blue catalog__addClassLink">
        Добавить группу
    </a>
</div>
<div class="catalog__classGroupList">
    <a href="/catalog/1/2" class="catalog__groupLink">Группа 1</a>
    <a href="/catalog/1/2" class="catalog__groupLink">Группа 2</a>
    <a href="/catalog/1/2" class="catalog__groupLink">Группа 3</a>
    <a href="/catalog/1/2" class="catalog__groupLink">Группа 4</a>
    <a href="/catalog/1/2" class="catalog__groupLink">Группа 5</a>
</div>
<div style="clear: both"></div>
