<div id="modal_receipt"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-default-label"
     aria-hidden="true"
     class="modal modal_receipt fade"
     style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button"
                   data-dismiss="modal"
                   aria-hidden="true"
                   class="close pull-left fa fa-times"></a>

                <button disabled
                        form="form_receipt"
                        type="submit"
                        class="btn btn-primary pull-right">
                    Расчитать
                </button>

                <h4 class="modal-title">
                    Расчет
                </h4>

                <span class="clearfix"></span>
            </div>
            <div class="modal-body">

                <b block="form_receipt"></b>

            </div>
        </div>
    </div>

</div>