<% if (collection.length) { %>

<div class="panel">
    <div class="panel-body">
        <table data-sortable style="margin-bottom: 0" class="table table_products table-hover table-striped">
            <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Цена продажи, <i class="fa fa-rub"></i>
                </th>
                <th>
                    Штрих-код
                </th>
            </tr>
            </thead>
            <tbody>

            <% collection.forEach(function(productModel){ %>
            <tr class="product__link" data-product_id="<%- productModel.id %>">
                <td name="name"><%- productModel.get('name') %></td>
                <td name="sellingPrice"><%- productModel.get('sellingPrice') ? formatMoney(productModel.get('sellingPrice')) : '' %></td>
                <td name="barcode"><%- productModel.get('barcode') %></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<% } else { %>
<div class="alert alert-info">
    В этой группе пока нет ни одного товара.
</div>
<% } %>