<!--BEGIN TITLE PAGE-->
<div class="page__head">
    <div class="page__title">Обзор</div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <h1>Добро пожаловать в Дримкас!</h1>
</div>
<!--END CONTENT-->