
@font-face {
    font-family: 'lobster';
    src: url('lobster.eot');
    src: url('lobster.eot?#iefix') format('embedded-opentype'),
         url('lobster.woff') format('woff'),
         url('lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}