<%
/**
 *
 * @models.bankAccount
 * @models.companyOrganization
 */
%>

<% var partials = {
    form_bankAccount: require('ejs!blocks/form/form_bankAccount/template.ejs')
} %>

<div class="content">

    <h1 name="companyOrganizationName"><%= models.companyOrganization.element('name') %></h1>

    <h2>Редактирование расчетного счета</h2>

    <%= partials.form_bankAccount({
        organizationId: models.companyOrganization.id,
        model: models.bankAccount
    }) %>

</div>