[ lh_table ] {
    display: table;
    width: 100%;
    margin: 2% 0 0;
    padding: 1px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: white;
    line-height: 1.5;
    text-align: left;
}

[ lh_table_row ] {
    display: table-row;
    color: inherit;
    text-decoration: inherit;
}

[ lh_table_row ]:nth-child( odd ) {
    background: #f6f6f6;
}

[ lh_table_row ]:target {
    background: #ffff99;
}

[ lh_table_row ]:hover {
    background: #ddf;
}

[ lh_table_header ]{
    font-weight: bold;
    background: #eee;
}

[ lh_table_cell ] {
    display: table-cell;
    padding: .3em .6em;
    border: 1px solid white;
}

[ lh_table_cell = 'id' ]:not( [ lh_table_header ] ) {
    color: #333;
    font: bold .9em/1.8 "Lucida Console", Monaco, monospace;
}

[ lh_table_cell = 'money' ] {
    text-align: right;
}
[ lh_table_cell = 'money' ]:not( [ lh_table_header ] ) {
    text-align: right;
    white-space: nowrap;
    font: .9em/1.8 "Lucida Console", Monaco, monospace;
}

@media( max-width: 600px ){
    [ lh_table_cell ] {
        display: block;
        text-align: left;
    }
}
