[ lh_table ] {
    display: table;
    width: 100%;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
}

[ lh_table_row ] {
    display: table-row;
    color: inherit;
    text-decoration: inherit;
}

[ lh_table_row ]:target {
    background: #ffff99;
}

[ lh_table_row ][ name ]:hover {
    background: #ddf;
}

[ lh_table_header ]{
    font-weight: bold;
}

[ lh_table_cell ] {
    display: table-cell;
    padding: 4pt;
}

[ lh_table_cell = 'id' ]:not( [ lh_table_header ] ) {
    color: #333;
    font: .95em/1.8 "Lucida Console", Monaco, monospace;
}

[ lh_table_cell = 'money' ] {
    text-align: right;
}
[ lh_table_cell = 'money' ]:not( [ lh_table_header ] ) {
    text-align: right;
    white-space: nowrap;
    font: .9em/1.8 "Lucida Console", Monaco, monospace;
}

@media( max-width: 600px ){
    [ lh_table_cell ] {
        display: block;
        text-align: left;
    }
}
