<ul class="tooltip__controls">
    <li class="catalogEditTooltip__controlItem">
        <a class="tooltip__controlLink tooltip__editLink"><%t 'Редактировать' %></a>
    </li>
    <li class="catalogEditTooltip__controlItem">
        <a href="/products/create?subcategory=<%= catalogSubcategoryModel.id %>" class="tooltip__controlLink"><%t 'Добавить товар' %></a>
    </li>
    <li class="tooltip__controlItem">
        <a class="tooltip__controlLink tooltip__removeLink"><%t 'Удалить' %></a>
    </li>
</ul>