<div id="<%- id %>"
     class="modal modal_supplierReturn">

    <div class="modal__header">
		<a class="modal__closeLink pull-left fa fa-times"></a>

		<button form="form_supplierReturn"
				type="submit"
				class="btn btn-primary pull-right">
			<%- models.supplierReturn.id ? 'Сохранить' : 'Вернуть' %>
		</button>

		<h4 class="modal-title">
			<%- models.supplierReturn.id ? 'Редактирование возврата' : 'Возврат поставщику' %>
		</h4>

		<span class="clearfix"></span>
	</div>

	<div class="modal__body">

		<b block="form_supplierReturn"></b>

		<hr style="margin: 0 -65px;"/>

		<h3>Товары</h3>

		<b block="form_supplierReturnProducts"></b>

		<% if (models.supplierReturn.id) { %>
		<div style="margin-top: 40px; margin-left: -10px;" class="confirmLink">

			<div class="confirmLink__trigger">
				<span class="removeLink">
					<i style="margin-right: 5px;" class="fa fa-trash-o"></i>
					Удалить возврат
				</span>
			</div>

			<div class="confirmLink__confirmation">
				<span class="removeLink supplierReturn__removeLink">
					<i style="margin-right: 5px;" class="fa fa-trash-o"></i>
					Подтвердить удаление
				</span>
			</div>

		</div>
		<% } %>
	</div>
</div>