<table class="table">
    <tr class="saleBox__productRow">
        <td style="width: 500px;">
            <input lh_product_autocomplete="name" type="text" class="inputText" placeholder="Наздвание товара"/>
            <span class="preloader"></span>
            <input type="hidden" name="product[]"/>
        </td>
        <td style="width: 100px;">
            <input name="quantity[]" type="text" class="inputText" placeholder="Количество"/>
        </td>
        <td style="width: 150px;">
            <input name="sellingPrice[]" type="text" class="inputText" placeholder="Цена"/>
        </td>
        <td class="saleBox__rowControls">
            <span lh-button class="button saleBox__addProductLink">
                Добавить
                <input type="submit"/>
            </span>
            <span lh-button class="button saleBox__removeProductLink">
                Удалить
            </span>
        </td>
    </tr>
</table>
