<a href="/" class="topBar__logo">
    Lighthouse
</a>

<div class="topBar__navigation">
    <% if(currentUserModel.get('id')) { %>

    <% if(LH.isAllow('groups')){ %>
    <a href="/catalog"><%text 'Каталог' %></a>
    <% } %>

    <% if(LH.isAllow('stores/{store}/groups') && currentUserModel.stores && currentUserModel.stores.length){ %>
    <a href="/catalog?storeId=<%= currentUserModel.stores.at(0).id %>"><%text 'Каталог' %></a>
    <% } %>

    <% if(LH.isAllow('invoices')){ %>
    <a href="/invoices"><%text 'Накладные' %></a>
    <% } %>

    <% if(LH.isAllow('products')){ %>
    <a href="/balance"><%text 'Остатки' %></a>
    <% } %>

    <% if(LH.isAllow('writeoffs')){ %>
    <a href="/writeOffs"><%text 'Списания' %></a>
    <% } %>

    <% if(LH.isAllow('users')){ %>
    <a href="/users"><%text 'Пользователи' %></a>
    <% } %>

    <% if(LH.isAllow('stores')){ %>
    <a href="/stores"><%text 'Магазины' %></a>
    <% } %>

    <% if(currentUserModel.stores && currentUserModel.stores.length) { %>
        <a href="/stores/<%= currentUserModel.stores.at(0).id %>"><%text 'Мой магазин' %></a>
    <% } %>
    <% } %>
</div>

<% if(currentUserModel.get('id')) { %>
<div class="topBar__userControls">
    <a href="/users/current" class="topBar__userName">
        <i style="vertical-align: middle; position: relative; left: -5px; top: -1px;" class="icon-user"></i>
        <%= currentUserModel.get('username') %>
    </a>
    <a class="topBar__logoutLink">
        <i class="icon-signout" style="margin-left: -5px;"></i>
        <%text 'Выйти' %>
    </a>
</div>
<% } %>