<a href="/" class="topBar__logo">
    Lighthouse
</a>

<div class="topBar__navigation">
    <% if(currentUserModel.get('id')) { %>

        <% if(LH.isAllow('products')){ %>
        <a href="/products"><%t 'Продукты' %></a>
        <% } %>

        <% if(LH.isAllow('groups')){ %>
        <a href="/catalog"><%t 'Каталог' %></a>
        <% } %>

        <% if(LH.isAllow('invoices')){ %>
        <a href="/invoices"><%t 'Накладные' %></a>
        <% } %>

        <% if(LH.isAllow('products')){ %>
        <a href="/balance"><%t 'Остатки' %></a>
        <% } %>

        <% if(LH.isAllow('writeoffs')){ %>
        <a href="/writeOffs"><%t 'Списания' %></a>
        <% } %>

        <% if(LH.isAllow('users')){ %>
        <a href="/users"><%t 'Пользователи' %></a>
        <% } %>

    <% } %>
</div>

<% if(currentUserModel.get('id')) { %>
<div class="topBar__userControls">
    <a href="/users/current" class="topBar__userName">
        <i style="vertical-align: middle; position: relative; left: -5px; top: -1px;" class="icon-user"></i>
        <%e currentUserModel.get('username') %>
    </a>
    <a class="topBar__logoutLink">
        <i class="icon-signout" style="margin-left: -5px;"></i>
        <%t 'Выйти' %>
    </a>
</div>
<% } %>