<a href="/" class="topBar__logo">
    Lighthouse
</a>

<div class="topBar__navigation">
    <% if(block.currentUserModel.get('id')) { %>

        <% if(LH.isAllow('products')){ %>
        <a href="/products"><%t 'Продукты' %></a>
        <% } %>

        <% if(LH.isAllow('klasses')){ %>
        <a href="/catalog"><%t 'Каталог' %></a>
        <% } %>

        <% if(LH.isAllow('invoices')){ %>
        <a href="/invoices"><%t 'Накладные' %></a>
        <% } %>

        <% if(LH.isAllow('products')){ %>
        <a href="/balance"><%t 'Остатки' %></a>
        <% } %>

        <% if(LH.isAllow('writeoffs')){ %>
        <a href="/writeOffs"><%t 'Списания' %></a>
        <% } %>

        <% if(LH.isAllow('users')){ %>
        <a href="/users"><%t 'Пользователи' %></a>
    <% } %>

    <% } %>
</div>

<% if(block.currentUserModel.get('id')) { %>
<div class="topBar__userControls">
    <a href="/users/current" class="topBar__userName">
        <%e block.currentUserModel.get('username') %>
    </a>
    <a class="topBar__logoutLink">
        <%t 'Выйти' %>
    </a>
</div>
<% } %>