<div class="autocomplete">

    <input <%- autofocus && 'autofocus' %>
            placeholder="<%- placeholder %>"
            type="text"
            class="form-control autocomplete__input"
            value="<%- query %>">

    <div class="autocomplete__tether">

        <%= suggestionTemplate(obj) %>

    </div>

</div>