<div class="form__field form__field_inline">
    <span style="vertical-align: middle; margin-right: 5px;">Списание №</span>
    <input class="inputText"
           type="text"
           name="number"/>
    <span style="vertical-align: middle; margin: 0 5px 0 10px;">от</span>
    <input style="width: 200px;"
           class="inputText"
           value="<%= moment().format('DD.MM.YYYY') %>"
           type="text"
           name="date"
           require="kit/blocks/inputDate/inputDate_noTime"/>
</div>

<div class="form__controls">
    <span class="button button_color_blue">
        <%text 'Сохранить и перейти к добавлению товаров' %>
        <input type="submit"/>
    </span>
</div>
