<div class="writeOff__title writeOff__dataRow">
    <span class="<%- writeOffModel.get('_meta.highlights.number') ? 'page__highlighted' : '' %>">
        Списание
        <span class="writeOff__editable">
            №
            <span name="number" model-attribute="number">
                <%- writeOffModel.get('number') %>
            </span>
        </span>
        от
        <span name="date" class="writeOff__editable" model-attribute="date">
            <%- moment(writeOffModel.get('date')).format('DD.MM.YYYY') %>
        </span>
    </span>
</div>