<%
/**
 *
 *  @writeOffModel
 */
%>

<% var writeOff__head = require('tpl!blocks/writeOff/templates/head.html') %>
<% var writeOff__footer = require('tpl!blocks/writeOff/templates/footer.html') %>

<div class="writeOff__content">
    <div class="writeOff__head">
        <%= writeOff__head({
            writeOffModel: writeOffModel
        }) %>
    </div>
    <table class="writeOff__productsTable table"></table>
    <div class="writeOff__footer">
        <%= writeOff__footer({
            writeOffModel: writeOffModel
        }) %>
    </div>

</div>
<div class="page__clear"></div>

<form class="form writeOff__productForm"></form>
