<div class="page__controls">
    <a class="page__controlsLink writeOff__editLink">Редактировать</a>
    <a class="page__controlsLink writeOff__stopEditLink">Завершить редактирование</a>
</div>

<div class="writeOff__content">
    <div class="writeOff__head">
        <%= block.templates.head({
            block: block
        }) %>
    </div>
    <table class="writeOff__table table">

    </table>
    <div class="writeOff__footer">
        <%= block.templates.footer({
            block: block
        }) %>
    </div>

</div>
<div class="page__clear"></div>

<form class="form writeOff__productForm"></form>
