<div class="page__controls">
    <a class="page__controlsLink writeOff__editLink"><%t 'Редактировать' %></a>
    <a class="page__controlsLink writeOff__stopEditLink"><%t 'Завершить редактирование' %></a>
</div>

<div class="writeOff__content">
    <div class="writeOff__head">
        <%= templates.head({
            writeOffModel: writeOffModel
        }) %>
    </div>
    <table class="writeOff__productsTable table"></table>
    <div class="writeOff__footer">
        <%= templates.footer({
            writeOffModel: writeOffModel
        }) %>
    </div>

</div>
<div class="page__clear"></div>

<form class="form writeOff__productForm"></form>
