<div class="content">
    <h1>Регистрация</h1>
    <p>
        Для регистрации необходим только ваш email. <br />
        На него мы отправим пароль для входа в систему.
    </p>
    <form class="form form_signup">
        <div class="form__field">
            <label class="form__label">Email</label>
            <input type="text"
                   class="inputText"
                   name="email"
                   placeholder="email"
                   autofocus />
        </div>
        <div class="form__controls">
            <button class="button" type="submit">
                Зарегистрироваться
            </button>
        </div>
    </form>
</div>
