<div class="login-body">

<div class="container">

    <form class="form-signin form_signup">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Регистрация</h1>
            <img style="height: 150px;" src="/img/logo1_green.png" alt=""/>
        </div>
        <div class="login-wrap">
            <input id="email" type="text" name="email" class="form-control" placeholder="Email">

            <label class="form__errorMessage" for="email"></label>

            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>

        </div>
    </form>

</div>

</div>