<div id="<%- id %>"
     class="modal">

    <div class="modal__header">
        <a class="modal__closeLink pull-left fa fa-times"></a>

        <button form="form_group"
                type="submit"
                class="btn btn-primary pull-right">
            <%- models.group.id ? 'Сохранить' : 'Добавить' %>
        </button>

        <h4 class="modal__title">
            <%- models.group.id ? 'Редактирование группы' : 'Добавить группу' %>
        </h4>

    </div>
    <div class="modal__body">

        <b block="form_group"></b>

    </div>

</div>