<% var getText = require('kit/getText') %>

<select class="select select_priceRoundings" name="rounding.name">
    <% _.forEach(['nearest1', 'nearest10', 'nearest50', 'nearest99', 'nearest100'], function(value, index){ %>
    <option <%- selected === value ? 'selected' : '' %> value="<%- value %>">
        <%- getText(value) %>
    </option>
    <% }) %>
</select>