<div class="form__field form__field_inline">
    <label class="form__label">Url</label>
    <input class="inputText"
           type="text"
           value="<%= set10ImportUrl.value %>"
           name="set10-import-url"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Логин</label>
    <input class="inputText"
           type="text"
           value="<%= set10ImportLogin.value %>"
           name="set10-import-login"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Пароль</label>
    <input class="inputText"
           type="password"
           value="<%= set10ImportPassword.value %>"
           name="set10-import-password"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label">Интервал</label>
    <input class="inputText"
           type="text"
           value="<%= set10ImportInterval.value %>"
           name="set10-import-interval"/>
</div>
<div class="form__controls">
    <span lh-button class="button">
        Сохранить настройки импорта
        <input type="submit"/>
    </span>
</div>