/*spin*/
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/*stripe*/
@-webkit-keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

@-moz-keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

@-ms-keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

@-o-keyframes stripe {
    to {
        background-position: 42px 0;
    }
}

@keyframes stripe {
    to {
        background-position: 42px 0;
    }
}