html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    font-size: 16px;
    font-family: Tahoma, Arial, "sans serif";
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    line-height: 1.4;
    background-color: #fff;
}

select {
    font-family: Tahoma, Arial, "sans serif";
}

input {
    font-family: Tahoma, Arial, "sans serif";
}

table{
    border-collapse: collapse;
}

a{
    color: #1FB18A;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

[href] {
    cursor: pointer;
    transition:
        background-color 0.4s,
        visibility 0s;
}

h1{
    font-weight: normal;
    padding:0 0 44px;
    margin: 0;
    font-size: 32px;
}

h2{
    padding:0 0 22px;
    margin: 0;
    font-size: 22px;
}

p{
    margin: 0;
    padding: 0 0 20px;
}