@import "./blocks/button/button.css";
@import "./blocks/button/button_color_blue.css";
@import "./blocks/box/box.css";
@import "./blocks/table/table.css";
@import "./blocks/inputText/inputText.css";
@import "./blocks/checkbox/checkbox.css";
@import "./blocks/form/form.css";
@import "./blocks/select/select.css";
@import "./blocks/preloader/preloader.css";
@import "./blocks/tooltip/tooltip.css";
@import "./blocks/datepicker/datepicker.css";
@import "./blocks/inputDate/inputDate.css";
@import "./blocks/editor/editor.css";

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    font-size: 14px;
    font-family: Tahoma, Arial, "sans serif";
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    overflow-x: hidden;
    overflow-y: scroll;
}

table{
    border-collapse: collapse;
}

a{
    color: #336699;
    cursor: pointer;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

h1{
    padding:0 0 25px;
    margin: 0;
    font-size: 28px;
}

h2{
    padding:0 0 20px;
    margin: 0;
    font-size: 24px;
}

h3{
    padding:0 0 25px;
    margin: 0;
    font-size: 22px;
}

h4{
    padding:0 0 10px;
    margin: 0;
    font-size: 20px;
}