@import "page/page.css";
@import "button/button.css";
@import "button/button_color_blue.css";
@import "box/box.css";
@import "table/table.css";
@import "inputText/inputText.css";
@import "checkbox/checkbox.css";
@import "form/form.css";
@import "select/select.css";
@import "preloader/preloader.css";
@import "tooltip/tooltip.css";
@import "datepicker/datepicker.css";
@import "inputDate/inputDate.css";