<% var currentUserModel = require('models/currentUser') %>

<div class="globalNavigation">
    <div class="globalNavigation__links">
        <% if(currentUserModel.get('id')) { %>

        <% if(LH.isAllow('groups')){ %>
        <a name="globalNavigationLink" href="/catalog">Товары</a>
        <% } %>

        <% if(LH.isAllow('stores/{store}/groups') && currentUserModel.stores && currentUserModel.stores.length){ %>
        <a name="globalNavigationLink" href="/catalog?storeId=<%- currentUserModel.stores.at(0).id %>">Товары</a>
        <% } %>

        <% if(LH.isAllow('stores/{store}/invoices') && currentUserModel.stores && currentUserModel.stores.length){ %>
        <a name="globalNavigationLink" href="/stores/<%- currentUserModel.stores.at(0).id %>/invoices">Накладные</a>
        <% } %>

        <% if(LH.isAllow('stores/{store}/writeoffs') && currentUserModel.stores && currentUserModel.stores.length){ %>
        <a name="globalNavigationLink" href="/writeOffs?storeId=<%- currentUserModel.stores.at(0).id %>">Списания</a>
        <% } %>

        <% if(LH.isAllow('users')){ %>
        <a name="globalNavigationLink" href="/users">Пользователи</a>
        <% } %>

        <% if(LH.isAllow('stores')){ %>
        <a name="globalNavigationLink" href="/stores">Магазины</a>
        <% } %>

        <% if(LH.isReportsAllow()) { %>
        <a name="globalNavigationLink" href="/reports">Отчеты</a>
        <% } %>

        <% if(LH.isAllow('suppliers')){ %>
        <a name="globalNavigationLink" href="/suppliers">Поставщики</a>
        <% } %>

        <% if(LH.isAllow('stores/{store}/orders', 'GET')){ %>
        <a name="globalNavigationLink" href="/orders">Заказы</a>
        <% } %>

        <% if(currentUserModel.stores && currentUserModel.stores.length) { %>
        <a name="globalNavigationLink" href="/stores/<%- currentUserModel.stores.at(0).id %>">Мой магазин</a>
        <% } %>

        <% if(LH.isAllow('configs')){ %>
        <a name="globalNavigationLink" href="/settings">Настройки</a>
        <% } %>

        <a name="globalNavigationLink" href="/logs">Лог</a>

        <% } %>
    </div>

    <div class="globalNavigation__bottom">

        <% if(currentUserModel.get('id')) { %>
        <div class="globalNavigation__userControls">
            <a href="/users/current" name="userName" class="globalNavigation__userName">
                <%- currentUserModel.get('name') %>
            </a>
        </div>
        <% } %>

        <a name="globalNavigationLink" href="/" class="globalNavigation__logo">
            Lighthouse
        </a>
    </div>
</div>
