<div class="page">
    <div class="page__head">
        <div class="page__title">
            <a href="/pos" class="fa fa-long-arrow-left" style="font-size: 25px; margin-right: 10px;"></a>
            <%- models.store.get('name') %>
        </div>
    </div>

    <div class="page__content">

        <div class="row">

            <div class="col-md-7">
                <div class="page__panel">

                    <b block="productFinder"></b>

                </div>
            </div>

            <div class="col-md-5">

                <b block="form_receipt"></b>

            </div>

        </div>

    </div>
</div>