<div class="page page_pos">
    <div class="page__head">
        <div class="page__title">
            <a href="/pos" class="fa fa-long-arrow-left" style="font-size: 25px; margin-right: 10px;"></a>
            <%- models.store.get('name') %>
        </div>
    </div>

    <div class="page__content">

        <div class="row">
            <div class="col col-md-7">

                <b block="productFinder"></b>

            </div>

            <div class="col col-md-5">

                <b block="receipt"></b>

            </div>
        </div>

    </div>

    <b block="modal_receiptProduct"></b>
    <b block="modal_receipt"></b>

</div>