<h3><%t 'Добро пожаловать в Lighthouse!' %></h3>
<div class="form__field form__field_inline">
    <label class="form__label"><%t 'Логин' %></label>
    <input class="inputText"
           type="text"
           name="username"/>
</div>
<div class="form__field form__field_inline">
    <label class="form__label"><%t 'Пароль' %></label>
    <input class="inputText"
           type="password"
           name="password"/>
</div>
<div class="form__controls">
    <span class="button button_color_blue">
        <%t 'Войти' %>
        <input type="submit"/>
    </span>
</div>
