.preloader{
    position: relative;
}

.preloader_rows{
    background-image: url("/img/preloader1.gif") !important;
    background-attachment: fixed;
    color: #f4f4f4 !important;
}

.preloader_spinner{
    min-height: 100px;
}

.preloader_spinner:after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -37px 0 0 -37px;

    border: 10px solid #333;
    border-top-color: transparent;
    border-radius: 100%;

    -webkit-animation: spin 1s infinite ease;
    -moz-animation: spin 1s infinite ease;
    -ms-animation: spin 1s infinite ease;
    -o-animation: spin 1s infinite ease;
    animation: spin 1s infinite ease;
}

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}