<% var partials = {
    tr: {
        invoice: require('ejs!blocks/table/stockMovements/tr/invoice.ejs'),
        writeOff: require('ejs!blocks/table/stockMovements/tr/writeOff.ejs'),
        stockIn: require('ejs!blocks/table/stockMovements/tr/stockIn.ejs'),
        supplierReturn: require('ejs!blocks/table/stockMovements/tr/supplierReturn.ejs')
    }
}; %>

<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span class="invoice__link btn btn-primary btn-md">Принять от поставщика</span>
        <span class="writeOff__link btn btn-primary btn-md">Списать</span>
        <span class="stockIn__link btn btn-primary btn-md">Оприходовать</span>
        <span class="supplierReturn__link btn btn-primary btn-md">Вернуть поставщику</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">Товародвижение</div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">

                    <b block="form_stockMovementsFilters"></b>

                    <% if (collections.stockMovements.length) { %>
                    <table class="table table-striped table-hover table_stockMovements">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Операция</th>
                            <th>Магазин</th>
                            <th>На сумму, <i class="fa fa-rub"></i></th>
                        </tr>
                        </thead>
                        <tbody>

                        <% _.forEach(collections.stockMovements.groupBy('date'), function(stockMovements, date){ %>

                        <% _.forEach(stockMovements, function(stockMovementModel, index) { %>

                                <% if (stockMovementModel.get('type') === 'Invoice'){ %>
                                <%= partials.tr.invoice({
                                    dateRowSpan: index === 0 ? stockMovements.length : null,
                                    stockMovementModel: stockMovementModel
                                }) %>
                                <% } %>

                                <% if (stockMovementModel.get('type') === 'WriteOff'){ %>
                                <%= partials.tr.writeOff({
                                    dateRowSpan: index === 0 ? stockMovements.length : null,
                                    stockMovementModel: stockMovementModel
                                }) %>
                                <% } %>

                                <% if (stockMovementModel.get('type') === 'StockIn'){ %>
                                <%= partials.tr.stockIn({
                                    dateRowSpan: index === 0 ? stockMovements.length : null,
                                    stockMovementModel: stockMovementModel
                                }) %>
                                <% } %>

                        <% if (stockMovementModel.get('type') === 'SupplierReturn'){ %>
                        <%= partials.tr.supplierReturn({
                            dateRowSpan: index === 0 ? stockMovements.length : null,
                            stockMovementModel: stockMovementModel
                        }) %>
                        <% } %>

                            <% }) %>

                        <% }) %>

                        </tbody>
                    </table>
                    <% } else { %>
                    <div style="margin-bottom: 0" class="alert alert-info">
                        Не найдено ни одной операции с товарами.
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->

<b block="modal_stockIn"></b>
<b block="modal_invoice"></b>
<b block="modal_writeOff"></b>
<b block="modal_supplierReturn"></b>

<!--END MODALS-->