<% var partials = {
    modal_writeOff: require('ejs!blocks/modal/modal_writeOff/modal_writeOff.ejs'),
    tr: {
        invoice: require('ejs!blocks/table/stockMovements/tr/invoice.ejs'),
        writeOff: require('ejs!blocks/table/stockMovements/tr/writeOff.ejs'),
        stockIn: require('ejs!blocks/table/stockMovements/tr/stockIn.ejs'),
        supplierReturn: require('ejs!blocks/table/stockMovements/tr/supplierReturn.ejs')
    }
}; %>

<!--BEGIN TITLE PAGE-->
<div class="page__head">

    <div class="pull-right">
        <span data-modal="modal_invoice"
              data-invoice-id="0"
              class="btn btn-primary btn-md">Принять от поставщика</span>

        <div class="dropdown" style="display: inline-block; position: relative">
            <a block="dropdown"
               href="#"
               role="button"
               class="btn btn-default btn-md dropdown-toggle"
               data-toggle="dropdown">Еще...</a>

            <ul style="right: 0; left: auto;" class="dropdown-menu" role="menu">
                <li>
                    <div class="dropdown-menu-item"
                          data-target="#modal_writeOffAdd"
                          data-toggle="modal">Списать</div>
                </li>
                <li>
                    <div class="dropdown-menu-item page__addStockInLink">Оприходовать</div>
                </li>
                <li>
                    <div class="dropdown-menu-item supplierReturn__link">Вернуть поставщику</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="page__title">Товародвижение</div>

</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page__content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">

                    <b block="form_stockMovementsFilters"></b>

                    <b block="table_stockMovements"></b>

                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->

<!--MODALS-->

<b block="modal_invoice"></b>
<b block="modal_stockIn"></b>
<b block="modal_supplierReturn"></b>

<% if (models.writeOff) { %>
<%= partials.modal_writeOff({
    collections: {
        stores: collections.stores
    },
    models: {
        writeOff: models.writeOff
    }
}) %>
<% } %>
<%= partials.modal_writeOff({
    collections: {
        stores: collections.stores
    }
}) %>
<!--END MODALS-->