[ lh_dashboard_card ]{
    border-radius: 5px;
    margin: 2%;
    padding: 2%;
    display: inline-block;
    text-decoration: none;
    color: steelblue;
    border: 1px solid lightsteelblue;
    font-weight: bold;
}

[ lh_dashboard_card ]:hover {
    background: #eef;
}
