.tooltip{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 1px 8px #999;
    display: none;
    padding: 10px;
    z-index: 100;
    border-radius: 4px;
}

.tooltip__pointer{
    position: absolute;
    left: 40px;
    top: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: none;
}

.tooltip_menu{
    min-width: 200px;
}

.tooltip_groupMenu{
    margin-top: -33px;
}

.tooltip_menu{
    margin-top: -35px;
}

.tooltip_menu .tooltip__controlLink{
    display: block;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 8px 10px;
    text-decoration: none;
    margin: 0 -10px -1px;
}

.tooltip_menu .tooltip__controlLink:hover{
    background: #f4f4f4;
}

.tooltip_datepicker__saveLink{
    float: right;
    margin: 0;
}
