<% var attr = require('kit/utils/attr') %>

<% if(LH.isAllow('departments', 'PUT::{department}')) { %>
<div class="page__controls">
    <a href="/stores/<%- departmentModel.get('store') %>/departments/edit/<%- departmentModel.id %>">
        Редактировать
    </a>
</div>
<% } %>

<h1><%- attr(departmentModel, 'name') %></h1>
<table class="table" style="width: 50%;">
    <tr>
        <th>Номер отдела</th>
        <td>
            <%- attr(departmentModel, 'number') %>
        </td>
    </tr>
</table>
