<div class="calendar__controlLinks">
    <a class="calendar__prevMonthLink">пред</a>
    <a class="calendar__nextMonthLink">след</a>
</div>

<div class="calendar__header">
    <%= block.tpl.header({
        block: block
    }) %>
</div>

<div class="calendar__daysOfWeek">
    <div class="calendar__dayOfWeek">
        <%= moment().day(1).format('dd') %>
    </div>
    <div class="calendar__dayOfWeek">
        <%= moment().day(2).format('dd') %>
    </div>
    <div class="calendar__dayOfWeek">
        <%= moment().day(3).format('dd') %>
    </div>
    <div class="calendar__dayOfWeek">
        <%= moment().day(4).format('dd') %>
    </div>
    <div class="calendar__dayOfWeek">
        <%= moment().day(5).format('dd') %>
    </div>
    <div class="calendar__dayOfWeek">
        <%= moment().day(6).format('dd') %>
    </div>
    <div class="calendar__dayOfWeek">
        <%= moment().day(7).format('dd') %>
    </div>
</div>

<div class="calendar__dateList">
    <%= block.tpl.dateList({
        block: block
    }) %>
</div>


<div class="calendar__timeControls">
    <span class="calendar__timeControlsLabel">Время:</span>
    <input placeholder="часы" name="hours" type="text" class="inputText" value="<%= block.selectedDate ? moment(block.selectedDate).format('HH') : '' %>" <%= block.selectedDate ? '' : 'disabled' %> />
    <span class="calendar__timeControlsSpacer">:</span>
    <input placeholder="мин" name="minutes" type="text" class="inputText" value="<%= block.selectedDate ? moment(block.selectedDate).format('mm') : '' %>" <%= block.selectedDate ? '' : 'disabled' %> />
    <span class="calendar__timeControlsSpacer">:</span>
    <input placeholder="сек" name="seconds" type="text" class="inputText" value="<%= block.selectedDate ? moment(block.selectedDate).format('ss') : '' %>" <%= block.selectedDate ? '' : 'disabled' %> />
</div>

<div class="calendar__controls">
    <a class="button button_color_blue calendar__saveLink">Сохранить</a>
    <a class="button calendar__setNowLink calendar__showNowLink">Сейчас</a>
</div>
