.removeLink {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #006699;
    color: #006699;
    background: transparent;
    outline: none;
    text-align: center;
    width: 200px;
}

.removeLink.loading {
    background-color: #F4C9CC;
    color: #fff;
}

.confirmLink__confirmation .removeLink {
    border: 1px solid #d40000;
    background: #d40000;
    color: #fff;
}