.removeLink {
    color: #999;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
}

.removeLink.loading {
    background-color: #F4C9CC;
    color: #fff;
}

.confirmLink__confirmation .removeLink {
    color: #d40000;
}