<% if (collection.length) { %>
<div name="receiptsList" class="receiptFinder__results">
    <div class="list-group">

		<% var prevDate = 0; %>
        <% collection.forEach(function(receipt){ %>

			<% date = receipt.get('date'); %>
			<% if (isDifferentDates(prevDate, date)) { %>
				<% prevDate = date; %>

				<div class="receiptFinder__resultsDate"><%- helpers.formatDate(date, { format: 'dddd, DD MMMM' }) %></div>
				<% } %>

			<button data-receipt-id="<%- receipt.id %>"
			   name="receipt"
			   class="receiptFinder__resultLink list-group-item">
				<span name="price" class="receiptFinder__resultLinkAmount"><%= helpers.formatAmount(receipt.get('sumTotal')) %> <i class="fa fa-rub"></i></span>
				<span name="time" class="receiptFinder__resultLinkTime"><%= helpers.formatTime(date) %></span>
			</button>

        <% }) %>
    </div>
</div>
<% } else { %>
<div class="alert alert-info">
    Продаж не найдено.
</div>
<% } %>
