<% if (collection.length) { %>
<div name="receiptsList" class="receiptFinder__results">
    <div class="list-group">

		<% var prevTime = 0; %>
        <% collection.forEach(function(receipt){ %>

			<% time = receipt.get('time'); %>
			<% if (isDifferentDates(prevTime, time)) { %>
				<% prevTime = time; %>

				<div class="receiptFinder__resultsDate"><%- helpers.formatDate(time, { format: 'dddd, DD MMMM' }) %></div>
				<% } %>

			<button data-receipt-id="<%- receipt.id %>"
			   name="receipt"
			   class="receiptFinder__resultLink list-group-item">
				<span name="price" class="receiptFinder__resultLinkAmount"><%= helpers.formatAmount(receipt.get('amount')) %> <i class="fa fa-rub"></i></span>
				<span name="time" class="receiptFinder__resultLinkTime"><%= helpers.formatTime(time) %></span>
			</button>

        <% }) %>
    </div>
</div>
<% } else { %>
<div class="alert alert-info">
    Продаж не найдено
</div>
<% } %>
