<div class="receiptFinder page__panel">

	<div class="receiptFinder__input">
		<b block="productAutocomplete"></b>
	</div>

	<b block="dateRangeInput"
	   data-date-from="<%- collections.receipts.filters.dateFrom %>"
	   data-date-to="<%- collections.receipts.filters.dateTo %>">
	</b>

	<b block="receiptFinder__results"></b>

</div>