<div class="receiptFinder page__panel">

	<div class="receiptFinder__input">
		<b block="product_autocomplete"></b>
	</div>

	<b block="inputDateRange"
	   data-date-from="<%- PAGE.params.dateFrom %>"
	   data-date-to="<%- PAGE.params.dateTo %>">
	</b>

	<b block="receiptFinder__results"></b>

</div>