<%
/**
 *
 * @value
 */
%>

<% var numeral = require('numeral') %>

<span class="amount">
    <%- value < 0 && value > -1 ? '-' : '' %><%- numeral(parseInt(value)).format('0,0') %><span class="layout__precision"><%- numeral(Math.abs(value)).format('.0[00]') %></span>
</span>
