<% var text = require('kit/utils/text') %>

<h3><%- text('Добро пожаловать в Lighthouse!') %></h3>
<div class="form__field">
    <label class="form__label"><%- text('Логин') %></label>
    <input class="inputText"
           type="text"
           name="username"/>
</div>
<div class="form__field">
    <label class="form__label"><%- text('Пароль') %></label>
    <input class="inputText"
           type="password"
           name="password"/>
</div>
<div class="form__controls">
    <span class="button ">
        <%- text('Войти') %>
        <input type="submit"/>
    </span>
</div>
