<form class="form form_pass">
    <h1 class="form__header"><%- title %></h1>

    <div class="form__body">
        <div class="form-group">
            <div class="input-group">

                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>

                <input type="text"
                       placeholder="Email"
                       name="email"
                       autofocus
                       class="form-control">
            </div>

            <div for="email" class="form__errorMessage"></div>
        </div>

        <div style="text-align: right">
            <button type="submit" class="btn btn-success">
                <%- submitButtonCaption %>
                &nbsp;
                <i class="fa fa-chevron-circle-right"></i>
            </button>
        </div>
    </div>

</form>