#chtpn {
    display: block;
    z-index: 100000;
    min-width: 768px;
    top: 10px;
    left: 10px;
}

#chtpn .close {
    float: right;
    cursor: pointer;
}

#chtpn .more-info {
    display: none;
}