window.LH = {
    baseUrl: 'http://%api_url%',
    baseApiUrl: 'http://%api_url%/api/1',
    mainJsFile: '/main.js',
    clientId: 'webfront_webfront',
    clientSecret: 'secret',
    locale: 'root'
};

window.Caliper = {
    config: {
        apiKey: "558dd0e7-1736-4d71-bdad-d8923af485b9",
        debug: true
    }
};