@import "/kit/kit.css";

/* blocks */
@import "/blocks/invoice/invoice.css";
@import "/blocks/productForm/productForm.css";
@import "/blocks/product/product.css";
/* /blocks */

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100%;
    font-size: 13px;
    font-family: Tahoma, Arial, "sans serif";
    padding: 0;
    margin: 0;
}

a{
    color: #336699;
    cursor: pointer;
}

h1{
    padding:0 0 25px;
    margin: 0;
}

h2{
    padding:0 0 20px;
    margin: 0;
}

h3{
    padding:0 0 25px;
    margin: 0;
}

h4{
    padding:0 0 10px;
    margin: 0;
}