@import "fonts/proxima/proxima.css";
@import "bower_components/jqueryui/themes/base/minified/jquery-ui.min.css";
@import "bower_components/fontawesome/css/font-awesome.css";

@import "kit/default.css";
@import "kit/animation.css";

/* blocks */
@import "blocks/button/button.css";
@import "blocks/table/table.css";
@import "blocks/inputText/inputText.css";
@import "blocks/checkbox/checkbox.css";
@import "blocks/select/select.css";
@import "blocks/preloader/preloader.css";
@import "blocks/tooltip/tooltip.css";
@import "blocks/datepicker/datepicker.css";
@import "blocks/inputDate/inputDate.css";
@import "blocks/page/page.css";
@import "blocks/content/content.css";
@import "blocks/product/product.css";
@import "blocks/saleBox/saleBox.css";
@import "blocks/writeOff/writeOff.css";
@import "blocks/catalog/catalog.css";
@import "blocks/tooltip/tooltip.css";
@import "blocks/form/form.css";
@import "blocks/table/table.css";
@import "blocks/globalNavigation/globalNavigation.css";
@import "blocks/localNavigation/localNavigation.css";
@import "blocks/store/store.css";
@import "blocks/log/log.css";
@import "blocks/writeOffList/writeOffList.css";
@import "blocks/layout/layout.css";
@import "blocks/grossSales/grossSales.css";
@import "blocks/preloader/preloader.css";
@import "blocks/autocomplete/autocomplete.css";
@import "blocks/radioGroup/radioGroup.css";
@import "blocks/inputRadio/inputRadio.css";
@import "blocks/error/error.css";

