@import "/adminex/html/css/style.css";
@import "/adminex/html/css/style-responsive.css";
@import "/adminex/html/js/bootstrap-timepicker/css/timepicker.css";
@import "/adminex/html/js/bootstrap-colorpicker/css/colorpicker.css";
@import "/adminex/html/js/bootstrap-daterangepicker/daterangepicker-bs3.css";
@import "/adminex/html/js/bootstrap-datetimepicker/css/datetimepicker-custom.css";

.app__logoImg {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.logo a {
    margin-left: 10px;
    font-size: 21px;
}

.notification-menu .dropdown-toggle {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
}

.app__logoText {
    vertical-align: middle;
    margin-left: -8px;
    position: relative;
    top: 2px;
}

.app__title {
    display: inline-block;
    height: 50px;
    line-height: 48px;
    font-size: 24px;
    padding: 0 20px;
}

.left-side-inner {
    padding-top: 20px;
}

.left-side .logged-user .media-body{
    margin-left: 10px;
}

.custom-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.form__errorMessage {
    color: #a94442;
    display: none;
}

.form__errorMessage_visible {
    display: block;
}

