/* fonts */
@import "/fonts/proxima/proxima.css";
    /* libs */
@import "./libs/jquery-ui/themes/base/minified/jquery-ui.min.css";
@import "./kit/main.css";
@import "/icons/font-awesome/font-awesome.css";
@import "/icons/michalych/style.css";
    /* blocks */
@import "./blocks/page/page.css";
@import "./blocks/invoice/invoice.css";
@import "./blocks/form/form_product/form_product.css";
@import "./blocks/product/product.css";
@import "./blocks/saleBox/saleBox.css";
@import "./blocks/writeOff/writeOff.css";
@import "./blocks/catalog/catalog.css";
@import "./blocks/tooltip/tooltip.css";
@import "./blocks/form/form.css";
@import "./blocks/navigationBar/navigationBar.css";
@import "./blocks/catalogCategory/catalogCategory.css";
@import "./blocks/store/store.css";
@import "blocks/log/log.css";


body {
    background-color: #fff;
    font-family: proximanova-regular;
}

select {
    font-family: proximanova-regular;
}

input {
    font-family: proximanova-regular;
}

h3 {
    font-size: 28px;
    font-weight: normal;
}

h4 {
    font-size: 22px;
    font-weight: normal;
}

a{
    color: #1FB18A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

[href] {
    transition:
        background-color 0.4s,
        visibility 0s;
}

