@import "/libs/jquery-ui/jquery-ui.css";
@import "/kit/kit.css";

/* blocks */
@import "/blocks/invoice/invoice.css";
@import "/blocks/productForm/productForm.css";
@import "/blocks/product/product.css";
@import "/blocks/saleBox/saleBox.css";
@import "/blocks/writeOff/writeOff.css";
/* /blocks */

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    font-size: 14px;
    font-family: Tahoma, Arial, "sans serif";
    padding: 0;
    margin: 0;
    background: #fafafa;
    overflow-x: hidden;
    overflow-y: scroll;
}

table{
    border-collapse: collapse;
}

a{
    color: #336699;
    cursor: pointer;
}

h1{
    padding:0 0 25px;
    margin: 0;
}

h2{
    padding:0 0 20px;
    margin: 0;
}

h3{
    padding:0 0 25px;
    margin: 0;
}

h4{
    padding:0 0 10px;
    margin: 0;
}