<div class="invoice__title invoice__dataRow">
    Накладная
    <span class="invoice__editable">
        №
        <span name="sku" model-attr="sku">
            <%= invoiceModel.get('sku') %>
        </span>
    </span>
    от
    <span name="acceptanceDate" class="invoice__editable" model-attr="acceptanceDate">
        <%= moment(invoiceModel.get('acceptanceDate')).format('DD.MM.YYYY HH:mm') %>
    </span>
</div>

<div class="invoice__head invoice__dataRow">
    <div>
        <div class="invoice__headItem">
        <span class="invoice__headItemData invoice__editable" name="supplier" model-attr="supplier">
            <%text invoiceModel.get('supplier') %>
        </span>
            <div class="invoice__headItemHint">
                поставщик
            </div>
        </div>
        <div class="invoice__headItem">
        <span class="invoice__headItemData invoice__editable" name="accepter" model-attr="accepter">
            <%text invoiceModel.get('accepter') %>
        </span>
            <div class="invoice__headItemHint">
                приёмщик
            </div>
        </div>
        <div class="invoice__headItem">
        <span class="invoice__headItemData invoice__editable" name="legalEntity" model-attr="legalEntity">
            <%text invoiceModel.get('legalEntity') %>
        </span>
            <div class="invoice__headItemHint">
                получатель
            </div>
        </div>
    </div>
</div>
<div class="invoice__dataRow invoice__supplier
    <%= (!invoiceModel.get('supplierInvoiceSku') && !invoiceModel.get('supplierInvoiceDate')) ? 'invoice__hiddenData':'' %>">
    Входящая накладная
    <span class="invoice__editable <%= (!invoiceModel.get('supplierInvoiceSku')) ? 'invoice__hiddenData':'' %>">
        №
        <span name="supplierInvoiceSku" model-attr="supplierInvoiceSku"><%= invoiceModel.get('supplierInvoiceSku') ? invoiceModel.get('supplierInvoiceSku') : LH.text('Ввести номер') %></span>
    </span>
    <span class="<%= (!invoiceModel.get('supplierInvoiceDate')) ? 'invoice__hiddenData' : '' %>">
        от <span name="supplierInvoiceDate" class="invoice__editable" model-attr="supplierInvoiceDate">
            <%= invoiceModel.get('supplierInvoiceDate') ? moment(invoiceModel.get('supplierInvoiceDate')).format('DD.MM.YYYY') : LH.text('Ввести дату') %>
        </span>
    </span>
</div>