<!-- @invoiceModel -->

<% var invoice__head = require('tpl!blocks/invoice/templates/head.html') %>
<% var invoice__footer = require('tpl!blocks/invoice/templates/footer.html') %>

<div class="invoice__content">
    <div class="invoice__head">
        <%= invoice__head({
            invoiceModel: invoiceModel
        }) %>
    </div>

    <table class="table invoice__productsTable">

    </table>

    <div class="invoice__footer">
        <%= invoice__footer({
            invoiceModel: invoiceModel
        }) %>
    </div>

</div>
<div class="page__clear"></div>

<form class="form invoice__productForm"></form>
