.button {
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	position: relative;
	text-decoration: none !important;
	margin: 0 8px 0 0;
	font-weight: bold;
	font-size: 12px;
    text-transform: uppercase;
	height: 35px;
	line-height: 34px;
	padding: 0 16px;
	color: #1FB18A;
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid #1FB18A;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.25s;
    -moz-transition: border-color 0.25s;
    -o-transition: border-color 0.25s;
    transition: border-color 0.25s;
}

.button:hover {
}

.button:active, .button_selected, .button_selected:hover {
}

.button input {
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	line-height: 0;
	text-indent: -999px;
}

.button input[type=file]{
    line-height: normal;
    font-size: 100px;
    text-indent: 0;
    left: auto;
    right: 0;
    width: auto;
    height: auto;
}

.button .icon {
    top: -2px;
    left: -7px;
}

.button.preloader_rows, .button.preloader_rows:hover{
    text-shadow: none;
    border-color: #5a8280;
    cursor: default;
}

.button_disabled{
    opacity: 0.5;
    cursor: default;
}

.button_disabled [type="submit"]{
    display: none;
}

