.button {
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	position: relative;
	text-decoration: none;
	margin: 0 8px 0 0;
	font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
	font-size: 13px;
	height: 32px;
	line-height: 28px;
	padding: 0 14px;
	text-shadow: 0 1px 0 white;
	color: #333;
	border: 1px solid #afafaf;
	background: #fafafa;
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	box-shadow: inset 0 0 1px #fff;
    overflow: hidden;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover {
	background: #f4f4f4;
    background-image: -moz-linear-gradient(top, #fafafa, #d0d0d0);
    background-image: -ms-linear-gradient(top, #fafafa, #d0d0d0);
    background-image: -o-linear-gradient(top, #fafafa, #d0d0d0);
    background-image: -webkit-linear-gradient(top, #fafafa, #d0d0d0);
    background-image: linear-gradient(top, #fafafa, #d0d0d0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset 0 0 3px #fff;
	border-color: #888;
}

.button:active, .button_selected, .button_selected:hover {
	border: 1px solid #AAA;
	border-bottom-color: #CCC;
	border-top-color: #999;
	background: #dcdcdc;
	box-shadow: inset 0 1px 2px #aaa;
	background-image: -moz-linear-gradient(top, #e6e6e6, #dcdcdc);
	background-image: -ms-linear-gradient(top, #e6e6e6, #dcdcdc);
	background-image: -o-linear-gradient(top, #e6e6e6, #dcdcdc);
	background-image: -webkit-linear-gradient(top, #e6e6e6, #dcdcdc);
	background-image: linear-gradient(to bottom, #e6e6e6, #dcdcdc);
}

.button input {
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	line-height: 0;
	text-indent: -999px;
}

.button input[type=file]{
    line-height: normal;
    font-size: 100px;
    text-indent: 0;
    left: auto;
    right: 0;
    width: auto;
    height: auto;
}

.button .icon {
    top: -2px;
    left: -7px;
}

.button.preloader_rows, .button.preloader_rows:hover{
    text-shadow: none;
    border-color: #5a8280;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    cursor: default;
}

.button_disabled{
    opacity: 0.5;
    cursor: default;
}

.button_disabled [type="submit"]{
    display: none;
}

