<!--BEGIN TITLE PAGE-->
<div class="page-title-breadcrumb">

    <div class="pull-right">
        <span data-modal="modal_product"
              class="page__modalLink btn btn-primary btn-md">Добавить товар</span>
    </div>

    <div class="page-header pull-left">
        <div class="page-title">

            <a href="/catalog"
               class="fa fa-long-arrow-left"
               style="font-size: 25px; margin-right: 10px;"></a>

            {models.group.attributes.name}

            <a data-modal="modal_group"
               class="page__modalLink fa fa-edit"
               style="cursor:pointer; font-size: 20px; margin-left: 10px;"></a>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!--END TITLE PAGE-->

<!--BEGIN CONTENT-->
<div class="page-content">

    <b block="productList"></b>

</div>
<!--END CONTENT-->

<!--MODALS-->

<b block="modal_product"></b>
<b block="modal_group"></b>

<!--END MODALS-->