<div class="page__controls">
    <a class="page__controlsList product_editLink"
       lh_link="edit"
       href="/product/edit/<%= block.productModel.get('id') %>">
        Редактировать
    </a>
</div>
<div class="product__content">
    <div class="product__head">
        <div class="product__name">
            <span name="name"><%= block.productModel.get('name') %></span>
        </div>
        <div class="product__sku">
            <span name="sku"><%= block.productModel.get('sku') %></span>
        </div>
    </div>
    <div class="product__body">
        <table class="product__propertiesTable">
            <tr>
                <th>Закупочная цена</th>
                <td>
                    <span name="purchasePrice">
                        <%= block.utils.formatPrice(block.productModel.get('purchasePrice')) %>
                    </span>
                    руб.
                </td>
            </tr>
            <tr>
                <th>НДС</th>
                <td>
                    <span name="vat"><%= block.productModel.get('vat') %></span>
                    %
                </td>
            </tr>
            <tr>
                <th>Штрих-код</th>
                <td>
                    <span name="barcode"><%= block.productModel.get('barcode') %></span>
                </td>
            </tr>
            <tr>
                <th>Единица измерения</th>
                <td>
                    <span name="units"><%= block.utils.units(block.productModel.get('units'), 'smallFull') %></span>
                </td>
            </tr>
            <tr>
                <th>Производитель</th>
                <td>
                    <span name="vendor"><%= block.productModel.get('vendor') %></span>
                </td>
            </tr>
            <tr>
                <th>Страна</th>
                <td>
                    <span name="vendorCountry"><%= block.productModel.get('vendorCountry') %></span>
                </td>
            </tr>
            <tr>
                <th>Наценка</th>
                <td>
                    <% if(block.productModel.get('retailMarkup')) { %>
                        <span name="retailMarkup">
                            <%= block.productModel.get('retailMarkup') %>
                        </span>
                        %
                    <% } else { %>
                        <span name="retailMarkup">
                            <i>отсутствует</i>
                        </span>
                    <% } %>
                </td>
            </tr>
            <tr>
                <th>Цена продажи</th>
                <td>
                    <% if(block.productModel.get('retailPrice')){ %>
                        <span name="retailPrice">
                            <%= block.utils.formatPrice(block.productModel.get('retailPrice')) %>
                        </span>
                        руб.
                    <% } else { %>
                        <span name="retailPrice">
                            <i>отсутствует</i>
                        </span>
                    <% } %>
                </td>
            </tr>
        </table>
        <p>
            <%= block.productModel.get('info') %>
        </p>
    </div>
</div>
