<%
/**
 *
 * @models.companyOrganization
 * @collections.bankAccounts
 */
%>

<div class="content">
    <h1><%- models.companyOrganization.get('name') %></h1>
    <h2>Расчетные счета
        <a style="margin-left: 20px;" href="/company/organization/<%- models.companyOrganization.id %>" class="button">Добавить расчетный счет</a>
    </h2>

    <p>Вы еще не добавили ни одного расчетного счета для этой организации</p>

</div>