<div id="<%- id %>"
	 class="modal modal_writeOff">

	<div class="modal__header">
		<a class="modal__closeLink pull-left fa fa-times"></a>

		<button form="form_writeOff"
				type="submit"
				class="btn btn-primary pull-right">
			<%- models.writeOff.id ? 'Сохранить' : 'Списать' %>
		</button>

		<h4 class="modal__title">
			<%- models.writeOff.id ? 'Редактирование списания товаров' : 'Списание товаров' %>
		</h4>

	</div>
	<div class="modal__body">

		<b block="form_writeOff"></b>

		<hr style="margin: 0 -60px;"/>

		<h3>Товары</h3>

		<b block="form_writeOffProducts"></b>

		<% if (models.writeOff.id) { %>
		<div style="margin-top: 40px; margin-left: -10px;" class="confirmLink">

			<div class="confirmLink__trigger">
                        <span class="removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Удалить списание
                        </span>
			</div>

			<div class="confirmLink__confirmation">
                        <span class="removeLink writeOff__removeLink">
                            <i style="margin-right: 5px;" class="fa fa-trash-o"></i>
                            Подтвердить удаление
                        </span>
			</div>

		</div>
		<% } %>
	</div>

</div>