<div class="form__field form__field_inline">
    <label class="form__label"><%text 'Минимальная наценка' %></label>
    <input value="<%= model.get('retailMarkupMin') %>" class="inputText" type="text" name="retailMarkupMin"/>
    <span class="inputText__postfix">%</span>
</div>
<div class="form__field form__field_inline">
    <label class="form__label"><%text 'Максимальная наценка' %></label>
    <input value="<%= model.get('retailMarkupMax') %>" class="inputText" type="text" name="retailMarkupMax"/>
    <span class="inputText__postfix">%</span>
</div>
<div class="form__controls">
    <span class="button button_color_blue">
        <%text 'Сохранить' %>
        <input type="submit"/>
    </span>
</div>