<tr invoice-product-id="<%= model.id %>" name="invoiceProduct" class="invoice__dataRow" product-sku="<%e model.get('product').sku %>">
    <td>
        <span name="productName"
              class="invoice__editable"
              autocomplete-name="name"
              model-attr="product"
              product-id="<%= model.get('product').id %>"><%t model.get('product').name %></span>
        <br />
        <span name="productSku"
              class="invoice__editable"
              autocomplete-name="sku"
              model-attr="product"
              product-id="<%= model.get('product').id %>"><%e model.get('product').sku %></span>
    </td>
    <td>
        <span name="productBarcode"
              class="invoice__editable <%= model.get('product').barcode ? '' : 'invoice__hiddenData' %>"
              autocomplete-name="barcode"
              model-attr="product"
              product-id="<%= model.get('product').id %>">
            <%e model.get('product').barcode ? model.get('product').barcode : KIT.text('Ввести штрихкод') %>
        </span>
    </td>
    <td>
        <span class="invoice__editable">
            <span name="productAmount" model-attr="quantity">
                <%e model.get('quantity') %>
            </span>
            <span name="productUnits">
                <%t LH.units(model.get('product').units, 'smallShort') %>
            </span>
        </span>
    </td>
    <td>
        <span class="invoice__editable">
            <span>
                по
            </span>
            <span name="productPrice" model-attr="price">
                <%t LH.formatPrice(model.get('price')) %>
            </span>
            <span>
                р.
            </span>
        </span>
    </td>
    <td>
        <span>
            =
        </span>
        <span name="productSum">
            <%t LH.formatPrice(model.get('totalPrice')) %>
        </span>
        <span>
            р.
        </span>
    </td>
    <td style="width: 1px;">
        <span class="invoice__removeLink"><%t 'удалить' %></span>
    </td>
</tr>
