<% if(model.id){ %>
    <h3><%t 'Редактирование товара' %></h3>
<% } else { %>
    <h3><%t 'Добавление товара в подкатегорию ' %>
        <a href="/catalog/<%= subCategoryModel.get('group') %>/<%= subCategoryModel.get('category') %>/<%= subCategoryModel.id %>"><%= LH.attr(subCategoryModel, 'name') %></a>
    </h3>
<% } %>

<fieldset class="form__fieldset">
    <div class="form__field form__field_inline">
        <label class="form__label">Артикул</label>
        <input value="<%e model.get('sku') %>" class="inputText" type="text" name="sku"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Наименование</label>
        <input value="<%e model.get('name') %>" class="inputText" type="text" name="name"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Измеряется в</label>
        <select value="<%e model.get('units') %>" class="select" name="units" require="blocks/select/select_unit/select_unit"></select>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">НДС</label>
        <select value="<%e model.get('vat') %>" class="select" name="vat" require="blocks/select/select_vat/select_vat"></select>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Цена закупки</label>
        <input style="width: 150px;" value="<%e model.get('purchasePrice') ? LH.formatPrice(model.get('purchasePrice')) : '' %>" class="inputText" type="text" name="purchasePrice"/>
        <span class="inputText__postfix">руб.</span>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Наценка</label>
        <input style="width: 150px;" value="<%e model.get('retailMarkup') %>" class="inputText productForm__linkedInput <%t model.get('retailPricePreference') == 'retailMarkup' ? '' : 'productForm__hiddenInput' %>" type="text" name="retailMarkup"/>
        <span class="productForm__inputLink">
            <span class="productForm__inputLinkText" name="retailMarkupHint"></span>
        </span>
        <span class="inputText__postfix">%</span>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Цена продажи</label>
        <input style="width: 150px;" value="<%e model.get('retailPrice') ? LH.formatPrice(model.get('retailPrice')) : '' %>" class="inputText productForm__linkedInput <%= model.get('retailPricePreference') == 'retailMarkup' ? 'productForm__hiddenInput' : '' %>" type="text" name="retailPrice"/>
        <span class="productForm__inputLink">
            <span class="productForm__inputLinkText" name="retailPriceHint"></span>
        </span>
        <span class="inputText__postfix">руб.</span>
    </div>
    <input type="hidden" value="<%e model.get('retailPricePreference') %>" name="retailPricePreference" />
</fieldset>
<fieldset class="form__fieldset">
    <legend class="form__legend">Необязательно к заполнению</legend>
    <div class="form__field form__field_inline">
        <label class="form__label">Штрихкод</label>
        <input value="<%e model.get('barcode') %>" class="inputText" type="text" name="barcode"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Страна производства</label>
        <input value="<%t model.get('vendorCountry') %>" class="inputText" type="text" name="vendorCountry"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Производитель</label>
        <input value="<%t model.get('vendor') %>" class="inputText" type="text" name="vendor"/>
    </div>
    <div class="form__field form__field_inline">
        <label class="form__label">Дополнительная информация</label>
        <textarea class="inputText" name="info"><%e model.get('info') %></textarea>
    </div>
</fieldset>
<div class="form__controls">
    <span class="button button_color_blue">
        <%t model.id ? 'Сохранить' : 'Добавить' %>
        <input type="submit"/>
    </span>
</div>
